<template>
  <ModalWrapper v-on:close-it="$emit('close-it')" :opened="opened">
    <div slot="above">
      <div class="modal-tabs-wrapper">
        <div
          class="modal-tab ml-10"
          :class="{ active: state !== 'reg' }"
          @click="state = 'auth'"
        >
          <span>Вход</span>
        </div>
        <div
          class="modal-tab ml-5"
          :class="{ active: state === 'reg' }"
          @click="state = 'reg'"
        >
          <span>Регистрация</span>
        </div>
      </div>
    </div>
    <div slot="main">
      <div v-if="state === 'auth'">
        <form @keyup.enter="submitEnter">
          <h3 class="mb-10">Рады вас видеть вновь!</h3>
          <p class="mb-30">
            Весь спектр возможностей нашего сервиса станет доступен после
            авторизации.
          </p>
          <div class="mb-10">
            <!--
                        <input type="text" v-if="isEmail" v-model="email" placeholder="Моб. телефон или адрес почты" class="rounded-input mb-10 block" id="signInEmail"/>
                        <vue-tel-input v-model="email" v-if="isPhone" :preferredCountries="['kg', 'kz']" class="rounded-input mb-10 tel-input" id="signInPhone"/>
                        -->

            <!-- <masked-input
              v-model="email"
              mask="\9\9\6 111 11 11 11"
              placeholder-char=" "
              placeholder="Введите телефон"
              type="tel"
              class="rounded-input mb-10 block"
            /> -->

            <!-- <input
              v-on:keypress="isNumber()"
              @change="changeLogin"
              v-model="email"
              placeholder="Введите телефон"
              class="rounded-input mb-10 block"
            /> -->
            <the-mask :mask="['996 ### ## ## ##', '996 ### ## ## ##']" 
             v-model="email"
              placeholder="Введите телефон"
             type="tel"
              class="rounded-input mb-10 block"/>
            <input
              type="password"
              v-model="pass"
              placeholder="Введите пароль"
              class="rounded-input mb-10 block"
            />
          </div>
          <!--
                    <div class="mb-15 remember-me pointer" @click="rememberMe = !rememberMe">
                        <div class="checkbox mr-10" :class="{pressed: rememberMe}">
                            <font-awesome-icon class="checkbox-check" :icon="['fal', 'check']" />
                        </div>
                        <span>Запомнить меня</span>
                    </div>
                    -->
          <div class="mb-15">
            <Button type="blue" @click="authenticate" text="Войти на сайт" />
          </div>
          <p class="mb-15 gray-body-text">
            Если у вас не получается войти на сайт, вы можете восстановить
            учетную запись
          </p>
          <a
            class="dark-body-text underlined pointer"
            @click="state = 'forget-pass-1'"
            >Восстановить пароль</a
          >
        </form>
      </div>
      <div v-else-if="state === 'reg'">
        <form @keyup.enter="submitEnterReg">
          <h3 class="mb-10">Добро пожаловать!</h3>
          <p class="mb-30">
            Мы рады предоставить вам весь спектр возможностей нашего сайта.
          </p>
          <div class="mb-10">
            <input
              type="text"
              v-model="full_name"
              placeholder="ФИО"
              class="rounded-input mb-10 block"
            />
            <masked-input
              v-model="email"
              mask="\9\9\6 111 11 11 11"
              placeholder-char=" "
              placeholder="Введите телефон"
              type="tel"
              class="rounded-input mb-10 block"
            />
            <!--input type="text" v-model="email" placeholder="Моб. телефон или адрес почты" class="rounded-input mb-10 block" /-->
            <input
              type="password"
              v-model="pass"
              placeholder="Придумайте пароль"
              class="rounded-input mb-10 block"
            />
            <input
              type="password"
              v-model="pass2"
              placeholder="Повторите пароль"
              class="rounded-input mb-10 block"
            />
          </div>
          <!--
                    <div class="mb-15 remember-me pointer" @click="rememberMe = !rememberMe">
                        <div class="checkbox mr-10" :class="{pressed: rememberMe}">
                            <font-awesome-icon class="checkbox-check" :icon="['fal', 'check']" />
                        </div>
                        <span>Запомнить меня</span>
                    </div>
                    -->
          <div>
            <Button type="blue" text="Зарегистрироваться" @click="register" />
          </div>
        </form>
      </div>
      <div v-else-if="state === 'activate-account'">
        <form>
          <h3 class="mb-30">Мы отправили вам код подтверждения</h3>
          <div class="mb-20">
            <input
              type="text"
              placeholder="Введите код подтверждения"
              v-model="activationCode"
              class="rounded-input block"
            />
          </div>
          <div class="mb-30">
            <span class="timer" v-if="this.seconds !== 0">{{
              timerState
            }}</span>
            <!--<a class="dark-body-text underlined pointer" v-else @click="state = 'forget-pass-1'">Отправить код заново</a>-->
            <a
              class="dark-body-text underlined pointer"
              v-else
              @click="register_dublicate"
              >Отправить код заново</a
            >
          </div>
          <div>
            <div class="inline-block mr-10">
              <Button type="blue" text="Далее" @click="registerStep2" />
            </div>
          </div>
        </form>
      </div>
      <div v-else-if="state === 'reg-ready'">
        <h3 class="mb-10">
          Учетная запись успешно создана. Добро пожаловать на checkin!
        </h3>
        <p class="mb-30">
          Мы рады предоставить вам весь спектр возможностей нашего сайта.
        </p>
        <div>
          <div class="inline-block mr-10">
            <Button type="blue" text="Готово" @click="state = 'auth'" />
          </div>
        </div>
      </div>
      <div v-else-if="state === 'forget-pass-1'">
        <form>
          <h3 class="mb-10">Не можете войти в свою учетную запись?</h3>
          <p class="mb-30">
            Если у вас не получается войти на сайт, вы можете восстановить
            учетную запись.
          </p>
          <div class="mb-30">
            <masked-input
              v-model="username"
              mask="\9\9\6 111 11 11 11"
              placeholder-char=" "
              placeholder="Введите телефон"
              type="tel"
              class="rounded-input mb-10 block"
            />
            <!--input v-model="username" type="text" placeholder="Моб. телефон или адрес почты" class="rounded-input block" /-->
          </div>
          <div>
            <div class="inline-block mr-10">
              <Button
                type="blue"
                text="Восстановить"
                @click="restorePassStep1"
              />
            </div>
            <div class="inline-block">
              <Button type="gray" text="Назад" @click="state = 'auth'" />
            </div>
          </div>
        </form>
      </div>
      <div v-else-if="state === 'forget-pass-2'">
        <form>
          <h3 class="mb-30">Мы отправили код восстановления вам на телефон</h3>
          <div class="mb-20">
            <input
              v-model="code"
              type="text"
              placeholder="Введите код восстановления"
              class="rounded-input block"
            />
          </div>
          <div class="mb-30">
            <span class="timer" v-if="this.seconds !== 0">{{
              timerState
            }}</span>
            <a
              class="dark-body-text underlined pointer"
              v-else
              @click="state = 'forget-pass-1'"
              >Отправить код заново</a
            >
          </div>
          <div>
            <div class="inline-block mr-10">
              <Button type="blue" text="Далее" @click="restorePassStep2" />
            </div>
            <div class="inline-block">
              <Button type="gray" text="Назад" @click="state = 'auth'" />
            </div>
          </div>
        </form>
      </div>
      <div v-else-if="state === 'forget-pass-3'">
        <form>
          <h3 class="mb-30">
            Введите в полях ниже новый пароль для своей учетной записи
          </h3>
          <div class="mb-20">
            <input
              v-model="new_password"
              type="password"
              placeholder="Придумайте новый пароль"
              class="rounded-input mb-10 block"
            />
            <input
              v-model="new_password_confirm"
              type="password"
              placeholder="Повторите пароль"
              class="rounded-input block"
            />
          </div>
          <div>
            <div class="inline-block mr-10">
              <Button
                type="blue"
                text="Восстановить"
                @click="restorePassFinish"
              />
            </div>
            <div class="inline-block">
              <Button type="gray" text="Назад" @click="state = 'auth'" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </ModalWrapper>
</template>
<style lang="stylus" scoped>
@import '../../styles/main.core.vars.styl';

.remember-me {
  display: flex;
  align-items: center;
}

p, h3 {
  width: 320px;
}

.rounded-input {
  width: 260px;
  border-radius: 29px;
  max-width: 100%;
  border: 1px solid #e0e0e0;
  padding: 10px 20px;
  background: #fff;
}

.tel-input {
  padding-left: 5px;
  padding: 5px;
}

.timer {
  color: $red_color;
}
</style>
<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import ModalWrapper from "@/wrappers/ModalWrapper.vue";
import Button from "@/components/Button.vue";
import http from "@/methods/http.ts";
import MaskedInput from "vue-masked-input";

import { TheMask } from "vue-the-mask";

@Component({
  components: {
    ModalWrapper,
    Button,
    MaskedInput,
    TheMask,
  },
})
export default class AuthModal extends Vue {
  @Prop(Boolean)
  opened: boolean;

  @Watch("opened", { deep: true, immediate: true })
  onStateChange() {
    this.email = "";
    this.state = this.$store.state.authModal.tab;
  }

  state = "auth";
  timer = setInterval(this.tick, 1000);
  seconds = 0;
  rememberMe = false;
  userId = "";
  activationCode = "";
  code = "";

  isEmail = true;
  isPhone = false;

  // data
  full_name = "";
  email = "";
  email_dublicate = "";
  pass = "";
  pass2 = "";
  username = "";
  token = "";
  new_password = "";
  new_password_confirm = "";

  /*
    @Watch('email', { deep: true, immediate: true })
    onEmailChange() {
        if (this.email.length === 0 || !/^[+]?\d+?$/.test(this.email)) {
            this.isEmail = true;
            this.isPhone = false;
            
            setTimeout(() => {
                document.getElementById('signInEmail').focus();
            }, 50);
            
        } else {
            this.isPhone = true;
            this.isEmail = false;

            setTimeout(() => {
                document.getElementById('signInPhone').lastChild['focus']();
            }, 50);
        }
    }
    */

  get timerState() {
    if (this.seconds === 60) return "01:00";
    return `00:${("0" + this.seconds).slice(-2)}`;
  }

  setTimer() {
    this.seconds = 60;
  }

  tick() {
    this.seconds !== 0 ? (this.seconds = this.seconds - 1) : void 0;
  }

  isNumber(evt) {
    evt = evt ? evt : window.event;
    let charCode = evt.which ? evt.which : evt.keyCode;
    let chars = [
      45,
      46,
      48,
      49,
      50,
      51,
      52,
      53,
      54,
      55,
      56,
      57,
      97,
      98,
      99,
      100,
      101,
      102,
      103,
      104,
      105,
      106,
      107,
      108,
      109,
      110,
      111,
      112,
      113,
      114,
      115,
      116,
      117,
      118,
      119,
      120,
      121,
      122,
    ];
    if (chars.indexOf(charCode) !== -1) {
      return true;
    } else {
      evt.preventDefault();
    }
  }

  changeLogin() {}

  restorePassStep1() {
    if (this.username === "") {
      this.$store.commit("notificate", {
        text: "Введите моб. телефон или адрес почты",
        type: "error",
      });
      return false;
    }
    http("user/restore_password", "post", false, {
      username: this.username.replace(/ /g, ""),
    })
      .then((r) => {
        if (r.data.success === true) {
          this.userId = r.data.user_id;
          this.code = "";
          this.state = "forget-pass-2";
          this.setTimer();
        } else {
          this.$store.commit("notificate", {
            text: "Введены неверные данные",
            type: "error",
          });
        }
      })
      .catch((r) => {
        this.$store.commit("notificate", {
          text: "Введены неверные данные",
          type: "error",
        });
      });
  }

  restorePassStep2() {
    if (this.code === "") {
      this.$store.commit("notificate", {
        text: "Введите код восстановления",
        type: "error",
      });
      return false;
    }
    http("user/restore_password/confirm", "post", false, {
      user_id: this.userId,
      code: this.code,
    })
      .then((r) => {
        if (r.data.success === true) {
          this.new_password = "";
          this.new_password_confirm = "";
          this.token = this.code;
          this.code = "";
          this.state = "forget-pass-3";
        } else {
          this.$store.commit("notificate", {
            text: "Введены неверные данные",
            type: "error",
          });
        }
      })
      .catch((r) => {
        this.$store.commit("notificate", {
          text: "Введены неверные данные",
          type: "error",
        });
      });
  }

  restorePassFinish() {
    if (this.new_password === "") {
      this.$store.commit("notificate", {
        text: "Придумайте новый пароль",
        type: "error",
      });
      return false;
    }
    if (this.new_password_confirm === "") {
      this.$store.commit("notificate", {
        text: "Повторите пароль",
        type: "error",
      });
      return false;
    }
    if (this.new_password !== this.new_password_confirm) {
      this.$store.commit("notificate", {
        text: "Пароли не совпадают",
        type: "error",
      });
      return false;
    }
    http("user/restore_password/change", "post", false, {
      token: this.token,
      user_id: this.userId,
      new_password: this.new_password,
    })
      .then((r) => {
        if (r.data.success === true) {
          this.new_password = "";
          this.new_password_confirm = "";
          this.state = "auth";
          this.$store.commit("notificate", {
            text: "Пароль успешно изменен",
            type: "action",
          });
        } else {
          this.$store.commit("notificate", {
            text: "Введены неверные данные",
            type: "error",
          });
        }
      })
      .catch((r) => {
        this.$store.commit("notificate", {
          text: "Введены неверные данные",
          type: "error",
        });
      });
  }

  authenticate() {
    http("user/login", "post", false, {
      username: `996${this.email.replace(/ /g, "")}`,
      password: this.pass,
    })
      .then((r) => {
        this.$store.commit("authenticate");
        this.$store.commit("setToken", r.data.token);
        this.$store.commit("notificate", {
          text: "Рады снова вас видеть на checkin.kg!",
          type: "action",
        });
        this.$emit("close-it");
      })
      .catch((error) => {
        this.$store.commit("notificate", {
          text: error.response.data.message,
          type: "error",
        });
      });
  }

  register() {
    if (this.pass !== this.pass2) {
      this.$store.commit("notificate", {
        text: "Пароли не совпадают",
        type: "error",
      });
      return false;
    }
    this.email_dublicate = this.email;
    http("user/create", "post", false, {
      full_name: this.full_name.trim(),
      email: this.email_dublicate.replace(/ /g, ""),
      password: this.pass,
      username: this.email.replace(/ /g, ""),
    })
      .then((r) => {
        this.state = "activate-account";
        this.userId = r.data.user_id;
        this.email = this.email_dublicate
          .substring(3, this.email_dublicate.length)
          .trim(); // убираем 996 из телефона
        this.setTimer();
      })
      .catch((error) => {
        this.$store.commit("notificate", {
          text: error.response.data.message,
          type: "error",
        });
      });
  }

  register_dublicate() {
    if (this.pass !== this.pass2) {
      this.$store.commit("notificate", {
        text: "Пароли не совпадают",
        type: "error",
      });
      return false;
    }
    http("user/create", "post", false, {
      full_name: this.full_name.trim(),
      email: this.email_dublicate.replace(/ /g, ""),
      password: this.pass,
      username: this.email_dublicate.replace(/ /g, ""),
    })
      .then((r) => {
        this.state = "activate-account";
        this.userId = r.data.user_id;
        this.email = this.email_dublicate
          .substring(3, this.email_dublicate.length)
          .trim(); // убираем 996 из телефона
        this.setTimer();
      })
      .catch((error) => {
        this.$store.commit("notificate", {
          text: error.response.data.message,
          type: "error",
        });
      });
  }

  registerStep2() {
    http("user/create/confirm", "post", false, {
      code: this.activationCode,
      user_id: this.userId,
    })
      .then((r) => {
        this.state = "reg-ready";
      })
      .catch((r) => {
        this.$store.commit("notification", {
          text: "Вы ввели неправильный код",
          type: "error",
        });
      });
  }
  submitEnter() {
    if (this.email !== "" && this.pass !== "") this.authenticate();
  }
  submitEnterReg() {
    this.register();
  }
}
</script>
