<template>
    <ModalWrapper v-on:close-it="$emit('close-it')" :opened="opened">
        <template slot="main">
        <div>
            <h3 class="mb-20">Запись к специалисту</h3>
            <select class="rounded-input" v-model="chosenService">
                <option v-for="service in services" :key="service.id" :value="service">{{ service.name }}</option>
            </select>
            <input type="text" v-model="fullNameInput" class="rounded-input block mt-10" placeholder="Ф.И.О.">
            <input type="text" v-model="phoneInput" class="rounded-input block mt-10" placeholder="Номер телефона">
            <input type="text" class="rounded-input block mt-10" placeholder="Цена услуги">
            <div class="mb-10">
                <span class="mr-10 block dark-body-text mt-20 mb-10">Время начала</span>
                <input class="mr-10 little-input rounded-input" v-model="startTime" placeholder="10:00" type="text" />
                <span class="mr-10 block dark-body-text mt-10 mb-10">Продолжительность</span>
                <input type="text" placeholder="30" v-model="endTime" class="little-input rounded-input" />
            </div>
            <textarea v-model="comment" class="rounded-input block mb-30" placeholder="Комментарий к записи"></textarea>
            <Button type="blue" text="Записать" @click="createReservation" />
        </div>
        </template>
    </ModalWrapper>
</template>
<style lang="stylus" scoped>
    @import '../../styles/main.core.vars.styl'

    p, .periods
        width: 400px

    .periods
        width: 400px

    .rounded-input
        width: 260px

    .little-input
        width: 75px

    textarea
        border-radius: 4px

    .times-too-choose
        display: flex
        flex-wrap: wrap
        width: 400px
        cursor: pointer
        .time
            width: 115px
            display: flex
            align-items: center
            justify-content: center
            height: 40px
            background: $very_light_gray
            border-radius: 4px
            
        
    
</style>
<script lang="ts">
import moment from 'moment';

import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import ModalWrapper from '@/wrappers/ModalWrapper.vue';
import Button from '@/components/Button.vue';

import http from '@/methods/http.ts';

@Component({
    components: {
        ModalWrapper,
        Button,
    }
})
export default class RegisterTimeModal extends Vue {
    @Prop(Boolean) opened: boolean;
    @Prop(Array) periods: any[];
    @Prop() specialist: any;
    @Prop() services: any;
    @Prop() date: any;

    fullNameInput: string;
    phoneInput: string;

    startTime: string;
    endTime: string;

    get fullName() {
        return `${this.$store.state.profile.first_name} ${this.$store.state.profile.last_name }`;
    }

    get phone() {
        return this.$store.state.profile.phone;
    }

    get formattedDate() {
        return `${moment(this.date, 'DD.MM.YYYY').format('MM/DD/YYYY')} ${this.chosenPeriod.start}`;
    }

    get duration() {
        return `${moment('00:00', 'HH:mm').add(moment.duration(this.endTime, 'minutes')).format('HH:mm:ss')}`
    }

    chosenService: any = this.services[0];
    chosenPeriod: any = {};

    comment: string = '';

    createReservation() {
        http(`masters/${this.specialist.slug}/reservation/create`, 'post', this.$store.state.token, {
            'full_name': this.fullNameInput,
            'date_time_reservation': `${moment(this.date, 'DD.MM.YYYY').format('YYYY-MM-DD')}T${this.startTime}`,
            'phone': this.phoneInput,
            'tittle': this.comment,
            'duration': this.duration,
        }).then(r => {
            this.$emit('reservation-created');
            this.$store.commit('notificate', { type: 'action', text: 'Спасибо, данное время забронировано' })
        })
    }

    step = 1;
}

</script>
