<template>
    <ModalWrapper v-on:close-it="$emit('close-it')" :opened="opened">
        <template slot="main">
            <div style="position:absolute;width:70px;margin-left:-90px;padding:10px;background:#24ceda;border-radius:5px 0 0 5px;color:#ffffff;text-align:center">
                <h2 style="color:#ffffff">{{ dateToString(date).split(' ')[0] }}</h2>
                <span>{{ dateToString(date).split(' ')[1] }}</span>
            </div>
        <div v-if="step === 1" style="max-height:400px;overflow-x:hidden">
            <h3 class="mb-10">Записаться</h3>
            <p class="mb-15">Выберите интересуемую вас услугу специалиста</p>
            <div class="type"></div>
            <div class="periods mb-20">
                <div class="period-wrapper mb-10 inline-block mr-10" v-for="service in services" :key="service.id">
                    <Button v-if="live === true" :text="service.name" @click="$emit('choose-sect', service); chosenService = service; step = 3;" type="gray" />
                    <Button v-else="" :text="service.name" @click="$emit('choose-sect', service); chosenService = service; step = 2;" type="gray" />
                </div>
            </div>
            <!--
            <p class="mb-15">Или укажите точное время</p>
            <div class="mb-30">
                <span class="mr-10">От</span>
                <input v-model="chosenPeriod.start" class="mr-10 rounded-input" placeholder="10:00" type="text" />
                <span class="mr-10">До</span>
                <input v-model="chosenPeriod.end" type="text" placeholder="11:00" class="rounded-input" />
            </div>
            -->
            <!--<Button type="blue" text="Продолжить" @click="step = 3" />-->
        </div>
        <div v-else-if="step === 2" style="max-height:400px;overflow-x:hidden">
            <h3 class="mb-10">Записаться</h3>
            <p v-if="periods.length > 0" class="mb-15">Выберите время посещения специалиста</p>
            <div v-if="periods.length > 0" class="times-too-choose mb-30">
                <div class="time mr-10 mb-10" v-for="(p, i) in periods" :key="i" @click="step = 3; chosenPeriod = p">{{ p.start }} - {{ p.end }}</div>
            </div>
            <div v-else="" class="mb-30">
                К сожалению на текущий день услуга
                <br><strong>{{ chosenService.name }}</strong> не доступна.
                <br>Попробуйте записаться на другой день
                <br>или воспользуйтесь другой услугой
            </div>
            <div>
                <div class="inline-block">
                <Button type="gray" text="Назад" @click="step = 1" />
                </div>
            </div>
        </div>
        <div v-else-if="step === 99" style="max-height:400px;overflow-x:hidden">
            <div id="printElement" class="mb-30" style="text-align:center">
                <p class="mb-15" style="text-align:center"><img src="/images/logo_black.svg" style="width:125px"></p>
                <p v-if="printData.org" class="dark-body-text" style="font-family: 'Arial Black';
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #000000;">{{ printData.org }}</p>
                <!--<hr v-if="printData.org" style="border-top: 1px dashed #cccccc" />-->
                <p style="font-family: 'Arial Black';
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: #000000;">Номер в очереди</p>
                <h1 style="font-family:'Arial Black';font-size:33px;color:#000">{{ printData.id }}</h1>
                <p class="dark-body-text" style="font-family: 'Arial Black';
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: #000000;">{{ printData.master_name }}</p>
                <p class="dark-body-text" style="font-family: 'Arial Black';
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #000000;">{{ printData.service }}</p>
                <p class="dark-body-text mb-15" style="font-family: 'Arial Black';
                line-height: normal;
                font-size: 10px;
                text-align: center;
                color: #000000;">{{ printData.price }} сом</p>
                <p style="font-family: 'Arial Black';
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #000000;">Клиент: {{ printData.client_name }}</p>
            </div>
            <div>
                <div class="mr-10 inline-block">
                    <Button type="blue" text="Печатать чек" @click="PrintMe('printElement')" />
                </div>
            </div>
        </div>
        <div v-else style="max-height:400px;overflow-x:hidden">
            <h3 class="mb-10">Всё готово</h3>
            <p class="mb-30">Благодарим вас за доверие к нашему сервису.<br />Ниже указаны подробности вашей заявки</p>
            <p class="mb-5">Ваше имя</p>
            <p class="dark-body-text mb-15" v-if="fullName">{{ fullName }}</p>
            <input v-model="fullNameInput" class="rounded-input mb-15" style="width:100%" v-else="" type="text" placeholder="Петров Иван" />
            <p class="mb-5">Ваш контактный номер</p>
            <p class="dark-body-text mb-15" v-if="phone">{{ phone }}</p>
            <masked-input v-else="" v-model="phoneInput" mask="\9\9\6 111 11 11 11" placeholder-char=" " type="tel" class="rounded-input mb-15" style="width:100%" />
            <!--<input v-model="phoneInput" class="rounded-input mb-15" style="width:100%" v-else="" type="text" placeholder="996550123456" />-->
            <div class="very-light-gray-line mb-15"></div>
            <p class="mb-5">Специалист</p>
            <p class="dark-body-text mb-15">{{ specialist.full_name }}</p>
            <p v-if="org.owner" class="mb-5">Учреждение</p>
            <p v-if="org.owner" class="dark-body-text mb-15">{{ org.owner }}</p>
            <p class="mb-5">Адрес</p>
            <p v-if="org.street_address" class="dark-body-text mb-15">{{ org.street_address.replace(/:::::/g, ", ") }}</p>
            <p v-else="" class="dark-body-text mb-15">{{ specialist.street_address.replace(/:::::/g, ", ") }}</p>
            <p class="mb-5">Время записи</p>
            <p v-if="live === true" class="dark-body-text mb-15">Живая очередь ({{ chosenService.name }})</p>
            <p v-else="" class="dark-body-text mb-15">{{ chosenPeriod.start }} - {{ chosenPeriod.end }} ({{ chosenService.name }})</p>
            <p class="mb-5">Приблизительная стоимость</p>
            <p class="dark-body-text mb-15">~{{ chosenService.price }} сом</p>
            <!-- <div class="mb-10 sms-notification">
                <div class="checkbox mr-10" :class="{ pressed: isSmsNotificate }" @click="isSmsNotificate = !isSmsNotificate">
                    <font-awesome-icon class="checkbox-check" :icon="['fal', 'check']" />
                </div>
                <span>Уведомить меня за час</span>
            </div> -->
            
            <textarea v-model="comment" style="width:100%" class="mb-30"></textarea>
            <div>
                <div class="mr-10 inline-block">
                <Button v-if="live === true" type="blue" text="Записать" @click="createLiveReservation" />
                <Button v-else="" type="blue" text="Завершить" @click="createReservation" />
                </div>
                <div class="inline-block">
                <Button type="gray" text="Назад" @click="step = 1" />
                </div>
            </div>
        </div>
        </template>
    </ModalWrapper>
</template>
<style lang="stylus" scoped>
    @import '../../styles/main.core.vars.styl'

    p, .periods
        width: 320px

    .periods
        width: 320px

    .rounded-input
        width: 75px

    .times-too-choose
        display: flex
        flex-wrap: wrap
        width: 320px
        cursor: pointer
        .time
            width: 115px
            display: flex
            align-items: center
            justify-content: center
            height: 40px
            background: $very_light_gray
            border-radius: 4px
    .sms-notification
        display: flex
        flex-firection: row
            
        
    
</style>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import ModalWrapper from '@/wrappers/ModalWrapper.vue';
import Button from '@/components/Button.vue';
import MaskedInput from 'vue-masked-input'
import http from '@/methods/http.ts';
import moment from 'moment';

@Component({
    components: {
        ModalWrapper,
        Button,
        MaskedInput
    }
})
export default class RegisterTimeModal extends Vue {
    @Prop(Boolean) opened: boolean;
    @Prop(Array) periods: any[];
    @Prop() specialist: any;
    @Prop() services: any;
    @Prop() date: any;
    @Prop() org: any;
    @Prop() live: boolean = false;
    @Prop() registrator: boolean = false;

    fullNameInput: string = '';
    phoneInput: string = '';
    isSmsNotificate = false

    @Watch('opened', {deep: true, immediate: true})
    onOpenedChange() {
        if (this.opened === false) {
            this.step = 1;
            this.fullNameInput = '';
            this.phoneInput = '';
            this.comment = '';
        }

    }
    onStateChanged() {
        this.step = 1;
    }

    get fullName() {
        //if (this.specialist.user === this.$store.state.profile.user_ptr_id) {
        if (this.registrator === true) {
            return '';
        } else {
            return this.$store.state.profile.full_name;
        }
    }

    get phone() {
        //if (this.specialist.user === this.$store.state.profile.user_ptr_id) {
        if (this.registrator === true) {
            return '';
        } else {
            return this.$store.state.profile.phone;
        }
    }

    get formattedDate() {
        return `${moment(this.date, 'DD.MM.YYYY').format('MM/DD/YYYY')} ${this.chosenPeriod.start}`;
    }

    dateToString(date) {
        return moment(date, 'DD.MM.YYYY').format('DD MMMM');
    }

    chosenService: any = {};
    chosenPeriod: any = {};
    comment: string = '';

    printData = {
        'id': '',
        'org': '',
        'service': '',
        'master_name': '',
        'price': '',
        'client_name': '',
        'comment': ''
    };

    PrintMe(elm) {
        var disp_setting="toolbar=yes,location=no,";
        disp_setting+="directories=yes,menubar=yes,";
        disp_setting+="scrollbars=yes,width=650, height=600, left=100, top=25";
        var content_vlue = document.getElementById(elm).innerHTML;
        var docprint=window.open("","",disp_setting);
        docprint.document.open();
        docprint.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"');
        docprint.document.write('"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">');
        docprint.document.write('<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">');
        docprint.document.write('<head><title>My Title</title>');
        docprint.document.write('<style type="text/css">body{ margin:0px;');
        docprint.document.write('font-family:verdana,Arial;color:#000;');
        docprint.document.write('font-family:Verdana, Geneva, sans-serif; font-size:12px;}');
        docprint.document.write('a{color:#000;text-decoration:none;} </style>');
        docprint.document.write('</head><body onLoad="self.print()"><center>');
        docprint.document.write(content_vlue);
        docprint.document.write('</center></body></html>');
        docprint.document.close();
        docprint.focus();
    }

    createLiveReservation() {
        
        http(`masters/${this.specialist.slug}/reservation/create`, 'post', 'guest', {
            'service': this.chosenService.name,
            'price': this.chosenService.price,
            'master_name': this.org.owner,
            //'owner': this.org.owner,
            'client_name': this.fullNameInput,
            'reservation_time': moment().format('DD.MM.YYYY HH:mm'),
            'phone': this.phoneInput,
            'comment': this.comment,
            'duration': this.chosenService.duration,
            'street_address': this.org.street_address || this.specialist.street_address,
            'status': 'confirmed',
            'live': true
        }).then(r => {
            if (r.data.success === true) {
                console.group('createLiveReservation')
                console.groupEnd()
                this.printData.id = r.data.number;
                this.printData.master_name = this.specialist.full_name;
                this.printData.org = this.org.owner;
                this.printData.service = this.chosenService.name;
                this.printData.client_name = this.fullNameInput;
                this.printData.price = this.chosenService.price;

                this.step = 99;

                this.fullNameInput = '';
                this.phoneInput = '';
                this.comment = '';
                this.$emit('reservation-created');
                //this.$store.commit('notificate', { type: 'action', text: 'Спасибо, данное время забронировано' })
            }
        }).catch(error => {
            this.$store.commit('notificate', { text: error.response.data.message, type: 'error' });
        });
    }

    createReservation() {
        let token = '';
        let order_status = '';
        //if (this.$store.state.token && this.specialist.user !== this.$store.state.profile.user_ptr_id) {
        if (this.registrator === true) {
            token = 'guest';
            order_status = 'confirmed';
        } else {
            token = this.$store.state.token;
            order_status = 'armored';
        }
        const date = `${this.date} ${this.chosenPeriod.start}`
        const reservationDate = moment(date, 'DD.MM.YYYY HH:mm')
        http(`masters/${this.specialist.slug}/reservation/create`, 'post', token, {
            'service': this.chosenService.name,
            'price': this.chosenService.price,
            'master_name': this.org.owner, //this.specialist.full_name,
            //'owner': this.org.owner,
            'client_name': this.fullName || this.fullNameInput,
            'reservation_time': `${moment(this.date, 'DD.MM.YYYY').format('DD.MM.YYYY')} ${this.chosenPeriod.start}`,
            'phone': this.phone || this.phoneInput,
            'comment': this.comment,
            'duration': this.chosenService.duration,
            'street_address': this.org.street_address || this.specialist.street_address,
            'status': order_status,
            'alert_date': reservationDate.format('YYYY-MM-DD'),
            'alert_time': this.isSmsNotificate ? this.calculateTime(reservationDate) : ""
        }).then(r => {
            this.fullNameInput = '';
            this.phoneInput = '';
            this.isSmsNotificate = false;
            this.$emit('reservation-created');
            this.$store.commit('notificate', { type: 'action', text: 'Спасибо, данное время забронировано' })
        }).catch(error => {
            this.$store.commit('notificate', { text: error.response.data.message, type: 'error' });
        });
    }

    calculateTime(date) {
        return date.subtract({ hours: 1 }).startOf('hour').format('HH:mm')
    }

    step = 1;
}

</script>
