<template>
    <ModalWrapper v-on:close-it="$emit('close-it')" :opened="opened">
        <template slot="main">
            <span>Заявка на создание учетной записи специалиста успешно прошла модерацию. После закрытия модалки вы будете перенаправлены на страницу создания расписания</span>
        </template>
    </ModalWrapper>
</template>
<style lang="stylus" scoped>
    @import '../../styles/main.core.vars.styl'

    p, .periods
        width: 320px

    .periods
        width: 320px

    .rounded-input
        width: 75px

    .times-too-choose
        display: flex
        flex-wrap: wrap
        width: 320px
        cursor: pointer
        .time
            width: 115px
            display: flex
            align-items: center
            justify-content: center
            height: 40px
            background: $very_light_gray
            border-radius: 4px
    .sms-notification
        display: flex
        flex-firection: row
            
        
    
</style>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import ModalWrapper from '@/wrappers/ModalWrapper.vue';
import Button from '@/components/Button.vue';
import MaskedInput from 'vue-masked-input'
import http from '@/methods/http.ts';
import moment from 'moment';

@Component({
    components: {
        ModalWrapper,
        Button,
        MaskedInput
    }
})
export default class WelcomeSpecialist extends Vue {
    @Prop(Boolean) opened: boolean;
}

</script>
