<template>
  <MainWrapper>
    <div class="companies-control-panel mb-30">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="companies-control-panel-inner">
              <router-link to="/user/companies" class="mr-20 header-link">
                <font-awesome-icon
                  class="mr-10 panel-icon"
                  :icon="['fal', 'user-circle']"
                />
                <span class="dark-body-text panel-body-text">Мои компании</span>
              </router-link>
              <!--
                        <router-link to="" class="mr-20">
                            <font-awesome-icon class="mr-10 panel-icon" :icon="['fal', 'user-circle']" />
                            <span class="dark-body-text panel-body-text"></span>
                        </router-link>
              -->
              <router-link
                v-if="company.id !== 999999999"
                :to="`/companies/${$route.params.slug}/invite-specialist`"
                class="mr-20 header-link"
              >
                <font-awesome-icon
                  class="mr-10 panel-icon"
                  :icon="['fal', 'user-circle']"
                />
                <span class="dark-body-text panel-body-text"
                  >Пригласить специалиста</span
                >
              </router-link>
              <router-link
                v-if="company.id !== 999999999"
                :to="`/companies/${$route.params.slug}/settings`"
                class="mr-20 pointer header-link"
              >
                <font-awesome-icon
                  class="mr-10 panel-icon"
                  :icon="['fal', 'cog']"
                />
                <span class="dark-body-text panel-body-text">Настройки</span>
              </router-link>
              <router-link
                v-if="company.id !== 999999999"
                :to="`/companies/${$route.params.slug}/reservations`"
                class="mr-20 header-link"
              >
                <font-awesome-icon
                  class="mr-10 panel-icon"
                  :icon="['fal', 'calendar-check']"
                />
                <span class="dark-body-text panel-body-text">Все записи</span>
              </router-link>
              <div v-if="company.id !== 999999999" class="pointer pull-right">
                <router-link
                  :to="`/companies/${$route.params.slug}/add-specialist`"
                >
                  <span class="dark-body-text panel-body-text">Добавить</span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-master-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="mb-30">Мой профиль</h3>
            <div class="gray-line mb-15"></div>
            <div class="filters mb-15" style="display: inline-block">
              <div class="single-filter pointer mr-30">
                <div class="filter-icon mr-10">
                  <font-awesome-icon class="icon" :icon="['fal', 'building']" />
                </div>
                <span>Создать учреждение</span>
              </div>
            </div>
            <div class="filters mb-15" style="display: inline-block">
              <router-link
                :to="`/companies/${$route.params.slug}/schedule`"
                class="single-filter pointer mr-30"
              >
                <div class="filter-icon mr-10">
                  <font-awesome-icon
                    class="icon"
                    :icon="['fal', 'user-circle']"
                  />
                </div>
                <span>Настройки расписания</span>
              </router-link>
            </div>
            <div class="gray-line mb-20"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="white-panel pt-20 pb-20 pr-20 pl-20">
              <div class="container-fluid">
                <div class="row">
                  <div class="tabs mb-30">
                    <h4 class="mb-20">Создание учреждение</h4>
                    <div class="light-gray-line"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 no-p">
                    <p class="dark-body-text mb-10">Данные учреждения</p>
                    <p class="mb-30">
                      Заполните все поля. Это необходимое условие для записи к
                      специалистам и обеспечению безопасности вашей учетной
                      записи.
                    </p>

                    <img
                      v-if="company.photo !== ''"
                      :src="company.photo"
                      class="mb-15"
                      style="width: 200px; height: 200px"
                    />
                    <p class="mb-15">
                      Фото учреждения будет отображаться на странице учреждений
                      и на вашей персональной странице.
                    </p>

                    <avatar-cropper
                      :labels="userAvatarLabels"
                      @uploaded="handleUploaded"
                      trigger="#pick-avatar"
                      :upload-url="siteUrl + '/content/upload/photo'"
                    />
                    <div class="button-wrapper mb-15">
                      <Button
                        id="pick-avatar"
                        type="gray"
                        class="mr-10"
                        text="Загрузить"
                      />
                    </div>

                    <div class="input-wrapper mb-10">
                      <input
                        v-model="company.name"
                        class="rounded-input"
                        type="text"
                        placeholder="Название компании"
                      />
                    </div>
                    <div class="input-wrapper mb-10">
                      <input
                        v-model="company.email"
                        class="rounded-input"
                        type="mail"
                        placeholder="example@example.com"
                      />
                    </div>
                    <div
                      class="input-wrapper mb-10"
                      v-for="(p, i) in company.contacts"
                      :key="i"
                    >
                      <masked-input
                        v-model="p.phone"
                        mask="\9\9\6 111 11 11 11"
                        placeholder-char=" "
                        placeholder="Введите телефон"
                        type="tel"
                        class="rounded-input mr-15"
                      />
                      <!-- <input class="rounded-input mr-15" type="tel" v-model="phone" placeholder="996 556 088 891" /> -->
                      <span class="red-body-text pointer" @click="unsetPhone(i)"
                        >Удалить</span
                      >
                    </div>
                    <div class="button-wrapper mb-15">
                      <Button
                        type="gray"
                        class="mr-10"
                        @click="addPhone"
                        text="Добавить номер"
                      />
                    </div>
                    <p class="gray-body-text mb-15">Ваш адрес</p>
                    <div class="input-wrapper mb-30">
                      <!--<cascading-address></cascading-address>-->
                      <select
                        v-model="addr_a"
                        class="rounded-input mr-10"
                        style="width: 150px"
                      >
                        <option value selected disabled>Выберите</option>
                        <option value="Бишкек">Бишкек</option>
                        <option value="Кант">Кант</option>
                      </select>
                      <input
                        v-model="addr_b"
                        class="rounded-input mr-10"
                        type="text"
                        placeholder="Район или улица"
                      />
                      <input
                        v-model="addr_c"
                        class="rounded-input"
                        type="text"
                        placeholder="№ дома"
                        style="width: 100px"
                      />
                    </div>
                    <!--<textarea v-model="company.street_address" class="mb-15" placeholder="г. Бишкек ул. Исанова 70а"></textarea>-->
                    <p class="gray-body-text mb-15">
                      Краткое описание отображается на странице всех
                      специалистов
                    </p>
                    <vue-editor
                      id="short_info"
                      v-model="company.short_info"
                      :editorToolbar="customToolbar"
                      class="mb-15"
                      placeholder="Краткое описание ваших услуг"
                    ></vue-editor>
                    <!--<textarea v-model="company.short_info" class="mb-15" placeholder="Краткое описание ваших услуг"></textarea>-->
                    <p class="gray-body-text mb-15">
                      Полное описание отображается у вас на странице
                    </p>
                    <vue-editor
                      id="full_info"
                      v-model="company.full_info"
                      :editorToolbar="customToolbar"
                      class="mb-15"
                      placeholder="Полное описание ваших услуг"
                    ></vue-editor>
                    <!--<textarea v-model="company.full_info" class="mb-15" placeholder="Полное описание ваших услуг"></textarea>-->

                    <p class="gray-body-text mb-15">Список услуг учреждения</p>
                    <div
                      v-if="!isEmptyCompany && company.categories.length > 0"
                      class="input-wrapper mb-10"
                      v-for="(item, i) in company.categories"
                      :key="item.id"
                    >
                      <input
                        class="rounded-input mr-15"
                        style="background: #e0e0e0"
                        type="text"
                        :value="item.name"
                        disabled
                      />
                      <span
                        @click="unsetCategories(i)"
                        class="red-body-text pointer"
                        >Удалить</span
                      >
                    </div>

                    <div class="input-wrapper">
                      <select
                        class="rounded-input"
                        v-model="cat_level1"
                        @change="setCategoriesLevel2()"
                      >
                        <option value="0" disabled>Выберите категорию</option>
                        <option
                          v-for="(cat, i) in categories"
                          :key="cat.id"
                          :value="cat.slug"
                        >
                          {{ cat.name }}
                        </option>
                      </select>
                    </div>
                    <div v-if="level2.length > 0" class="input-wrapper mt-10">
                      <select
                        class="rounded-input"
                        v-model="cat_level2"
                        @change="setCategories()"
                      >
                        <option value="0" disabled>Выберите категорию</option>
                        <option
                          v-for="(cat, i) in level2"
                          :key="cat.id"
                          :value="cat.id + ':::' + cat.name + ':::' + cat.slug"
                        >
                          {{ cat.name }}
                        </option>
                      </select>
                    </div>
                    <CustomMap
                      v-if="!isEmptyCompany"
                      :lat="this.company.latitude || 0"
                      :lng="this.company.longitude || 0"
                      :center="{ lat: 42.8717873, lng: 74.6131377 }"
                      @setGeolocation="handleLocation"
                    />z
                    <div class="input-wrapper mb-30">
                      <Button
                        @click="getGeoLocation"
                        type="gray"
                        class="mr-10"
                        text="Определить моё местоположение"
                      />
                    </div>
                    <p class="gray-body-text mb-15">Ваши сертификаты</p>
                    <div
                      v-if="!isEmptyCompany && company.certificate.length > 0"
                      class="mb-15"
                    >
                      <div
                        class="mr-15"
                        v-for="(s, i) in company.certificate"
                        :key="i"
                        style="display: inline-block"
                      >
                        <a :href="s.url" target="_blank">
                          <img style="height: 170px" :src="s.url" />
                        </a>
                        <p style="cursor: pointer" @click="unsetSertificate(i)">
                          Удалить
                        </p>
                      </div>
                    </div>
                    <input
                      type="file"
                      @change="setSertificate($event.target.files)"
                      id="sertificate-upload"
                      accept="image/*"
                      class="input-file"
                    />
                    <div class="input-wrapper mb-30">
                      <label for="sertificate-upload">
                        <Button type="gray" class="mr-10" text="Загрузить" />
                      </label>
                    </div>
                    <p class="gray-body-text mb-15">Ваше портфолио</p>
                    <div
                      v-if="!isEmptyCompany && company.portfolio.length > 0"
                      class="mb-15"
                    >
                      <div
                        class="mr-15"
                        v-for="(p, i) in company.portfolio"
                        :key="i"
                        style="display: inline-block"
                      >
                        <a :href="p.url" target="_blank">
                          <img style="height: 170px" :src="p.url" />
                        </a>
                        <p style="cursor: pointer" @click="unsetPortfolio(i)">
                          Удалить
                        </p>
                      </div>
                    </div>
                    <input
                      type="file"
                      @change="setPortfolio($event.target.files)"
                      id="portfolio-upload"
                      accept="image/*"
                      class="input-file"
                    />
                    <div class="input-wrapper mb-30">
                      <label for="portfolio-upload">
                        <Button type="gray" class="mr-10" text="Загрузить" />
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-12 no-p">
                    <div class="button-wrapper mb-30">
                      <Button
                        type="blue"
                        text="Сохранить настройки"
                        @click="updateCompany"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </MainWrapper>
</template>
<style lang="stylus" scoped>
@import '../../styles/main.core.vars.styl';

.icon {
  font-size: 18px;
}

.single-filter {
  display: inline-flex;
  align-items: center;

  .filter-icon {
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid cyan_dark_color;
    color: cyan_dark_color;
  }
}

.spec-photo {
  width: 70px;
  height: 70px;
  background: #ccc;
  border-radius: 100%;
}

textarea {
  border-radius: 8px;
  border: 1px solid $light_gray;
  padding: 10px 15px;
  width: 500px;
  max-width: 100%;
  min-height: 150px;
}

.services-list {
  width: 500px;
  max-width: 100%;
}

.map-wrapper {
  overflow: hidden;
  border-radius: 4px;
  width: 820px;
  max-width: 100%;
}

input[type='file'] {
  display: none;
}

@media screen and (max-width: 600px) {
  a.mr-20 {
    margin-right: 0 !important;
  }

  div.pull-right {
    margin-left: 0 !important;
  }

  .companies-control-panel-inner {
    flex-wrap: wrap;
    justify-content: space-between;

    .pull-right {
      margin-left: none !important;
    }
  }
}
</style>
<script>
import { Component, Vue, Watch } from "vue-property-decorator";
import MainWrapper from "@/wrappers/MainWrapper.vue";
import Button from "@/components/Button.vue";
import News from "@/components/News.vue";
import Paginator from "@/components/Paginator.vue";
import CustomMap from "@/components/CustomMap";
import http from "@/methods/http.ts";
import * as VueGoogleMaps from "vue2-google-maps";
import axios from "axios";
import AvatarCropper from "vue-avatar-cropper";
import MaskedInput from "vue-masked-input";
import { VueEditor } from "vue2-editor";

@Component({
  components: {
    MainWrapper,
    Button,
    News,
    Paginator,
    AvatarCropper,
    MaskedInput,
    VueEditor,
    CustomMap,
  },
})
export default class CompanySettings extends Vue {
  data() {
    return {
      customToolbar: [
        ["bold", "italic", "underline"],
        [{ list: "ordered" }, { list: "bullet" }],
      ],
    };
  }

  siteUrl = "";

  addr_a = "";
  addr_b = "";
  addr_c = "";
  phone = "";
  tab = 3;
  center = { lat: 42.866044, lng: 74.595645 };
  m = {
    position: { lat: 42.866044, lng: 74.595645 },
  };

  photo = "";
  categories = [];
  level2 = [];
  level3 = [];
  cats = 0;
  cat_level1 = 0;
  cat_level2 = 0;
  cat_level3 = 0;

  userAvatarLabels = { submit: "Сохранить", cancel: "Отменить" };

  company = {};

  get isEmptyCompany() {
    return !Object.keys(this.company).length;
  }

  handleUploaded(resp) {
    this.company.photo = resp.url;
  }
  addPhone() {
    this.company.contacts.push({ phone: `${this.phone}` });
  }
  unsetPhone(idx) {
    this.company.contacts.splice(idx, 1);
  }

  unsetCategories(idx) {
    this.company.categories.splice(idx, 1);
  }

  setCategories() {
    let params = this.cat_level2;
    params = params.split(":::");

    this.company.categories.push({
      id: params[0],
      name: params[1],
      slug: params[2],
    });

    this.cat_level1 = 0;
    this.cat_level2 = 0;
    this.cat_level3 = 0;
    this.level2 = [];
    this.level3 = [];
  }

  setCategoriesLevel2() {
    this.cat_level2 = 0;
    this.cat_level3 = 0;
    this.level2 = [];
    this.level3 = [];
    let url = "categories/" + this.cat_level1;
    http(url, "get", false, {}).then((r) => {
      this.level2 = r.data.children;
    });
  }

  setCategoriesLevel3() {
    let url = "categories/" + this.cat_level2;
    http(url, "get", false, {}).then((r) => {
      this.level3 = r.data.children;
    });
  }

  getCategories() {
    http("categories/main", "get", false, {}).then((r) => {
      this.categories = r.data;
    });
  }

  detectMyPos() {
    navigator.geolocation.getCurrentPosition((g) => {
      this.m.position.lat = g.coords.latitude;
      this.m.position.lng = g.coords.longitude;
    });
  }

  getGeoLocation() {
    let self = this;
    let lat = 0;
    let lng = 0;
    if (!navigator.geolocation) {
      this.$store.commit("notificate", {
        text: "Геолокация отключена",
        type: "error",
      });
    } else {
      navigator.geolocation.getCurrentPosition(function (position) {
        lat = position.coords.latitude;
        lng = position.coords.longitude;
        self.setGeoLocation(lat, lng);
      });
    }
  }

  setGeoLocation(lat, lng) {
    this.company.latitude = lat;
    this.company.longitude = lng;
  }

  unsetSertificate(k) {
    this.company.certificate.splice(k, 1);
    //this.$store.commit('notificate', { text: 'Сертификаты обновлены', type: 'action' });
  }

  setSertificate(files) {
    let data = new FormData();
    data.append("file", files[0]);
    http("content/upload/certificate", "post", this.$store.state.token, data, {
      headers: {
        "Content-Type": "multipart/form-data",
      },
    })
      .then((r) => {
        if (r.data.success === true) {
          this.company.certificate.push({
            file_ptr_id: 1, //r.data.file_ptr_id,
            url: r.data.url,
          });
          this.$store.commit("notificate", {
            text: "Сертификаты обновлены",
            type: "action",
          });
        }
      })
      .catch((r) => {
        this.$store.commit("notificate", {
          text: "Введены неверные данные",
          type: "error",
        });
      });
  }

  unsetPortfolio(k) {
    this.company.portfolio.splice(k, 1);
    //this.$store.commit('notificate', { text: 'Портфолио обновлено', type: 'action' });
  }

  setPortfolio(files) {
    let data = new FormData();
    data.append("file", files[0]);

    http("content/upload/portfolio", "post", this.$store.state.token, data, {
      headers: {
        "Content-Type": "multipart/form-data",
      },
    })
      .then((r) => {
        if (r.data.success === true) {
          this.company.portfolio.push({
            id: r.data.id,
            url: r.data.url,
          });
          this.$store.commit("notificate", {
            text: "Портфолио обновлено",
            type: "action",
          });
        }
      })
      .catch((r) => {
        this.$store.commit("notificate", {
          text: "Введены неверные данные",
          type: "error",
        });
      });
  }

  getCompany() {
    http(`companies/${this.$route.params.slug}`, "get", false, {}).then((r) => {
      this.company = r.data;
      let street_address = r.data.street_address.split(":::::");
      this.addr_a = street_address[0];
      this.addr_b = street_address[1];
      this.addr_c = street_address[2];
      let contactsArr = [];
      this.company.contacts.map((o) => {
        let phone_without_zip_code = o.phone.replace("996", "");
        contactsArr.push({ phone: phone_without_zip_code });
      });
      this.company.contacts = contactsArr;
    });
  }

  updateCompany() {
    if (this.addr_a === "" || this.addr_b === "" || this.addr_c === "") {
      this.$store.commit("notificate", {
        text: "street_address data error",
        type: "error",
      });
      return false;
    }
    this.company.street_address =
      this.addr_a + ":::::" + this.addr_b + ":::::" + this.addr_c;
    http("company/update", "post", this.$store.state.token, this.company)
      .then((r) => {
        if (r.data.success === true) {
          this.$store.commit("notificate", {
            type: "info",
            text: "Данные успешно обновлены",
          });
        }
      })
      .catch((error) => {
        this.$store.commit("notificate", {
          text: error.response.data.message,
          type: "error",
        });
      });
  }

  handleLocation({ lat, lng }) {
    console.group("handleLocation");
    this.company.latitude = lat;
    this.company.longitude = lng;
    console.log("updated master", this.master);
    this.$store.commit("notificate", {
      text: "Ваше местоположение добавлено!",
      type: "action",
    });
  }

  created() {
    if (window.location.hostname === "localhost") {
      this.siteUrl = "http://api.checkin.local/api/v1";
    } else {
      this.siteUrl = "https://api.checkin.kg/api/v1";
    }
  }
  mounted() {
    setTimeout(this.getCompany());
    this.getCategories();
  }
}
</script>