.autocomplete__box,
.autocomplete__input {
  background: none !important;
  border: none !important;
}
.autocomplete__box img {
  margin-right: 10px;
}
.autocomplete__inputs input {
  width: 100%;
  background: none;
  border: none;
  color: #ffffff;
}
.autocomplete__inputs input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}
.autocomplete__inputs input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
.autocomplete__inputs input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}
.autocomplete__inputs input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
.transition,
.autocomplete,
.showAll-transition,
.autocomplete__results,
.autocomplete__results li a {
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.autocomplete .autocomplete__results {
  font-family: sans-serif;
  position: absolute;
  list-style: none;
  background: #f8f8f8;
  padding: 10px 0;
  margin: 0;
  display: inline-block;

  /*min-width: 15%;*/
  width: 350px;
  margin-top: 10px;
  z-index: 999999;
}

.autocomplete .autocomplete__results:before {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #f8f8f8;
  left: 46%;
  top: -20px;
}

.autocomplete .autocomplete__results li a {
  text-decoration: none;
  display: block;
  background: #f8f8f8;
  color: #2b2b2b;
  padding: 5px;
  padding-left: 10px;
  font-weight: 600;
}

.autocomplete__results li a:hover,
.autocomplete__results li.focus-list a {
  /*color: white;*/
  /*background: #2F9AF7;*/
}

.autocomplete__results li a:hover {
  text-decoration: underline;
}

.autocomplete__results li a span, /*backwards compat*/
.autocomplete__results li a .autocomplete-anchor-label {
  display: block;
  margin-top: 3px;
  color: grey;
  font-size: 13px;
}

.autocomplete ul li a:hover .autocomplete-anchor-label, 
.autocomplete ul li.focus-list a span, /*backwards compat*/
.autocomplete ul li a:hover .autocomplete-anchor-label, 
.autocomplete ul li.focus-list a span {
  /*backwards compat*/
  /*color: white;*/
}

/*.showAll-transition{
  opacity: 1;
  height: 50px;
  overflow: hidden;
} 

.showAll-enter{
  opacity: 0.3;
  height: 0;
}

.showAll-leave{
  display: none;
}*/
