flexiner(min, max, step)
  .flx-{min}
    flex 0 (min)%
  if min < max
    flexiner(min + step, max, step)

marginer(min, max, step)
  .mt-{min}
    margin-top (min px)
  .mb-{min}
    margin-bottom (min px)
  .ml-{min}
    margin-left (min px)
  .mr-{min}
    margin-right (min px)
  if min < max
    marginer(min + step, max, step)

paddinger(min, max, step)
  .pt-{min}
    padding-top (min px)
  .pb-{min}
    padding-bottom (min px)
  .pl-{min}
    padding-left (min px)
  .pr-{min}
    padding-right (min px)
  if min < max
    paddinger(min + step, max, step)

flexiner(1, 100, 1)
marginer(1, 45, 1)
paddinger(1, 45, 1)