<template>
  <MainWrapper>
    <!--div class="shares">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Акции и скидки</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3" v-for="(n,i) in Array(8)" :key="i">
            <Shares title="МЦ «Азмед»" date="до 31 августа" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="button-wrapper">
              <Button text="Все акции" />
            </div>
          </div>
        </div>
      </div>
    </div-->
    <div class="specialists">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Лучшие специалисты месяца</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12" v-for="spec in specialists" :key="spec.id">
            <Specialist :name="spec.full_name"
                        :rating="spec.rating"
                        :cats="spec.categories"
                        :state="false"
                        :address="'г. Бишкек'"
                        :img="spec.photo"
                        :slug="spec.slug"
                        :status="spec.opened_now"
                        :reviewCount="spec.feeds_count"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="button-wrapper">
              <router-link to="/masters">
                <Button text="Все специалисты" />
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="news">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Новости</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12" v-for="n in news" :key="n.id">
            <News :title="n.title" :date="n.created_at" :views="213" :img="n.image" :id="n.id" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="button-wrapper">
              <router-link to="/news">
                <Button text="Все новости" />
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </MainWrapper>
</template>
<style lang="stylus" scoped>
@import '../styles/main.core.vars.styl';

.news, .shares, .specialists {
  background: $gray;
  padding: 30px 0;
}

.shares {
  padding-top: 0;
}

h2 {
  margin-bottom: 30px;
}

.button-wrapper {
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .news,
  .specialists {
    padding-top: 30px;
  }
}
@media (max-width: 576px) {
  .news,
  .specialists {
    padding-top: 0;
  }
}
</style>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import moment from 'moment'
import MainWrapper from "@/wrappers/MainWrapper.vue";
import Button from "@/components/Button.vue";
import CategoriesMenu from "@/components/CategoriesMenu.vue";
import News from "@/components/News.vue";
import Shares from "@/components/Shares.vue";
import Specialist from "@/components/Specialist.vue";

import http from "@/methods/http.ts";

@Component({
  components: {
    MainWrapper,
    Button,
    CategoriesMenu,
    News,
    Shares,
    Specialist
  }
})
export default class Home extends Vue {
  specialists = [];
  news = [];


  getSpecialists() {
    http("masters", "get", false, {page_size: 6}).then(
      r => (this.specialists = r.data.results.slice(0, 6))
    );
  }

  getNews() {
    http("news", "get", false, {}).then(
      r => {
        this.news = r.data.results
        this.news = this.news.slice(0,4)
      }
    )
  }

  created() {
    this.getSpecialists();
    this.getNews();
    this.$store.commit("showSliderInHeader");
    
  }

  destroyed() {
    this.$store.commit("hideSliderInHeader");
  }
}
</script>