<template>
  <MainWrapper>
    <div class="companies-control-panel mb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="companies-control-panel-inner">
                        <div class="mr-20">
                            <font-awesome-icon class="mr-10 panel-icon" :icon="['fal', 'building']" />
                            <span class="dark-body-text panel-body-text">Поликлиника 312</span>
                        </div>
                        <div class="mr-20 pointer">
                            <font-awesome-icon class="mr-10 panel-icon" :icon="['fal', 'cog']" />
                            <span class="dark-body-text panel-body-text">Настройки учреждения</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-master-page">
        <div class="container">
            <div class="row">
                <h3 class="black-text text-center mb-15">Поиск специалиста в компании</h3>
                <div class="mb-30 text-center">
                    <div class="spec-search-wrapper inline-block">
                        <font-awesome-icon class="spec-search-icon" :icon="['far', 'search']" />
                        <input class="rounded-input spec-search" placeholder="Поиск специалиста по учреждению" />
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-4">
                    <div class="white-panel spec-categories">
                        <div class="spec-categories-header mb-15">
                            <h4>Все специалисты</h4>
                            <span class="dark-body-text spec-count">{{ specCount }}</span>
                        </div>
                        <div class="very-light-gray-line mb-15"></div>
                        <div class="spec-categories-body">
                            <div class="spec-categories-single mb-15" v-for="cat in categories" :key="cat.id">
                                <div class="checkbox pressed mr-15">
                                    <font-awesome-icon class="checkbox-check" :icon="['fal', 'check']" />
                                </div>
                                <span class="dark-body-text">{{ cat.name }}</span>
                                <font-awesome-icon :icon="['fal', 'angle-right']" class="icon" />
                            </div>
                        </div>
                        <div class="very-light-gray-line mb-30"></div>
                        <Button type="blue" text="Показать результаты" />
                    </div>
                </div> -->
                <div class="col-lg-12">
                    <div class="container-fluid no-p">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-30">
                                    <Paginator :pages='pages' v-if="pages > 1" :current='page' v-on:change-page="(p) => page = p" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4" v-for="spec in specialists" :key="spec.id">
                                <Specialist :name="spec.full_name"
                                            :rating="spec.rating"
                                            :cats="spec.categories[0]"
                                            :desc="spec.short_info"
                                            :state="false"
                                            :address="'г. Бишкек'"
                                            :img="spec.photo_url"
                                            :slug="spec.slug"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <Paginator :pages='pages' v-if="pages > 1" :current='page' v-on:change-page="(p) => page = p" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </MainWrapper>
</template>
<style lang="stylus" scoped>
    @import '../styles/main.core.vars.styl';

    .spec-categories
        padding: 20px 60px 30px 20px

    .spec-categories-header
        display: flex
        .spec-count
            margin: 0 0 0 auto
            color: $gray_text

    .spec-categories-single
        display: flex
        align-items: center
        >.icon
            margin-left: auto
            font-size: 16px

    .companies-control-panel
        margin-top: -30px
        height: 56px
        background: $black_text
        .panel-body-text, .panel-icon
            color: #fff
        &-inner
            height: 56px
            display: flex
            align-items: center
        input
            width: 430px

    .col-lg-1
        min-height: 0

    .arr-down
        position: absolute
        bottom: -2px
        width: 0
        height: 0
        border-left: 9px solid transparent
        border-right: 9px solid transparent
        border-bottom: 9px solid $black_text
        z-index: 4
        left: 0
        right: 0
        margin: auto

    .spec-search-icon
        position: absolute
        top: 0
        bottom: 0
        margin: auto
        left: 15px
        color: $dark_gray_text

    .spec-search
        width: 420px
        padding: 9px 15px 10px 40px

    .spec-search-wrapper
        position: relative
    
</style>
<script>
    import { Component, Vue, Watch } from "vue-property-decorator";
    import MainWrapper from '@/wrappers/MainWrapper.vue';
    import Button from '@/components/Button.vue';
    import Specialist from '@/components/Specialist.vue';
    import Paginator from '@/components/Paginator.vue';

    import http from '@/methods/http.ts';

    @Component({
        components: {
            MainWrapper,
            Button,
            Specialist,
            Paginator
        }
    })
    export default class CompanyAdmin extends Vue {

        specialists = [];
        categories = [];
        childCategories = [];

        lvl1Scrolled = 0;
        lvl2Scrolled = 0;

        page = 1;
        pages = 0;

        @Watch('$route', {deep: true, immediate: true})
        onRouteChange() {
            this.page = 1

            this.getSpecialists();
        }

        @Watch('page', {deep: true, immediate: true})
        onPageChange() {
            this.getSpecialists();
        }

        getSpecialists() {
            http(`companies/${this.$route.params.slug}/specialists`, "get", false, {
                page: this.page,
                limit: 8,
                categories: this.chosenChildCategory || this.chosenCategory || undefined,
            }).then(
                r => {
                    this.specialists = r.data.results;
                    this.pages = Math.ceil(r.data.count / 10);
                    this.specCount = r.data.count;
                }
            );
        }

        getCompany() {
            http(`companies/${this.$route.params.slug}`, "get", false, {})
                .then(
                    r => {
                        console.log(r.data);
                    }
                )
        }

        created() {
            this.getSpecialists();
            this.getCompany();
        }


    }
</script>