<template>
    <div class="button animated-shadow" @click="$emit('click')" :class="{ blue: type === 'blue', gray: type === 'gray' }">
        <font-awesome-icon v-if="icon" class="button-icon" :icon="[iconType || 'fal', icon]" />
        <span>
            {{ text }}
        </span>
    </div>
</template>
<style lang="stylus" scoped>
    @import '../styles/main.core.vars.styl'
    
    .button
        padding: 15px 30px
        background: #fff
        border-radius: 25px
        display: inline-flex
        align-items: center
        cursor: pointer
        transition: 0.3s
        span
            color: brown_color
            font-size: 13px
            font-family: 'Montserrat', sans-serif
            font-weight: 700
            transition: 0.3s

    .button:hover
        span
            color: cyan_dark_color
        .button-icon
            color: cyan_dark_color

    .button:active
        span
            color: cyan_dark_color
        .button-icon
            color: cyan_dark_color

    .button-icon
        margin-right: 10px
        font-size: 16px
        transition: 0.3s

    .blue
        background: linear-gradient(111.94deg, #1BEFDC 0%, #24CEDA 100%);
        span
            color: #fff;
        .button-icon
            color: #fff;

    .blue:active, .blue:hover
        span
            color: #fff
        .button-icon
            color: #fff

    .gray
        background: $very_light_gray
        span
            color: $black_text

    .gray:active, .gray:hover
        span
            color: $black_text
        .button-icon
            color: $black_text

    .red
        background: #eb5757
        span
            color: #ffffff
        .button-icon
            color: #ffffff

    .red:active, .red:hover
        span
            color: #ffffff
        .button-icon
            color: #ffffff
</style>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class Button extends Vue {
    @Prop(String) text!: string
    @Prop(String) icon: string
    @Prop(String) type: string
    @Prop(String) iconType: string
}

</script>
