<template>
    <div class="categories-mini">
        <div class="categories-mini_items">
            <router-link :to="'/masters/?cat='+a.slug" class="categories-mini_single-item" v-for="a in categories" :key="a.id">
                <!--<font-awesome-icon class="categories-mini_single-item-icon" :icon="['fal', a.fa_icon]" />-->
                <span>{{ a.name }}</span>
            </router-link>
            <div class="white-gradient">
                
            </div>
        </div>
        <div class="categories-mini_all-button">
            <router-link :to="'/masters'" class="categories-mini_single-item">
                <font-awesome-icon class="categories-mini_single-item-icon" :icon="['fal', 'chevron-circle-right']" />
                <span>Все категории</span>
            </router-link>
        </div>
    </div>
</template>
<style lang="stylus" scoped>
    @import '../styles/main.core.vars.styl'
    
    .categories-mini
        width: 100%
        background: #fff
        box-shadow: $box_shadow
        border-radius: 29px
        padding: 15px 30px 15px
        display: flex

    .categories-mini_items
        display: flex
        flex-wrap: nowrap
        overflow: hidden
        position: relative

    .categories-mini_all-button
        flex-grow: 1
        width: max-content
        align-items: center
        display: flex
        .categories-mini_single-item
            margin-right: 0
            span
                width: max-content
                color: cyan_dark_color
            .categories-mini_single-item-icon
                color: cyan_dark_color

    .categories-mini_single-item
        align-items: center
        display: inline-flex
        margin-right: 20px
        cursor: pointer
        transition: 0.3s

        >span
            font-size: 13px
            color: brown_color
            font-family: Montserrat, 'sans-serif'
            transition: 0.3s
            width: max-content

        &:hover
            >span
                color: cyan_dark_color
            .categories-mini_single-item-icon
                color: cyan_dark_color

    .white-gradient
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.93) 46%, rgba(255,255,255,0.95) 47%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.93) 46%,rgba(255,255,255,0.95) 47%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.93) 46%,rgba(255,255,255,0.95) 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        height: 25px
        width: 80px
        position: absolute
        right: 0

    .categories-mini_single-item-icon
        font-size: 20px
        color: brown_color
        margin-right: 10px
        transition: 0.3s

    @media (max-width: 1200px) {
        .categories-mini_all-button span {
            display: block;
        }
    }

    @media (max-width: 576px) {
        .categories-mini_all-button span {
            display: none;
        }
    }
</style>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import http from '@/methods/http.ts';

@Component
export default class CategoriesMini extends Vue {
    categories = [];

    getCategories() {
        http('categories/medicina/first_child', 'get', false, {}).then(r => {
            this.categories = r.data.children;
        })
    }

    created = this.getCategories();
}

</script>
