<template>
  <router-link :to="`/companies/${slug}`">
    <div class="single-spec animated-shadow">
      <div class="spec-little-info">
        <div class="container-fluid" style="height: 100%">
          <div class="row">
            <div class="col-lg-3 col-xs-3">
              <div class="spec-img" :style="{'background-image': `url(${img})`}">
                <h3 v-if="!img">{{ name | imageFilter }}</h3>
              </div>
            </div>
            <div class="col-lg-9 col-xs-9">
              <div class="spec-title">
                <h3>{{ name }}</h3>
                <div class="rating-wrapper">
                  <span>Рейтинг</span>
                  <star-rating
                    class="ml-10"
                    :rating="this.rating"
                    :increment="0.01"
                    :star-size="15"
                    :read-only="true"
                    :show-rating="false"
                  ></star-rating>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="spec-info">
                <p class="dark-body-text mb-10">{{ cats[0].name }}</p>
                <p v-html="desc" class="desc gray-body-text mb-15"></p>
              </div>
              <div class="company-tags mb-15" style="max-height:90px">
                <div v-for="tag in cats" :key="tag.id" class="mr-10 mb-10">{{ tag.name }}</div>
              </div>
              <div class="light-gray-line mb-15"></div>
              <div class="spec-state">
                <div class="mr-15">
                  <font-awesome-icon class="geo-icon mr-5" :icon="['fal', 'clock']"></font-awesome-icon>
                  <span>{{ state ? 'Сейчас открыто' : 'Сейчас закрыто' }}</span>
                </div>
                <div>
                  <font-awesome-icon class="geo-icon mr-5" :icon="['fal', 'map-marker-alt']"></font-awesome-icon>
                  <span>г. Бишкек</span>
                </div>
              </div>
              <!--<div class="light-gray-line mt-15"></div>-->
              <!--
                        <div style="height:41px;margin-top:17px">
                            <div style="background: linear-gradient(121deg, #1BEFDC 0%, #24CEDA 100%);box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);border-radius: 25px;margin-top:-2px;float:right">
                                <div style="color:#ffffff;font-weight:bold;padding: 15px 30px">Все специалисты</div>
                            </div>
                            <div v-if="faces[0]['photo']" :style="'position:absolute;width:41px;height:41px;background:#efefef url(//checkin.kg'+faces[0]['photo']+');background-size:cover;border-radius:20.5px;display:inline-block;margin-left:0'"></div>
                            <div v-if="faces[1]['photo']" :style="'position:absolute;width:41px;height:41px;background:#efefef url(//checkin.kg'+faces[1]['photo']+');background-size:cover;border-radius:20.5px;display:inline-block;margin-left:20px'"></div>
                            <div v-if="faces[2]['photo']" :style="'position:absolute;width:41px;height:41px;background:#efefef url(//checkin.kg'+faces[2]['photo']+');background-size:cover;border-radius:20.5px;display:inline-block;margin-left:40px'"></div>
                            <div v-if="count > 0" style="position:absolute;width:80px;height:41px;display:inline-block;margin-left:90px;line-height:41px;color:#828282">+{{ count }}</div>
                        </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </router-link>
</template>
<style lang="stylus" scoped>
@import '../styles/main.core.vars.styl';

$spec_height = 512px;

.single-spec {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 0 20px;
  padding: 20px 0 30px;
  height: 375px;
  /*
  max-height: $spec_height
  min-height: $spec_height
  */
}

.company-tags {
  /* display: flex */
  flex-wrap: wrap;
  /* height: 90px */
  overflow: hidden;

  >div {
    display: inline-flex;
    padding: 10px 15px;
    background: $very_light_gray;
    border-radius: 8px;
  }
}

.spec-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: cyan_dark_color;
  margin-left: 5px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    color: #fff;
    margin: 0;
    font-size: 36px;
  }
}

.spec-little-info {
  height: 'calc(%s - 20px)' % $spec_height;
}

h3 {
  margin-bottom: 10px;
  color: $dark_black_text;
}

.spec-info {
  padding: 30px 0 0 0;

  .desc {
    overflow: hidden;
    height: 55px;
  }
}

@media (max-width: 1200px) {
  .spec-title {
    padding-left: 0;
  }
}

@media (max-width: 576px) {
  .spec-title {
    padding-left: 20px;
  }
}
</style>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import StarRating from "vue-star-rating";
import http from "@/methods/http.ts";

@Component({
  components: {
    StarRating,
  },
  filters: {
    imageFilter(value) {
      return value.trim().substring(0, 1);
    },
  },
})
export default class Company extends Vue {
  @Prop(String) name;
  @Prop(Number) rating;
  @Prop(Array) cats;
  @Prop(String) desc;
  @Prop(Boolean) state;
  @Prop(String) address;
  @Prop(String) img;
  @Prop(String) slug;

  faces = [];
  count = "";

  specListInfo() {
    http(`companies/${this.slug}/specialists`, "get", false, {
      page_size: 3,
    }).then((r) => {
      this.faces = r.data.results;
      this.count = r.data.count;
    });
  }

  created() {
    this.specListInfo();
  }
}
</script>
