<template>
  <div>
    <p class="gray-body-text mb-15">Ваше расположение</p>
    <!-- lat:42.8717873, lng:74.6131377 -->
    <label>
      <GmapAutocomplete @place_changed="setPlace" placeholder="Укажите местоположение"></GmapAutocomplete>
      <Button @click="usePlace" type="gray" class="mr-10" text="Добавить местоположение"></Button>
    </label>
    <br />

    <GmapMap
      style="width: 600px; height: 300px;"
      :zoom="10"
      :center="{lat: this.center.lat, lng: this.center.lng}"
    >
      <GmapMarker v-for="(marker, index) in markers" :key="index" :position="marker.position" />
      <GmapMarker
        v-if="this.place"
        label="★"
        :position="{
            lat: this.place.geometry.location.lat(),
            lng: this.place.geometry.location.lng(),
        }"
      />
      <GmapMarker
        v-else-if="this.lng"
        label="★"
        :position="{
            lat: this.location.lat,
            lng: this.location.lng,
        }"
      />
    </GmapMap>
  </div>
</template>

<script>
import { Component, Vue, Prop } from "vue-property-decorator";
import Button from "@/components/Button.vue";

@Component({
  components: {
    Button,
  },
})
export default class CustomMap extends Vue {
  @Prop() lat;
  @Prop() lng;
  @Prop({
    default: {
      lat: 42.8717873,
      lng: 74.6131377,
    },
  })
  center;

  markers = [];
  place = null;
  description = "";
  location = {};

  setGeoLocation(lat, lng) {
    this.location.lat = lat;
    this.location.lng = lng;
    this.$emit("setGeolocation", this.location);
  }
  setDescription(description) {
    this.description = description;
  }
  setPlace(place) {
    this.place = place;
  }
  usePlace(place) {
    if (this.place) {
      const lat = this.place.geometry.location.lat();
      const lng = this.place.geometry.location.lng();
      this.setGeoLocation(lat, lng);
      this.markers.push({
        position: {
          lat,
          lng,
        },
      });
      console.log("LOCATION: ", this.markers);
      this.place = null;
    }
  }

  mounted() {
    this.location = { lat: this.lat, lng: this.lng };
    console.log("location", this.location);
  }
}
</script>

<style scoped>
@media screen and (max-width: 624px) {
  .gray-body-text {
    margin-top: 10px;
  }
  label input {
    margin-bottom: 20px;
  }
  label div {
    margin-bottom: 20px;
  }
  .vue-map-container {
    width: 100% !important;
  }
}
</style>