<template>
  <div class="fixed-social" v-click-outside="onClickOutside">
    <transition>
      <a href="#" ref="social" class="social">
        <img src="../assets/tel.svg" alt="call" />
      </a>
    </transition>

    <transition name="slide-fade">
      <a href="tel:+996702338338" v-if="socialView" class="phone">
        <img src="../assets/call.svg" alt="call" />
      </a>
    </transition>

    <transition name="slide-fade-2">
      <a
        href="https://api.whatsapp.com/send?phone=9960702338338"
        v-if="socialView"
        class="whats"
        target="_blank"
      >
        <img src="../assets/whats.svg" alt="call" />
      </a>
    </transition>

    <transition name="slide-fade-3">
      <a
        href="https://telegram.me/Checkinkg"
        v-if="socialView"
        class="tg"
        target="_blank"
      >
        <img src="../assets/tg.svg" alt="call" />
      </a>
    </transition>
  </div>
</template>



<script>
import Vue from "vue";
import vClickOutside from "v-click-outside";

Vue.use(vClickOutside);

export default {
  data() {
    return {
      socialView: false,
    };
  },
  methods: {
    onClickOutside() {
      this.socialView = false;
    },
  },
  mounted() {
    this.$refs.social.addEventListener("click", (e) => {
      e.preventDefault();
      this.socialView = !this.socialView;
    });
  },
};
</script>


<style scoped>
.fixed-social {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 50px;
  right: 10px;
  display: flex;
  flex-direction: column;
  /* background: grey; */
  width: 60px;
}
.phone,
.whats,
.tg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  box-shadow: 2px 1px 12px grey;
  border-radius: 50%;
}
.phone {
  left: -100px;
  top: 10px;
}
.whats {
  top: -60px;
  left: -66px;
}
.tg {
  top: -100px;
  left: 0px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.45s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px) rotate(45deg);
  opacity: 0;
}

.slide-fade-2-enter-active {
  transition: all 0.4s ease;
}
.slide-fade-2-leave-active {
  transition: all 0.45s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-2-enter, .slide-fade-2-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translate(10px, 10px) rotate(-45deg);
  opacity: 0;
}

.slide-fade-3-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-3-leave-active {
  transition: all 0.45s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-3-enter, .slide-fade-3-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(10px) rotate(45deg);
  opacity: 0;
}

@media screen and (max-width: 624px) {
  a,
  svg {
    width: 45px;
    height: 45px;
  }
  .fixed-social {
    bottom: 20px;
  }
}
</style>
