<template>
  <div class="footer">
    <div class="container">
      <div class="col-lg-12">
        <div class="mb-30">
          <router-link :to="'/'">
            <img class="logo" src="/images/logo_white.svg" />
          </router-link>
        </div>
        <div class="double-line mb-30">
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="col-lg-2">
        <ul>
          <li>
            <span class="main-footer-link mb-15 inline-block">Контакты</span>
          </li>
          <li>
            <span class="sub-footer-link mb-15 inline-block">
              <font-awesome-icon
                :icon="['fal', 'envelope']"
                class="footer-icon mr-10 pointer"
              />
              <p>
                <a href="mailto:office@checkin.kg">office@checkin.kg</a>
              </p>
            </span>
          </li>
          <li>
            <span class="sub-footer-link mb-15 inline-block">
              <font-awesome-icon
                :icon="['fal', 'phone']"
                class="footer-icon mr-10"
              />
              <p>
                Служба поддержки
                <br />
                <a href="tel:+996755338338">996 755 338 338</a>
                <br />
                <a href="tel:+996702338338">996 702 338 338</a>
                <br />
                <a href="tel:+996776338338">996 776 338 338</a>
              </p>
            </span>
          </li>
          <li>
            <span class="sub-footer-link mb-15 inline-block">
              <font-awesome-icon
                :icon="['fal', 'map-marker-alt']"
                class="footer-icon mr-10 pointer"
              />
              <p>Панфилова 167</p>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 hide-on-mobile">
        <ul>
          <li>
            <span class="main-footer-link mb-15 inline-block">Навигация</span>
          </li>
          <li>
            <router-link to="/masters">
              <span class="sub-footer-link mb-15 inline-block pointer"
                >Специалисты</span
              >
            </router-link>
          </li>
          <li>
            <router-link to="/companies">
              <span class="sub-footer-link mb-15 inline-block pointer"
                >Учреждения</span
              >
            </router-link>
          </li>
          <li>
            <span class="sub-footer-link mb-15 inline-block pointer"
              >Помощь</span
            >
          </li>
          <li>
            <span class="sub-footer-link mb-15 inline-block pointer"
              >О нас</span
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-2 hide-on-mobile">
        <ul>
          <li>
            <span class="main-footer-link mb-15 inline-block">Управление</span>
          </li>
          <li>
            <router-link to="/user/become-a-specialist">
              <span class="sub-footer-link mb-15 inline-block pointer"
                >Стать специалистом</span
              >
            </router-link>
          </li>
          <li>
            <router-link to="/user/companies/create">
              <span class="sub-footer-link mb-15 inline-block pointer"
                >Стать учреждением</span
              >
            </router-link>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul>
          <li>
            <span class="main-footer-link mb-15 inline-block"
              >Мы в социальных сетях</span
            >
          </li>
          <li>
            <span class="sub-footer-link mb-15 inline-block">
              <a
                href="https://www.facebook.com/Checkinkg-110284127428409"
                target="_blank"
              >
                <font-awesome-icon
                  :icon="['fab', 'facebook']"
                  class="footer-soc-icon mr-15 pointer"
                />
              </a>
              <a href="https://www.instagram.com/checkin.kg/" target="_blank">
                <font-awesome-icon
                  :icon="['fab', 'instagram']"
                  class="footer-soc-icon mr-15 pointer"
                />
              </a>
              <a href="https://ok.ru/profile/584411318326" target="_blank">
                <font-awesome-icon
                  :icon="['fab', 'odnoklassniki']"
                  class="footer-soc-icon pointer"
                />
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style lang="stylus" scoped>
@import '../styles/main.core.vars.styl';

.footer {
  background: cyan_dark_color;
  padding: 30px 0 80px;
}

.logo {
  height: 21px;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer-icon {
  color: #fff;
  font-size: 15px;
}

.footer-soc-icon {
  color: #fff;
  font-size: 25px;
}

.main-footer-link {
  font-weight: 700;
  font-size: 13px;
}

.sub-footer-link {
  font-weight: 400;
  font-size: 13px;
  display: flex;

  &:hover {
    text-decoration: underline;
  }
}

span {
  color: #fff;
}

@media (max-width: 1200px) {
  .hide-on-mobile {
    display: block;
  }
}

@media (max-width: 576px) {
  .hide-on-mobile {
    display: none;
  }
}
</style>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({
  components: {},
})
export default class Footer extends Vue {}
</script>
