<template>
  <div class="header shadow" :class="{ 'show-menu': $store.getters.mainMenu }">
    <MainMenu />
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-part-one">
            <font-awesome-icon
              class="header-icon main-menu mr-20"
              :icon="['fal', 'bars']"
              @click="
                $store.getters.mainMenu
                  ? $store.commit('closeEverything')
                  : $store.commit('toggleMainMenu')
              "
            />
            <router-link :to="'/'">
              <img class="logo" src="/images/logo_white.svg" />
            </router-link>
            <div class="header-links">
              <ul>
                <li class="mr-20">
                  <router-link to="/masters" class="header-link"
                    >Специалисты</router-link
                  >
                </li>
                <li class="mr-20">
                  <router-link to="/companies" class="header-link"
                    >Учреждения</router-link
                  >
                </li>
                <li class="mr-20">
                  <a
                    href="http://business.checkin.kg/"
                    class="header-link"
                    target="_blank"
                  >
                    Checkin Business
                    <font-awesome-icon :icon="['fas', 'suitcase']" />
                  </a>
                </li>
                <!--<li><a href="#">О нас</a></li>-->
              </ul>
            </div>
            <div class="header-search ml-50">
              <div class="header-search-wrapper">
                <!-- :onShouldRenderChild="renderChild" -->
                <autocomplete
                  ref="autocomplete"
                  class="header-search-input"
                  placeholder="Найти специалиста, учреждение или услугу"
                  :source="distributionGroupsEndpoint"
                  :results-display="formattedDisplay"
                  @selected="getData"
                  @nothingSelected="onSearch"
                ></autocomplete>
                <!--<input class="header-search-input" placeholder="Найти спе`nциалиста, учреждение или услугу" type="text" />-->
              </div>
            </div>
            <font-awesome-icon
              v-if="!$store.state.authenticated"
              class="header-icon main-menu ml-20 right-header-links"
              :icon="['fal', 'user']"
              @click="
                $store.commit('showAuthModal');
                $store.commit('setAuthTab');
              "
            />
            <font-awesome-icon
              v-if="$store.state.authenticated"
              class="header-icon main-menu right-header-links"
              :icon="['fal', 'sign-out']"
              @click="logout"
            />
            <div class="header-links right-header-links">
              <transition name="fade">
                <ul v-if="!$store.state.authenticated">
                  <li class="mr-20">
                    <a
                      class="pointer"
                      @click="
                        $store.commit('showAuthModal');
                        $store.commit('setAuthTab');
                      "
                      >Вход</a
                    >
                  </li>
                  <li>
                    <a
                      class="pointer"
                      @click="
                        $store.commit('showAuthModal');
                        $store.commit('setRegisterTab');
                      "
                      >Регистрация</a
                    >
                  </li>
                </ul>
                <ul v-else>
                  <li class="mr-30">
                    <a class="pointer" @click="changeDropTab(1)">
                      <font-awesome-icon
                        class="header-icon"
                        :icon="['fal', 'bell']"
                      />
                      <mark v-if="notifications.length > 0">{{
                        notifications.length
                      }}</mark>
                    </a>
                    <div
                      class="arr-down"
                      v-if="
                        dropdown === true &&
                        dropdownTab === 1 &&
                        notifications.length > 0
                      "
                    ></div>
                  </li>
                  <li class="mr-30">
                    <a class="pointer" @click="changeDropTab(2)">
                      <font-awesome-icon
                        class="header-icon"
                        :icon="['fal', 'user-alt']"
                      />
                    </a>
                    <div
                      class="arr-down"
                      v-if="dropdown === true && dropdownTab === 2"
                    ></div>
                  </li>
                  <li>
                    <a class="pointer" @click="logout">
                      <font-awesome-icon
                        class="header-icon"
                        :icon="['fal', 'sign-out']"
                      />
                    </a>
                  </li>
                </ul>
              </transition>
            </div>
            <transition name="fade">
              <div class="header-dropdown shadow mr-15" v-if="dropdown">
                <div
                  class="user-menu mt-30 mr-20 mb-30 ml-20"
                  v-if="dropdownTab === 1 && notifications.length > 0"
                >
                  <ul>
                    <li v-for="(n, i) in notifications" :key="i">
                      <div
                        class="menu-item mb-15 pointer"
                        @click="notificationHandler(n.id, n.url)"
                      >
                        <div class="mr-15">
                          <font-awesome-icon
                            class="menu-icon"
                            :icon="['fas', 'bell']"
                          />
                        </div>
                        <div>
                          <p class="dark-body-text mb-5">{{ n.title }}</p>
                          <p class="gray-body-text">{{ n.text }}</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div
                  class="user-menu mt-30 mr-20 mb-30 ml-20"
                  v-if="dropdownTab === 2"
                >
                  <ul>
                    <li>
                      <router-link
                        :to="'/user/settings'"
                        class="menu-item mb-15 pointer"
                      >
                        <div class="mr-15">
                          <font-awesome-icon
                            class="menu-icon"
                            :icon="['fal', 'user-alt']"
                          />
                        </div>
                        <div>
                          <p class="dark-body-text mb-5">Мой профиль</p>
                          <p class="gray-body-text">
                            Ваши персональные настройки
                          </p>
                        </div>
                      </router-link>
                    </li>
                    <li>
                      <router-link
                        :to="'/user/reservations'"
                        class="menu-item mb-15 pointer"
                      >
                        <div class="mr-15">
                          <font-awesome-icon
                            class="menu-icon"
                            :icon="['fal', 'calendar-alt']"
                          />
                        </div>
                        <div>
                          <p class="dark-body-text mb-5">Мои записи</p>
                          <p class="gray-body-text">
                            Записи к специалистам и живая очередь
                          </p>
                        </div>
                      </router-link>
                    </li>
                    <li v-if="$store.state.profile.is_specialist">
                      <router-link
                        :to="'/specialist/settings'"
                        class="menu-item mb-15 pointer"
                      >
                        <div class="mr-15">
                          <font-awesome-icon
                            class="menu-icon"
                            :icon="['fal', 'user-circle']"
                          />
                        </div>
                        <div>
                          <p class="dark-body-text mb-5">
                            Страница специалиста
                          </p>
                          <p class="gray-body-text">
                            Ваша страница специалиста
                          </p>
                        </div>
                      </router-link>
                    </li>
                    <li v-else>
                      <router-link
                        :to="'/user/become-a-specialist'"
                        class="menu-item mb-15 pointer"
                      >
                        <div class="mr-15">
                          <font-awesome-icon
                            class="menu-icon"
                            :icon="['fal', 'user-circle']"
                          />
                        </div>
                        <div>
                          <p class="dark-body-text mb-5">Стать специалистом</p>
                          <p class="gray-body-text">
                            Стать специалистом checkin.kg
                          </p>
                        </div>
                      </router-link>
                    </li>
                    <li>
                      <router-link
                        :to="'/user/companies'"
                        class="menu-item mb-15 pointer"
                      >
                        <div class="mr-15">
                          <font-awesome-icon
                            class="menu-icon"
                            :icon="['fal', 'building']"
                          />
                        </div>
                        <div>
                          <p class="dark-body-text mb-5">Мои учреждения</p>
                          <p class="gray-body-text">Ваши учреждения</p>
                        </div>
                      </router-link>
                    </li>
                    <li>
                      <a class="menu-item pointer" @click="logout">
                        <div class="mr-15">
                          <font-awesome-icon
                            class="menu-icon"
                            :icon="['fal', 'sign-out']"
                          />
                        </div>
                        <div>
                          <p class="dark-body-text">Выход</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
      <div class="row" v-if="sliderState">
        <div class="col-lg-12">
          <div class="categories-menu-wrapper">
            <CategoriesMenu></CategoriesMenu>
          </div>
        </div>
      </div>
      <div class="row mob-bg" v-if="sliderState">
        <div class="col-lg-12 slider-wrap">
          <div class="main-page-slider-wrapper">
            <Slider></Slider>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="stylus" scoped>
@import '../styles/main.core.vars.styl';
.slider-wrap {
  overflow: hidden;
}
.header {
  background: $main_gradient;
}

.header.show-menu {
  /* transform: translateX(300px); */
}

.header-part-one {
  padding: 18px 0;
  display: flex;
  align-items: center;
}

.main-menu {
  display: none;
  color: #ffffff;
}

.logo {
  margin-right: 65px;
  height: 25px;
}

.header-icon {
  font-size: 20px;
}

.header-links {
  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      font-size: 13px;
      font-weight: 700;

      a {
        color: #fff;
      }
    }
  }
}

.right-header-links {
  margin-left: auto;
  margin-right: 0;

  ul {
    li:last-child {
      margin-right: 0;
    }
  }
}

.header-link.router-link-active {
  text-decoration: underline;
}

.categories-menu-wrapper {
  margin-bottom: 20px;
}

.header-search-wrapper {
  position: relative;
}

.header-search-input {
  padding: 9px 80px 10px 40px;
  font-size: 13px;
  width: 430px;
  border-radius: 29px;
  border: 1px solid cyan_color;
  background: cyan_dark_color;
  color: #fff;

  &::placeholder {
    color: #fff;
    opacity: 0.7;
  }
}

.header-search-icon {
  position: absolute;
  color: #fff;
  top: 12px;
  left: 15px;
  font-size: 15px;
}

.header-dropdown {
  background: #fff;
  width: 240px;
  position: absolute;
  right: 0;
  top: 75px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 3;

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  .menu-item {
    display: flex;

    .dark-body-text {
      color: $dark_gray_text;
    }

    &:hover {
      .dark-body-text {
        color: $dark_black_text;
      }

      .menu-icon {
        color: $dark_black_text;
      }
    }
  }

  .menu-icon {
    font-size: 15px;
    color: $black_text;
  }
}

.arr-down {
  position: absolute;
  bottom: -7px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #1DE8DC;
  z-index: 4;
}

.pointer mark {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /* border: 2px solid #FFF; */
  width: 20px;
  height: 20px;
  background-color: #FF6B6B;
  position: absolute;
  /* top: -5px;
  left: -10px; */
  font-size: 10px;
  line-height: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFF;
  /* font-weight: 700; */
  text-align: center;
  margin-top: -10px;
  margin-left: -5px;
}

@media (max-width: 1200px) {
  .main-menu {
    display: none;
  }

  .logo {
    display: block;
  }

  .header-links {
    display: block;
  }

  .header-search {
    width: auto;
  }

  .header-search.ml-50 {
    margin-left: 50px;
  }

  .header-search-input {
    width: 430px;
    padding: 9px 20px 10px 40px;
  }
}

@media (max-width: 576px) {
  .main-menu {
    display: block;
  }

  .logo {
    display: none;
  }

  .header-links {
    display: none;
  }

  .header-search {
    width: 100%;
  }

  .header-search.ml-50 {
    margin-left: 0;
  }

  .header-search-input {
    width: calc(100% - 20px);
  }
}
</style>
<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { mapState, mapActions } from "vuex";
import CategoriesMenu from "@/components/CategoriesMenu.vue";
import Slider from "@/components/Slider.vue";
import MainMenu from "@/components/MainMenu.vue";
// import Autocomplete from "vue2-autocomplete-js";
import Autocomplete from "vuejs-auto-complete";

import http from "@/methods/http.ts";
require("../styles/autocomplete.css");

@Component({
  components: {
    MainMenu,
    CategoriesMenu,
    Slider,
    Autocomplete,
  },
  computed: mapState(["notifications"]),
  methods: mapActions(["readNotification"]),
})
export default class HeaderApp extends Vue {
  dropdown = false;
  dropdownTab = 1;
  notifications_count = 0;
  timer = "";
  siteUrl = "";

  get someStuff() {
    return this.$store.state.someStuff;
  }

  @Watch("someStuff", { immediate: true, deep: true })
  onSomeStuffChange() {
    // do nothing
  }

  changeDropTab(tab) {
    setTimeout(() => {
      this.dropdown = true;
      this.dropdownTab = tab;
    }, 100);
  }

  @Watch("dropdown", { immediate: true, deep: true })
  onDropdownStateChange() {
    const stateKicker = (e) => {
      this.dropdown = false;
      document.removeEventListener("click", stateKicker);
    };

    if (this.dropdown) {
      document.addEventListener("click", stateKicker);
    }
  }

  get sliderState() {
    return this.$store.state.sliderInHeaderShown;
  }

  notificationHandler(id, actionUrl) {
    this["readNotification"](id);
    this.$router.push(actionUrl);
  }

  getInput(data) {
    alert("data");
  }
  distributionGroupsEndpoint(input) {
    let uri = "https://api.checkin.kg/api/v1/search?q=" + input;
    let encoded = encodeURI(uri);
    return encoded;
  }
  getData(item) {
    this.$router.push(item.selectedObject.url);
  }
  onSearch(value) {
    const params = { search_slug: value };
    this.$router.push({ name: "search", params }, () => {
      this.$refs.autocomplete.close();
    });
  }
  formattedDisplay(result) {
    if (result.label)
      return `<a href="#">${result.title} <p class="autocomplete-anchor-label">${result.label}</p></a>`;
    else return `<a href="#">${result.title}</a>`;
  }
  // handleEnter() {
  //   let input = document.querySelector(".autocomplete__inputs input");
  //   let list = document.querySelector(".autocomplete__results");
  //   input.addEventListener("keyup", function (event) {
  //     console.log("fwwwfwfwfwfwf" + event);
  //     if (event.keyCode === 13) {
  //       event.preventDefault();
  //       list.firstElementChild.click();
  //     }
  //   });
  // }
  renderChild(data) {}

  logout() {
    //let name = `${this.$store.state.profile.first_name} ${this.$store.state.profile.last_name}`;
    //let name = `${this.$store.state.profile.full_name}`;
    this.$store.commit("logout");
    //this.$store.commit('notificate', {type: 'action', text: `До скорой встречи, ${name}`});
    this["$cookie"].delete("token");
    this.$router.push("/");
  }

  created() {
    //if(window.location.hostname === 'localhost') {
    //this.siteUrl = 'http://api.checkin.local/api/v1';
    //} else {
    this.siteUrl = "https://api.checkin.kg/api/v1";

    //}
  }
  mounted() {
    // this.handleEnter();
  }
}
</script>
