<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <div class="white-panel holder-panel">
                <font-awesome-icon :icon="['fal', icon]" class="holder-icon mb-30" />
                <div>
                    <div class="dark-body-text mb-5">{{ title }}</div>
                    <p class="gray-body-text">{{ desc }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>
</template>
<style lang="stylus" scoped>
    @import '../styles/main.core.vars.styl'

    .holder-panel
        padding: 30px 25px 30px 25px
        height: 400px
        display: flex
        align-items: center
        justify-content: flex-start
        flex-direction: column

    .holder-icon
        font-size: 165px
        color: cyan_dark_color


</style>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class Company extends Vue {
    @Prop(String) title!: string
    @Prop(String) icon!: string
    @Prop(String) desc: string
}

</script>
