<template>
  <div
    v-if="$store.getters.mainMenu"
    @click="$store.commit('closeMainMenu')"
    style="position:fixed;width: 100%;height:100%;background: rgba(0,0,0,.5);z-index:2"
  >
    <div class="main-menu" :class="{ shown: $store.getters.mainMenu }">
      <div class="close-main-menu">
        <span>&#10006;</span>
      </div>

      <VuePerfectScrollbar :settings="{ maxScrollbarLength: 600 }" class="scroll-area">
        <ul>
          <li @click="$store.commit('closeMainMenu')">
            <router-link to="/">
              <font-awesome-icon :icon="['fal', 'home']" class="icon" fixed-width />Главная
            </router-link>
          </li>
          <li @click="$store.commit('closeMainMenu')">
            <router-link to="/masters">
              <font-awesome-icon :icon="['fal', 'user']" class="icon" fixed-width />Специалисты
            </router-link>
          </li>
          <li @click="$store.commit('closeMainMenu')">
            <router-link to="/companies">
              <font-awesome-icon :icon="['fal', 'building']" class="icon" fixed-width />Учреждения
            </router-link>
          </li>
          <li v-if="$store.state.authenticated">
            <h4>Управление</h4>
          </li>
          <li v-if="$store.state.authenticated" @click="$store.commit('closeMainMenu')">
            <router-link to="/user/settings">
              <font-awesome-icon :icon="['fal', 'user']" class="icon" fixed-width />Мой профиль
            </router-link>
          </li>
          <li v-if="$store.state.authenticated" @click="$store.commit('closeMainMenu')">
            <router-link to="/user/reservations">
              <font-awesome-icon :icon="['fal', 'calendar-alt']" class="icon" fixed-width />Мои записи
            </router-link>
          </li>
          <li v-if="$store.state.authenticated" @click="$store.commit('closeMainMenu')">
            <router-link to="/user/companies">
              <font-awesome-icon :icon="['fal', 'building']" class="icon" fixed-width />Мои учреждения
            </router-link>
          </li>
          <li v-if="$store.state.authenticated" @click="$store.commit('closeMainMenu')">
            <router-link to="/specialist/settings" v-if="$store.state.profile.is_specialist">
              <font-awesome-icon :icon="['fal', 'user-circle']" class="icon" fixed-width />Страница специалиста
            </router-link>
            <router-link to="/user/become-a-specialist" v-else>
              <font-awesome-icon :icon="['fal', 'user-circle']" class="icon" fixed-width />Стать специалистом
            </router-link>
          </li>
          <li>
            <h4></h4>
          </li>
          <li @click="$store.commit('closeMainMenu')">
            <router-link to="/help">
              <font-awesome-icon :icon="['fal', 'question']" class="icon" fixed-width />Помощь
            </router-link>
          </li>
        </ul>
      </VuePerfectScrollbar>
    </div>
  </div>
</template>
<script lang="ts">
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";

@Component({
  components: {
    VuePerfectScrollbar,
  },
})
export default class MainMenu extends Vue {
  get auth() {
    return this.$store.state.authenticated;
  }

  authenticated = false;

  @Watch("auth", { immediate: true, deep: true })
  onAuthChange() {
    this.authenticated = this.auth;
  }
}
</script>
<style lang="stylus" scoped>
.main-menu {
  transition: 0.3s;
  transform: translateX(-300px);
  left: 0;
  top: 0;
  position: fixed;
  width: 300px;
  background: #fff;
  height: 100vh;
  z-index: 2;

  .scroll-area {
    margin: auto;
    position: relative;
    height: 100vh;
    width: 300px;
    padding-top: 10px;
  }

  ul {
    padding: 0;
    list-style: none;

    h4 {
      font-size: 15px;
      font-weight: 700;
      padding: 20px 20px 5px;
      color: #666;
    }

    a {
      display: flex;
      transition: 0.3s;
      align-items: center;
      padding: 10px 20px;
      color: #555;
      font-weight: 300;

      &.router-link-exact-active {
        background: #efefef;
        text-decoration: none;
        color: #555;

        .icon {
          color: #888;
        }
      }

      .icon {
        color: #888;
        height: 15px;
        margin-right: 15px;
      }

      &:hover {
        background: #efefef;
        text-decoration: none;
        color: #555;

        .icon {
          color: #888;
        }
      }
    }
  }

  .close-main-menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 10px;
    z-index: 2;

    span {
      font-size: 24px;
      color: #3e3e3e;
    }
  }
}

.main-menu.shown {
  transform: translateX(0);
}
</style>
