<template>
<router-link :to="'/news/'+id">
    <div class="single-news animated-shadow pointer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-news_img" :style="{'background-image': `url(${img})`}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>{{title | cut}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-6">
                    <font-awesome-icon class="icon" :icon="['fal', 'calendar-alt']" />
                    <span>{{ formDate }}</span>
                </div>
                <div class="col-lg-6 col-xs-6">
                    <font-awesome-icon class="icon" :icon="['fal', 'glasses']" />
                    <span>{{ views }}</span>
                </div>
            </div>
        </div>
    </div>
</router-link>
</template>
<style lang="stylus" scoped>
    @import '../styles/main.core.vars.styl'

    .single-news_img
        width: calc(100% + 20px)
        height: 168px
        background: #000
        margin: 5px -10px 0
        background-size: cover
        background-position: center

    .single-news
        background: #fff
        border-radius: 4px
        padding: 0 0 15px 0
        margin: 0 0 20px

    h3
        margin: 20px 5px 30px
        height: 68px
        overflow: hidden

    .icon
        margin: 0 10px 0 5px
        color: $gray_text

    span
        color: $gray_text
        font-size: 13px
</style>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import moment from 'moment';

@Component({
    filters: {
        cut(value) {
            return `${value.substring(0, 65)}${value.length > 65 ? '...': ''}`
        }
    }
})
export default class News extends Vue {
    @Prop(String) title!: string
    @Prop(String) date!: string
    @Prop(Number) views!: number
    @Prop(String) img: string
    @Prop(Number) id: number

    get formDate() {
        return moment(this.date).format('DD.MM.YYYY');
    }
}

</script>
