<template>
  <div class="paginator">
    <div
      v-for="page in showedPages"
      @click="$emit('change-page', page.page)"
      :class="{current: page.page === current}"
      :key="page.label"
      class="paginator-page shadow mr-10 pointer"
    >
      <span v-if="!page.icon">{{ page.label }}</span>
      <font-awesome-icon :icon="['fal', page.icon]" v-else />
    </div>
  </div>
</template>
<style lang="stylus" scoped>
@import '../styles/main.core.vars.styl';

.paginator {
  display: flex;
  align-items: center;

  && {
    margin: 10px 0;
  }
}

.paginator-page {
  background: #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $gray_text;

  &.current {
    color: $dark_black_text;
  }

  &:hover {
    color: $dark_black_text;
  }
}
</style>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class Button extends Vue {
  @Prop(Number) current: number;
  @Prop(Number) pages: number;

  get showedPages() {
    let pages = [];
    if (this.current !== 1)
      pages.push({ label: "start", page: 1, icon: "angle-double-left" });
    if (this.current - 2 > 0)
      pages.push({ label: this.current - 2, page: this.current - 2 });
    if (this.current - 1 > 0)
      pages.push({ label: this.current - 1, page: this.current - 1 });
    if (this.current > 0)
      pages.push({ label: this.current, page: this.current });
    if (this.current + 1 <= this.pages)
      pages.push({ label: this.current + 1, page: this.current + 1 });
    if (this.current + 2 <= this.pages)
      pages.push({ label: this.current + 2, page: this.current + 2 });
    if (this.current + 3 <= this.pages && pages.length < 5)
      pages.push({ label: this.current + 3, page: this.current + 3 });
    if (this.current + 4 <= this.pages && pages.length < 5)
      pages.push({ label: this.current + 4, page: this.current + 4 });
    if (this.current !== this.pages)
      pages.push({
        label: "end",
        page: this.pages,
        icon: "angle-double-right",
      });
    return pages;
  }
}
</script>
