<template>
  <div>
    <div class="schedule">
      <div class="day" v-for="(day, dn) in schedule" :key="dn">
        <div
          class="company"
          v-for="(c, k) in divideToCompanies(day.periods)"
          @click="createOrder(c, day)"
          :class="{'last-in-a-day': k === divideToCompanies(day.periods).length - 1,
                                                                                           'bottom-left-schedule': k === divideToCompanies(day.periods).length - 1 && dn === 0,
                                                                                           'bottom-right-schedule': k === divideToCompanies(day.periods).length - 1 && dn === schedule.length - 1,
                                                                                           'top-left-schedule': k === 0 && dn === 0,
                                                                                          'top-right-schedule': k === 0 && dn === schedule.length - 1,
                                                                                           'inactive': !checkIfHasFreePeriods(c.times, sortedByDayOrders[formatDate(day.day)], c)
                                                                                           }"
          :key="k"
        >
          <div class="day-color mb-20" v-if="!admin" :style="{ background: zcolors[c.owner] }"></div>
          <div v-else class="day-color mb-20" :style="{ background: 'transparent' }"></div>
          <div class="day-name" v-if="k === 0">
            <h3 class="mb-5">
              <AnimatedNumber :num="+convertDayDate(day.day)[0]" />
            </h3>
            <span
              class="mb-15 block"
            >{{ convertDayDate(day.day)[1] }}, {{ convertDayDate(day.day)[2] }}</span>
          </div>
          <div
            v-if="specialist.full_name !== c.owner"
            class="company-times"
            v-tooltip="{ content: c.owner, placement: 'bottom-center' }"
          >{{ c.owner | cut }}</div>
          <div class="company-times mb-15 dark-body-text">{{ c.times }}</div>
          <div
            class="big-period pl-10 pr-10 pb-10"
            v-if="!checkIfHasFreePeriods(c.times, sortedByDayOrders[formatDate(day.day)], c)"
          >
            <div class="little-period order holiday-marker limited">Все забронировано</div>
            <div v-if="day.info !== ''" class="company-times mt-15">{{ day.info }}</div>
          </div>
          <div class="addbtn" v-else>
            <Button type="blue" text="Записатьcя" />
          </div>
          <div class="big-period pl-10 pr-10 pb-10">
            <div
              v-for="period in c.periods"
              :class="{'big-period': period.p_type === 'work'}"
              v-if="c.periods.length"
              :key="period.start_time"
            >
              <div v-if="period.p_type === 'lunch'" class="lunch mt-5 order middle-period">
                обед
                <br />
                {{ formatTime(period.start_time) }}-{{ formatTime(period.end_time) }}
              </div>
              <div v-if="period.p_type === 'rest_time'" class="break mt-5 order middle-period">
                {{ period.info }}
                <br />
                {{ period.start_time }}-{{ period.end_time }}
              </div>
              <div v-if="period.p_type === 'live'" class="break mt-5 order middle-period">
                Живая очередь
                <br />
                {{ period.start_time }}-{{ period.end_time }}
              </div>
              <div v-if="period.p_type === 'work'">
                <!--
                            <div class="break mt-5 order big-period" :style="'height:'+getRowFromTime(period.start_time, period.end_time)+'px;background:#edf3fb'">
                                Свободно<br>{{ formatTime(period.start_time) }}-{{ formatTime(period.end_time) }}
                            </div>
                -->
                <div
                  v-for="o in sortedByDayOrders[formatDate(day.day)]"
                  :key="o.id"
                  v-if="checkIfInThisDuration(o.date_time_reservation, o.duration, period.start_time, period.end_time)"
                >
                  <div
                    v-if="$store.state.profile.user_ptr_id == o.user_id && o.status === 'confirmed'"
                    class="break mt-5 order"
                    :class="{
                                'little-period': moment.duration(o.duration).asMinutes() < 30,
                                'middle-period': moment.duration(o.duration).asMinutes() === 30,
                                'big-period': moment.duration(o.duration).asMinutes() > 30,
                                'admin-period': admin}"
                    style="background:#1BEFDC"
                  >{{ moment(o.date_time_reservation, 'DD.MM.YYYY HH:mm').format('HH:mm') }} - {{ moment(o.date_time_reservation, 'DD.MM.YYYY HH:mm').add(moment.duration(o.duration)).format('HH:mm') }}</div>
                  <div
                    v-else-if="$store.state.profile.user_ptr_id == o.user_id && o.status !== 'confirmed'"
                    class="break mt-5 order"
                    :class="{
                                'little-period': moment.duration(o.duration).asMinutes() < 30,
                                'middle-period': moment.duration(o.duration).asMinutes() === 30,
                                'big-period': moment.duration(o.duration).asMinutes() > 30,
                                'admin-period': admin}"
                    style="background:#F2F2F2"
                  >{{ moment(o.date_time_reservation, 'DD.MM.YYYY HH:mm').format('HH:mm') }} - {{ moment(o.date_time_reservation, 'DD.MM.YYYY HH:mm').add(moment.duration(o.duration)).format('HH:mm') }}</div>
                  <div
                    v-else
                    class="break mt-5 order"
                    :class="{
                                'little-period': moment.duration(o.duration).asMinutes() < 30,
                                'middle-period': moment.duration(o.duration).asMinutes() === 30,
                                'big-period': moment.duration(o.duration).asMinutes() > 30,
                                'admin-period': admin}"
                  >{{ moment(o.date_time_reservation, 'DD.MM.YYYY HH:mm').format('HH:mm') }} - {{ moment(o.date_time_reservation, 'DD.MM.YYYY HH:mm').add(moment.duration(o.duration)).format('HH:mm') }}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="orders pl-10 pr-10 pb-10">
                    <div class="order">
                        <h4>09:30 - 10:00</h4>
                    </div>
                    <div class="invisible-order">

                    </div>
          </div>-->
        </div>
        <div class="company last-in-a-day inactive" v-if="!day.periods.length">
          <div v-if="!admin" class="day-color mb-20" :style="{ background: '#e0e0e0' }"></div>
          <div v-else class="day-color mb-20" :style="{ background: 'transparent' }"></div>
          <div class="day-name">
            <h3 class="mb-5">{{ convertDayDate(day.day)[0] }}</h3>
            <span
              class="mb-15 block"
            >{{ convertDayDate(day.day)[1] }}, {{ convertDayDate(day.day)[2] }}</span>
          </div>
          <div class="big-period pl-10 pr-10 pb-10">
            <div class="little-period order holiday-marker">выходной</div>
            <div v-if="day.info !== ''" class="company-times mt-15">{{ day.info }}</div>
          </div>
        </div>
      </div>
    </div>
    <RegisterTimeModal
      :date="chosenDay"
      :opened="specModal"
      v-on:reservation-created="reservationCreatedHandler"
      v-on:close-it="specModal = false"
      :org="chosenCompany"
      :specialist="specialist"
      :services="services"
      v-on:choose-sect="(i) => this.chosenService = i"
      :periods="this.periods"
    ></RegisterTimeModal>
  </div>
</template>
<style lang="stylus" scoped>
@import '../styles/main.core.vars.styl';

.schedule {
  display: flex;
  border-radius: 4px;

  .day {
    border-left: 1px solid #e8e8e8;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:first-child {
      border-left: 0;
    }
  }
}

.day-color {
  height: 5px;
  background: #2F80ED;
}

.day-name {
  text-align: center;
}

.order {
  border-radius: 4px;
  background: $very_light_gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
}

.company {
  background: #fff;
  cursor: pointer;
  width: 132px;
}

.company-times {
  text-align: center;
}

.company:not(.inactive):hover {
  transition: transform 0.2s;
  transform: scale(1.03);
  border-left: 0;
  box-shadow: $box_shadow;
  z-index: 1;
}

.company.inactive {
  cursor: not-allowed;
  background: #f2f2f2;
}

.big-period {
  min-height: 82px;
}

.middle-period {
  min-height: 41px;
}

.little-period {
  min-height: 21px;
}

.admin-period {
  min-height: 108px;
}

.lunch {
  text-align: center;
  color: #fff;
  background: $green_color;
  font-size: 10px;
}

.break {
  text-align: center;
  font-size: 10px;
}

.last-in-a-day {
  height: 100%;
}

.bottom-left-schedule {
  border-bottom-left-radius: 4px;
}

.bottom-right-schedule {
  border-bottom-right-radius: 4px;
}

.top-left-schedule {
  border-top-left-radius: 4px;

  .day-color {
    border-top-left-radius: 4px;
  }
}

.top-right-schedule {
  border-top-right-radius: 4px;

  .day-color {
    border-top-right-radius: 4px;
  }
}

.holiday-marker {
  background: $red_color;
  color: #fff;
  padding-bottom: 2px;
  border-radius: 25px;
  width: max-content;
  padding: 0 10px 2px;
  margin-left: auto;
  margin-right: auto;

  &&.limited {
    font-size: 9px;
  }
}

.admin-order {
  padding: 10px 20px;
  cursor: pointer;

  >div {
    display: flex;
  }

  &-name {
    font-size: 13px;
  }

  &-time {
    font-size: 12px;
  }

  &-phone {
    font-size: 14px;
    width: 100%;
  }

  &-icon {
    font-size: 16px;
  }
}

.center {
  text-align: center;
}

.duration1 {
  height: 84px;
}

.duration15 {
  height: 42px;
}

.duration30 {
  height: 21px;
}

.addbtn {
  text-align: center;

  span {
    font-size: 12px;
  }

  div {
    padding: 10px 18px;
  }
}

@media (max-width: 1200px) {
  .schedule {
    overflow-x: auto;
  }

  .day {
    min-width: auto;
  }
}

@media (max-width: 576px) {
  .schedule {
    overflow-x: auto;
  }

  .day {
    // min-width: 100%;
  }
}
</style>
<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import RegisterTimeModal from "@/components/modals/RegisterTimeModal.vue";
import AnimatedNumber from "@/components/AnimatedNumber.vue";
import Button from "@/components/Button.vue";
import http from "@/methods/http.ts";
import moment from "moment";

@Component({
  components: {
    RegisterTimeModal,
    AnimatedNumber,
    Button,
  },
  filters: {
    cut(value) {
      return value.length > 20 ? `${value.substring(0, 20)}...` : value;
    },
  },
})
export default class Schedule extends Vue {
  @Prop() slug;
  @Prop() specialist;
  @Prop(String) startDate;
  @Prop() services;
  @Prop() admin;

  moment = moment;

  timestamp = moment().subtract(1, "days").endOf("day").unix();

  newday = "";
  newperiod = "";
  newperiods = [];

  @Watch("startDate", { deep: true, immediate: true })
  @Watch("specialist", { deep: true, immediate: true })
  onStartDateChange() {
    this.getSchedule();
    this.getSpecOrders();
  }

  colors = ["#2F80ED", "#F2C94C", "#ddd", "#eee"];

  zcolors = [];
  schedule = [];
  orders = [];
  chosenCompany: any = { times: "00:00 - 23:59", periods: [] };
  chosenService: any = { duration: "00:30:00" };
  chosenDay: string = "";
  specModal = false;

  datestamp(date) {
    return moment(date, "DD.MM.YYYY").unix();
  }

  getRowFromTime(start, end) {
    return (
      ((moment.duration(end).asMinutes() - moment.duration(start).asMinutes()) /
        60) *
      63
    );
  }

  get periods() {
    if (
      !this.chosenCompany ||
      !this.chosenService.name ||
      !this.chosenDay.length
    )
      return [];

    const start: string = this.chosenCompany.times.split(" - ")[0];
    const globEnd: string = this.chosenCompany.times.split(" - ")[1];
    const sect: string = this.chosenService.duration;
    const orders: any[] = this.sortedByDayOrders[this.chosenDay];
    const lunch: any = this.chosenCompany.periods.find(
      (i) => i.p_type === "lunch"
    );
    const live: any = this.chosenCompany.periods.find(
      (i) => i.p_type === "live"
    );
    const rest_time: any = this.chosenCompany.periods.find(
      (i) => i.p_type === "rest_time"
    );

    let redtime = [];
    this.chosenCompany.periods.map((i) => {
      if (i.p_type === "rest_time") {
        redtime.push(i);
      }
    });

    const chosenDay: string = this.chosenDay;

    //const lunch_and_rest_time = {...lunch, ...rest_time};
    const r = this.reorderSchedule(
      chosenDay,
      start,
      globEnd,
      sect,
      orders,
      lunch,
      redtime,
      live
    );
    return r;

    //return this.workOnPeriods(start, globEnd, sect, orders, lunch_and_rest_time);
  }

  reorderSchedule(
    chosenDay,
    start,
    globEnd,
    sect,
    orders,
    lunch,
    rest_time,
    live
  ) {
    let arr = [];
    let periods = [];

    if (lunch || (rest_time && rest_time.length > 0) || live) {
      if (live) {
        arr.push(live.start_time + "-" + live.end_time);
      }
      if (lunch) {
        arr.push(lunch.start_time + "-" + lunch.end_time);
      }
      if (rest_time.length > 0) {
        for (var k in rest_time) {
          arr.push(rest_time[k].start_time + "-" + rest_time[k].end_time);
        }
      }
      arr.push(start + "-" + null);
      arr.push(null + "-" + globEnd);
    } else {
      arr.push(start + "-" + globEnd);
    }

    arr.sort();
    //console.log(arr);

    let arr2 = [];
    if (arr.length > 1) {
      for (var k in arr) {
        var next = k * 1 + 1;
        if (next >= arr.length) {
          next = k;
        }
        var back = k * 1 - 1;
        if (back <= arr.length) {
          back = k;
        }
        if (arr[k].split("-")[0] == "null") {
          // do nothing
        } else if (arr[k].split("-")[1] == "null") {
          arr2.push(arr[k].split("-")[0] + "-" + arr[next].split("-")[0]);
        } else {
          if (arr[next].split("-")[0] == "null") {
            arr2.push(arr[k].split("-")[1] + "-" + arr[next].split("-")[1]);
          } else {
            arr2.push(arr[k].split("-")[1] + "-" + arr[next].split("-")[0]);
          }
        }
      }
    } else {
      arr2 = arr;
    }

    for (var k in arr2) {
      let orderArr: any[];
      if (orders && orders.length > 0) {
        let tempOrderArr = [];
        for (var z in orders) {
          var st = arr2[k].split("-")[0].replace(":", "") * 1;
          var et = arr2[k].split("-")[1].replace(":", "") * 1;
          var idx =
            orders[z].date_time_reservation.split(" ")[1].replace(":", "") * 1;
          if (idx >= st && idx <= et) {
            tempOrderArr.push(orders[z]);
          }
        }
        if (tempOrderArr.length > 0) {
          orderArr = tempOrderArr;
        }
      }
      //console.log(orderArr);
      periods = periods.concat(
        this.workOnPeriods(
          arr2[k].split("-")[0],
          arr2[k].split("-")[1],
          sect,
          orderArr,
          {},
          chosenDay
        )
      );
    }
    return periods;
  }

  checkIfHasFreePeriods(times, orders, company) {
    const sect = this.services.length ? this.services[0].duration : "00:15:00";
    const start: string = times.split(" - ")[0];
    const globEnd: string = times.split(" - ")[1];
    const lunch = company.periods.find((i) => i.p_type === "lunch");
    const rest_time = company.periods.find((i) => i.p_type === "rest_time");

    const lunch_and_rest_time = { ...lunch, ...rest_time };

    return (
      this.workOnPeriods(start, globEnd, sect, orders, lunch_and_rest_time)
        .length > 0
    );
  }

  checkIfInThisDuration(time, dur, start, end) {
    return (
      moment(start, "HH:mm:ss").diff(moment(time.split(" ")[1], "HH:mm")) <=
        0 &&
      moment(end, "HH:mm:ss").diff(moment(time.split(" ")[1], "HH:mm")) >= 0
    );
  }

  reservationCreatedHandler() {
    this.getSpecOrders();
    this.specModal = false;
  }

  workOnPeriods(start, globEnd, sect, orders, lunch, chosenDay = "") {
    let currentOrder = orders
      ? orders[0]
      : { date_time_reservation: "01.01.1970 23:59" };
    let current = start;
    let periods = [];

    let todayDay = moment().format("DD.MM.YYYY");
    let nowTime = moment().unix();
    let startTime = moment(start, "HH:mm").unix();
    if (todayDay == chosenDay && startTime < nowTime) {
      let finish = moment();
      let remainder = 15 - (finish.minute() % 15);
      current = moment(finish).add(remainder, "minutes").format("HH:mm");
    }

    function generatePeriods() {
      startTime = moment(current, "HH:mm").unix();
      if (todayDay == chosenDay && startTime < nowTime) {
        let finish = moment();
        let remainder = 15 - (finish.minute() % 15);
        current = moment(finish).add(remainder, "minutes").format("HH:mm");
      }

      let now = moment(current, "HH:mm");
      let dur = moment.duration(sect);
      let end = now.add(dur);

      if (end.diff(moment(globEnd, "HH:mm")) > 0) {
        return;
      }
      //if (lunch && (end.diff(moment(lunch.start_time, 'HH:mm:ss')) >= 0 && end.diff(moment(lunch.end_time, 'HH:mm:ss')) <= 0)) {
      if (
        lunch &&
        end.diff(moment(lunch.start_time, "HH:mm:ss")) > 0 &&
        end.diff(moment(lunch.end_time, "HH:mm:ss")) <= 0
      ) {
        current = moment(lunch.end_time, "HH:mm:ss").format("HH:mm");
      } else if (
        end.diff(
          moment(currentOrder.date_time_reservation.split(" ")[1], "HH:mm")
        ) <= 0
      ) {
        periods.push({ start: current, end: end.format("HH:mm") });
        current = end.format("HH:mm");
      } else {
        current = moment(
          currentOrder.date_time_reservation.split(" ")[1],
          "HH:mm"
        )
          .add(moment.duration(currentOrder.duration))
          .format("HH:mm");
        currentOrder = orders[orders.indexOf(currentOrder) + 1]
          ? orders[orders.indexOf(currentOrder) + 1]
          : { date_time_reservation: "01.01.1970 23:59" };
      }
      generatePeriods();
    }
    generatePeriods();
    return periods;
  }

  get sortedByDayOrders() {
    let orderedByDays = {};
    this.orders.map((i) => {
      let date = moment(i.date_time_reservation, "DD.MM.YYYY hh:mm").format(
        "DD.MM.YYYY"
      );
      orderedByDays[date]
        ? orderedByDays[date].push(i)
        : (orderedByDays[date] = [i]);
    });
    return orderedByDays;
  }

  createOrder(c, day) {
    if (this.$store.state.token) {
      if (this.datestamp(day.day) >= this.timestamp) {
        this.openModal(c, day);
      }
    } else {
      this.$store.commit("notificate", {
        text: "Для записи вам нужно зарегистрироваться",
        type: "error",
      });
    }
  }

  getSchedule() {
    let orgs = this.specialist.company;
    let orgs_list = [];
    orgs_list.push("-1");
    for (let key in orgs) {
      if (orgs[key].checked === true) {
        orgs_list.push(orgs[key].id);
      }
    }
    http(`masters/${this.slug}/schedule/beta`, "get", false, {
      day: this.startDate,
      day_count: 7,
      orgs: orgs_list,
    }).then((r) => {
      let isEmpty = false;
      this.schedule = r.data;
    });
  }

  getSpecOrders() {
    http(`masters/${this.slug}/reservations`, "get", false, {
      date_time_start: this.startDate,
      date_time_end: moment(this.startDate, "DD.MM.YYYY")
        .add(7, "d")
        .format("DD.MM.YYYY"),
    }).then((r) => {
      this.orders = r.data;
    });
  }

  openModal(c, day) {
    if (
      this.checkIfHasFreePeriods(
        c.times,
        this.sortedByDayOrders[this.formatDate(day.day)],
        c
      )
    ) {
      this.specModal = true;
      this.chosenCompany = c;
      this.chosenDay = day.day;
    }
  }

  formatTime(time) {
    return moment(time, "HH:mm:ss").format("HH:mm");
  }

  formatDate(day) {
    return moment(day, "DD.MM.YYYY").format("DD.MM.YYYY");
  }

  convertDayDate(d) {
    moment.locale("ru");
    let date = moment(d, "DD.MM.YYYY");
    return [date.format("DD"), date.format("MMMM"), date.format("dd")];
  }

  divideToCompanies(periods) {
    let orgs = this.specialist.company;
    let companies = {};
    periods.map((i) =>
      companies[i.owner]
        ? companies[i.owner].push(i)
        : (companies[i.owner] = [i])
    );

    let companiesArr = [];
    for (let key in companies) {
      let street_address = "";
      let workPers = [];
      orgs.map((i) => {
        if (i.name === key) street_address = i.street_address;
      });
      companies[key].map((i) => {
        if (i.p_type === "work") workPers.push(i);
      });
      companiesArr.push({
        owner: key,
        street_address: street_address,
        periods: companies[key],
        times: `${this.formatTime(workPers[0].start_time)} - ${this.formatTime(
          workPers[workPers.length - 1].end_time
        )}`,
      });
    }
    companiesArr.map((i, index) => {
      i.color = this.colors[index];
    });
    return companiesArr;
  }

  getDuration(duration) {
    const l = duration.length;
    const r =
      parseInt(duration) === 0
        ? parseInt(duration.substring(l - 2))
        : parseInt(duration);
    return r;
  }

  mounted() {
    this.getSchedule();
    this.getSpecOrders();

    window["moment"] = this.moment;

    let owner_colors = [];
    let color_palette = this.colors;
    let i = 0;
    if (this.specialist.company) {
      this.specialist.company.forEach(function (element) {
        owner_colors[element.owner] = color_palette[i];
        i++;
      });
      this.zcolors = owner_colors;
    }
  }
}
</script>