<template>
<div>
    <div class="scroller">
    <div class="schedule">
        <div class="day" v-for="(day, dn) in schedule" :key="dn">
            <div class="company" v-for="(c, k) in divideToCompanies(day.periods)" :class="{'last-in-a-day': k === divideToCompanies(day.periods).length - 1,
                                                                                           'bottom-left-schedule': k === divideToCompanies(day.periods).length - 1 && dn === 0,
                                                                                           'bottom-right-schedule': k === divideToCompanies(day.periods).length - 1 && dn === schedule.length - 1,
                                                                                           'top-left-schedule': k === 0 && dn === 0,
                                                                                           'top-right-schedule': k === 0 && dn === schedule.length - 1,
                                                                                           'inactive': !checkIfHasFreePeriods(c.times, sortedByDayOrders[formatDate(day.day)], c)
                                                                                           }"
                                                                                           :key="k">
                <div class="day-color mb-20" :style="{ background: zcolors[c.owner] }"></div>
                <!--<div class="day-color mb-20" v-if="!admin" :style="{ background: zcolors[c.owner] }"></div>-->
                <!--<div v-else="" class="day-color mb-20" :style="{ background: 'transparent' }"></div>-->
                <div class="day-name" v-if="k === 0">
                    <h3 class="mb-5"><AnimatedNumber :num="+convertDayDate(day.day)[0]" /></h3>
                    <span class="mb-15 block">{{ convertDayDate(day.day)[1] }}, {{ convertDayDate(day.day)[2] }}</span>
                </div>
                <div v-if="specialist.full_name !== c.owner" class="company-times">
                    {{ c.owner }}
                </div>
                <div class="company-times mb-15 dark-body-text">
                    {{ c.times }}
                </div>
                <div v-if="copyBuffer === false && cutBuffer === false" class="text-center mt-20 mb-20" style="height:48px">
                    <div class="addbtn">
                        <Button v-if="datestamp(day.day) >= timestamp" type="blue" @click="specModal = true; chosenCompany = c; chosenDay = day.day;" text="Записать" />
                    </div>
                    <div class="noaddbtn">
                    <Button type="blue" style="background:#eb5757" text="Занято" />
                </div>
                </div>
                <div v-if="copyBuffer === true || cutBuffer === true" class="big-period pl-10 pr-10 pb-10">
                    <div v-for="period in c.periods" v-if="c.periods.length" :key="period.start_time">
                        <div v-if="timestamp < dateToUnix(day.day) && period.p_type === 'work'">
                            <div v-for="(z, x) in workOnPeriods(period.start_time, period.end_time, bufferData.duration, sortedByDayOrders[day.day], {}, '', true, day.day)" :key="x">
                                <div class="paste-in break mt-5 order middle-period" @click="pasteBuffer(day.day, z.start, period.owner)">
                                    {{ formatTime(z.start) }}-{{ formatTime(z.end) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="copyBuffer === false && cutBuffer === false" class="big-period pl-10 pr-10 pb-10">
                    <div v-for="period in c.periods" :class="{'big-period': period.p_type === 'work'}" v-if="c.periods.length" :key="period.start_time">
                        <div v-if="period.p_type === 'lunch'" class="lunch mt-5 order middle-period">
                            обед<br>{{ formatTime(period.start_time) }}-{{ formatTime(period.end_time) }}
                        </div>
                        <div v-if="period.p_type === 'rest_time'" class="break mt-5 order middle-period">
                            {{ period.info }}<br>{{ period.start_time }}-{{ period.end_time }}
                        </div>
                        <div v-if="period.p_type === 'live'" class="break mt-5 order middle-period">
                            Живая очередь<br>{{ period.start_time }}-{{ period.end_time }}
                        </div>
                        <div v-if="period.p_type === 'work'">
                            <div class="break mt-5 order admin-period" :class="{ reserved: o.status === 'armored' }" v-for="o in sortedByDayOrders[formatDate(day.day)]" :key="o.id" v-if="checkIfInThisDuration(o.date_time_reservation, o.duration, period.start_time, period.end_time)">
                                <template>
                                    <!--  :class="{'trans_05': moment().unix() > datestamp(o.date_time_reservation)}" -->
                                    <div class="admin-order">
                                        <div class="mb-15 admin-order-info">
                                            <font-awesome-icon class="mr-5 admin-order-icon" :icon="['fal', 'user-circle']" />
                                            <div>
                                                <span class="dark-body-text mb-5 block admin-order-name">{{ o.client_name }}</span>
                                                <span class="block admin-order-time">{{ o.service }}</span>
                                                <span class="block admin-order-time">{{ moment(o.date_time_reservation, 'DD.MM.YYYY HH:mm').format('HH:mm') }} - {{ moment(o.date_time_reservation, 'DD.MM.YYYY HH:mm').add(moment.duration(o.duration)).format('HH:mm') }}</span>
                                            </div>
                                        </div>
                                        <div class="center admin-order-info">
                                            <span class="admin-order-phone block center">{{ o.phone }}</span>
                                        </div>
                                        <div v-if="o.comment" class="mt-10">
                                            <span>{{ o.comment }}</span>
                                        </div>
                                        <!--div class="admin-order-change" v-if="o.status == 'armored'">
                                            <div class="dark-body-text admin-order-change-text">Править запись</div>
                                            <div class="mt-15 admin-order-change-icons" >
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="updateStatus(o.id, 'confirmed')" :icon="['fal', 'check-circle']" />
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="updateStatus(o.id, 'refused')" :icon="['fal', 'times-circle']" />
                                            </div>
                                        </div-->

                                        <div class="admin-order-change" v-if="o.timestamp >= timestamp && o.status !== 'armored'">
                                            <div class="dark-body-text admin-order-change-text">Править запись</div>
                                            <div class="mt-15 admin-order-change-icons" >
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="editOrderPopup(o.id, o.client_name, o.phone, o.comment, o.price)" :icon="['fal', 'pen-square']" />
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="confirmCanseledPopup(o.id, o.service, o.client_name)" :icon="['fal', 'times-circle']" />
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="editTimePopup(o)" :icon="['fal', 'clock']" />
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="copyPopup(o)" :icon="['fal', 'copy']" />
                                                <font-awesome-icon class="admin-order-change-icons-single" @click="printPopup(o.id, o.service, o.price, o.client_name, o.date_time_reservation, o.master_name)" :icon="['fal', 'print']" />
                                            </div>
                                        </div>
                                        <div class="admin-order-change" v-if="o.timestamp >= timestamp && o.status == 'armored'">
                                            <div class="dark-body-text admin-order-change-text">Забронировано</div>
                                            <div class="mt-15 admin-order-change-icons">
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="editOrderPopup(o.id, o.client_name, o.phone, o.comment, o.price)" :icon="['fal', 'pen-square']" />
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="updateStatus(o.id, 'confirmed')" :icon="['fal', 'check-circle']" />
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="confirmCanseledPopup(o.id, o.service, o.client_name)" :icon="['fal', 'times-circle']" />
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="editTimePopup(o)" :icon="['fal', 'clock']" />
                                                <font-awesome-icon class="mr-10 admin-order-change-icons-single" @click="copyPopup(o)" :icon="['fal', 'copy']" />
                                                <!--font-awesome-icon class="admin-order-change-icons-single" @click="printPopup(o.id, o.service, o.price, o.client_name, o.date_time_reservation, o.master_name)" :icon="['fal', 'print']" /-->
                                            </div>
                                        </div>

                                    </div>
                                </template>
                            </div>
                            <!-- <div class="break mt-5 order little-period
                                09:00 - 09:30
                            </div>
                            <div class="break mt-5 order little-period">
                                09:30 - 10:00
                            </div>
                            <div class="break mt-5 order middle-period">
                                10:00 - 11:00
                            </div>
                            <div class="break mt-5 order big-period">
                                11:00 - 13:00
                            </div> -->
                        </div>
                    </div>
                </div>
                <!--
                <div v-if="copyBuffer === false && cutBuffer === false" class="text-center mt-20 mb-20" style="height:48px">
                    <div class="addbtn">
                        <Button v-if="datestamp(day.day) >= timestamp" type="blue" @click="specModal = true; chosenCompany = c; chosenDay = day.day;" text="Записать" />
                    </div>
                </div>
                -->
                <!-- <div class="orders pl-10 pr-10 pb-10">
                    <div class="order">
                        <h4>09:30 - 10:00</h4>
                    </div>
                    <div class="invisible-order">

                    </div>
                </div> -->
            </div>
            <div class="company last-in-a-day inactive" v-if="!day.periods.length">
                <div v-if="!admin" class="day-color mb-20" :style="{ background: '#e0e0e0' }"></div>
                <div v-else class="day-color mb-20" :style="{ background: 'transparent' }"></div>
                <!--div class="day-color mb-20" :style="{ background: 'transparent' }"></div-->
                <div class="day-name">
                    <h3 class="mb-5">{{ convertDayDate(day.day)[0] }}</h3>
                    <span class="mb-15 block">{{ convertDayDate(day.day)[1] }}, {{ convertDayDate(day.day)[2] }}</span>
                </div>
                <div class="big-period pl-10 pr-10 pb-10">
                    <div class="little-period order holiday-marker">выходной</div>
                    <div v-if="day.info !== ''" class="company-times mt-15">{{ day.info }}</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div v-if="bufferForm == true" style="position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:99">
        <div style="position:absolute;width:400px;height:200px;top:50%;left:50%;background:#ffffff;margin:-100px 0 0 -200px;padding:20px;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);border-radius: 4px">
            <h3 v-if="copyBuffer === true" class="mb-10">Подтвердите копирование</h3>
            <h3 v-if="cutBuffer === true" class="mb-10">Подтвердите перемещение</h3>
            <p class="mb-30">
                Вы действительно хотите скопировать данные<br />
                на выбранную дату <strong>{{ bufferData.date_time_reservation }}</strong>?
            </p>
            <div>
                <div class="mr-10 inline-block">
                    <Button type="blue" text="Подтвердить" @click="saveBuffer" />
                </div>
                <div class="inline-block">
                    <Button type="gray" text="Отмена" @click="bufferForm = false" />
                </div>
            </div>
        </div> 
    </div>
    <div v-if="printForm == true" style="position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:99">
        <div style="position:absolute;width:320px;height:320px;top:50%;left:50%;background:#ffffff;margin:-160px 0 0 -160px;padding:20px;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);border-radius: 4px;text-align: center">
            <div id="printElement">
                <p class="mb-15" style="text-align:center"><img src="/images/logo_black.svg" style="width:125px"></p>
                <p v-if="specialist.full_name !== printData.master_name" class="dark-body-text" style="font-family: 'Arial Black';
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #000000;">{{ printData.master_name }}</p>
                <!--<hr v-if="specialist.full_name !== printData.master_name" style="border-top: 1px dashed #cccccc" />-->
                <p class="dark-body-text" style="font-family: 'Arial Black';
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: #000000;">{{ specialist.full_name }}</p>
                <h1 style="font-family:'Arial Black';font-size:33px;color:#000">{{ printData.time_reservation }}</h1>
                <p class="dark-body-text mb-10" style="font-family: 'Arial Black';
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #000000;">{{ printData.date_time_reservation }}</p>
                <!--<hr style="border-top: 1px dashed #cccccc" />-->
                <p class="dark-body-text" style="font-family: 'Arial Black';
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #000000;">{{ printData.service }}</p>
                <p class="dark-body-text mb-15" style="font-family: 'Arial Black';
                line-height: normal;
                font-size: 10px;
                text-align: center;
                color: #000000;">{{ printData.price }} cом</p>
                <!--<hr style="border-top: 1px dashed #cccccc" />-->
                <p class="mb-5" style="font-family: 'Arial Black';
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: #000000;">Клиент: {{ printData.client_name }}</p>
                <!--<hr style="border-top: 1px dashed #cccccc" />-->
            </div>
            <div class="mt-30">
                <div class="mr-10 inline-block">
                    <Button type="blue" text="Печать" @click="PrintMe('printElement')" />
                </div>
                <div class="inline-block">
                    <Button type="gray" text="Отмена" @click="printForm = false" />
                </div>
            </div>
        </div>
    </div>
    <div v-if="timeForm == true" style="position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:99">
        <div style="position:absolute;width:320px;height:400px;top:100px;left:50%;background:#ffffff;margin:0 0 0 -160px;padding:20px;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);border-radius: 4px;">
            <h3 class="mb-10">Правка заявки #{{ orderTimeData.id }}</h3>
            <p class="mb-5">Услуга</p>
            <p class="dark-body-text mb-15">{{ orderTimeData.service }}</p>
            <p class="mb-5">Клиент</p>
            <p class="dark-body-text mb-15">{{ orderTimeData.client_name }}</p>
            <p class="mb-5">Время записи</p>
            <p class="dark-body-text mb-15">{{ orderTimeData.date_time_reservation }}</p>
            <p class="mb-5">Перенести на</p>
            <p class="dark-body-text mb-30">
                <select v-model="newday" @change="selectNewPeriod(orderTimeData.duration)" class="mr-10">
                    <option value="">Выберите</option>
                    <option v-if="day.periods.length > 0" v-for="(day, dn) in schedule" :key="dn" :value="day.day">{{ day.day }}</option>
                </select>
                <select v-if="newperiods.length > 0" v-model="newperiod">
                    <option v-for="(p, i) in newperiods" :key="i" :value="p.start">{{ p.start }} - {{ p.end }}</option>
                </select>
            </p>
            <div>
                <div class="mr-10 inline-block">
                    <Button type="blue" text="Подтвердить" @click="updateOrderTime(orderTimeData.id)" />
                </div>
                <div class="inline-block">
                    <Button type="gray" text="Отмена" @click="timeForm = false" />
                </div>
            </div>
        </div>
    </div>
    <div v-if="orderForm == true" style="position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:99">
        <div style="position:absolute;width:320px;height:450px;top:100px;left:50%;background:#ffffff;margin:0 0 0 -160px;padding:20px;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);border-radius: 4px;">
            <h3 class="mb-10">Правка заявки #{{ orderData.id }}</h3>
            <p class="mt-20 mb-5">Клиент</p>
            <input v-model="orderData.client_name" class="rounded-input mb-15" style="width:100%" type="text" />
            <p class="mb-5">Контактный номер</p>
            <input v-model="orderData.phone" class="rounded-input mb-15" style="width:100%" type="text" />
            <p class="mb-5">Стоимость</p>
            <input v-model="orderData.price" class="rounded-input mb-15" style="width:100%" type="text" />
            <p class="mb-5">Комментарий</p>
            <textarea v-model="orderData.comment" style="width:100%" class="mb-20"></textarea>
            <div>
                <div class="mr-10 inline-block">
                    <Button type="blue" text="Подтвердить" @click="updateOrder" />
                </div>
                <div class="inline-block">
                    <Button type="gray" text="Отмена" @click="orderForm = false" />
                </div>
            </div>
        </div>
    </div>
    <div v-if="confirmCanseled == true" style="position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:99">
        <div style="position:absolute;width:320px;height:400px;top:100px;left:50%;background:#ffffff;margin:0 0 0 -160px;padding:20px;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);border-radius: 4px;">
            <h3 class="mb-10">Отмена заявки #{{ confirmCanseledData.id }}</h3>
            <p class="mb-5">Услуга</p>
            <p class="dark-body-text mb-15">{{ confirmCanseledData.service }}</p>
            <p class="mb-5">Клиент</p>
            <p class="dark-body-text mb-30">{{ confirmCanseledData.client_name }}</p>
            <p class="mb-15">Укажите причину отмены заявки</p>
            <textarea v-model="confirmCanseledData.comment" style="width:100%;height:100px" class="mb-15"></textarea>
            <div>
                <div class="mr-10 inline-block">
                    <Button type="blue" text="Подтвердить" @click="canceledOrder(confirmCanseledData.id)" />
                </div>
                <div class="inline-block">
                    <Button type="gray" text="Отмена" @click="confirmCanseled = false" />
                </div>
            </div>
        </div>
    </div>
    <RegisterTimeModal :date="chosenDay" :opened="specModal" @reservation-created="reservationCreatedHandler" v-on:close-it="specModal = false" :org="chosenCompany" :specialist="specialist" :services="services" v-on:choose-sect="(i) => this.chosenService = i" :periods="this.periods" :registrator="true"></RegisterTimeModal>
    <!--RegisterTimeAdminModal :date="chosenDay" :opened="specModal" v-on:reservation-created="reservationCreatedHandler" v-on:close-it="specModal = false" :specialist="specialist" :services="services" v-on:choose-sect="(i) => this.chosenService = i" :periods="this.periods"></RegisterTimeAdminModal-->
</div>
</template>
<style lang="stylus" scoped>
    @import '../styles/main.core.vars.styl'

    .scroller
        /* height: 80vh */
        /* overflow-y: scroll */
        border-radius: 4px

    .schedule
        display: flex
        border-radius: 4px
        .day
            border-left: 1px solid #e8e8e8
            width: 100%
            display: flex
            flex-direction: column
            justify-content: flex-start
            &:first-child
                border-left: 0
    
    .day-color
        height: 5px
        background: #2F80ED

    .day-name
        text-align: center

    .order
        border-radius: 4px
        background: $very_light_gray
        display: flex
        align-items: center
        justify-content: center

    .company
        background: #fff
        height: 100%

    .company-times
        text-align: center

    .company:not(.inactive):hover
        /*
        transition: transform 0.2s
        transform: scale(1.03)
        border-left: 0
        box-shadow: $box_shadow
        z-index: 1
        */
        .addbtn
            display: block

    .addbtn
        display: none

    .noaddbtn
        display: none

    .company.inactive
        cursor: not-allowed
        background: #fcfcfc

    .company.inactive .noaddbtn
        display: block

    .big-period
        min-height: 82px

    .middle-period
        min-height: 41px

    .little-period
        min-height: 21px

    .admin-period
        min-height: 108px

    .lunch
        text-align: center
        color: #fff
        background: $green_color
        font-size: 10px

    .break
        padding:10px 5px
        text-align: center
        font-size: 10px

    .last-in-a-day
        height: 100%

    .bottom-left-schedule
        border-bottom-left-radius: 4px

    .bottom-right-schedule
        border-bottom-right-radius: 4px

    .top-left-schedule
        border-top-left-radius: 4px
        .day-color
            border-top-left-radius: 4px

    .top-right-schedule
        border-top-right-radius: 4px
        .day-color
            border-top-right-radius: 4px

    .holiday-marker
        background: $red_color
        color: #fff
        padding-bottom: 2px
        border-radius: 25px
        width: max-content
        padding: 0 10px 2px
        margin-left: auto
        margin-right: auto

    .admin-order
        padding: 20px 10px
        width: 100%
        justify-content: flex-start
            
        position: relative
        &-info
            display: flex
        &-name
            font-size: 13px
        &-time
            font-size: 12px
        &-phone
            font-size: 14px
            width: 100%
        &-icon
            font-size: 16px
        &-change
            position: absolute
            left: 0
            top: 0
            padding: 20px 10px
            background: $very_light_gray
            height: 100%
            width: 100%
            border-radius: 4px
            flex-direction: column
            align-items: center
            display: none
            &-text
                font-size: 12px
            &-icons
                font-size: 20px
                &-single
                    cursor: pointer
                    transition: 0.3s
                &-single:hover
                    color: cyan_dark_color
        

        &:hover .admin-order-change
            display: flex


    .center
        text-align: center

    .admin-period.reserved
        background: $yellow_color
        .admin-order-change
            background: $yellow_color
            .admin-order-change-icons-single:hover
                color: #fff

    .paste-in:hover
        background: #1BEFDC
        cursor: pointer

    .times-too-choose
        display: flex
        flex-wrap: wrap
        width: 400px
        cursor: pointer
        .time
            width: 115px
            display: flex
            align-items: center
            justify-content: center
            height: 40px
            background: $very_light_gray
            border-radius: 4px

    .trans_05
        text-decoration: line-through
        /*opacity: .5*/
    .addBtn
        margin-left: auto;
        margin-right: auto;
        text-align: center;
</style>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { State, Mutation } from 'vuex-class'
import RegisterTimeModal from '@/components/modals/RegisterTimeModal.vue';
//import RegisterTimeAdminModal from '@/components/modals/RegisterTimeAdminModal.vue';
import AnimatedNumber from '@/components/AnimatedNumber.vue';
import Button from '@/components/Button.vue';
import http from '@/methods/http.ts';
import moment from 'moment';

@Component({
    components: {
        RegisterTimeModal,
        //RegisterTimeAdminModal,
        AnimatedNumber,
        Button
    }
})
export default class ScheduleAdmin extends Vue {

    @Prop() slug;
    @Prop() specialist;
    @Prop(String) startDate
    @Prop() services
    @Prop() admin
    @Prop() current_org

    // @State('orderForm') orderForm: any;
    // @State('timeForm') timeForm: any;
    // @State('printForm') printForm: any;
    // @State('bufferForm') bufferForm: any;
    @State('copyBuffer') copyBuffer
    @State('cutBuffer') cutBuffer

    // @Mutation('changeOrderForm') changeOrderForm: void
    // @Mutation('changeTimeForm') changeTimeForm: void
    // @Mutation('changePrintForm') changePrintForm: void
    // @Mutation('changeBufferForm') changeBufferForm: void
    @Mutation('changeCopyBuffer') changeCopyBuffer
    @Mutation('changeCutBuffer') changeCutBuffer

    moment = moment;

    todayDay = moment().format('DD.MM.YYYY');
    timestamp = moment().subtract(1, 'days').endOf('day').unix();

    startTime = '';
    endTime = '';

    // cutBuffer = false;
    // copyBuffer = false;
    
    newday = '';
    newperiod = '';
    newperiods = [];

    confirmCanseled = false;
    orderForm = false;
    timeForm = false;
    printForm = false;
    bufferForm = false;
    confirmCanseledData = {
        'id': '',
        'service': '',
        'client_name': '',
        'comment': ''
    };
    orderData = {
        'id': '',
        'client_name': '',
        'phone': '',
        'comment': '',
        'price': ''
    };
    orderTimeData = {
        'id': '',
        'service': '',
        'client_name': '',
        'date_time_reservation': '',
        'duration': '',
    };
    printData = {
        'id': '',
        'service': '',
        'price': '',
        'client_name': '',
        'date_time_reservation': '',
        'time_reservation': '',
        'master_name': '',
    };
    bufferData = {};
    ordersFillData = [];

    @Watch('startDate', {deep: true, immediate: true})
    @Watch('specialist', {deep: true, immediate: true})
    onStartDateChange() {
        this.getSchedule();
        this.getSpecOrders();
    }

    colors = [
        '#2F80ED',
        '#F2C94C',
        '#ddd',
        '#eee',
    ];

    zcolors = [];
    schedule = [];
    orders = [];
    chosenCompany: any = {times: '00:00 - 23:59', periods: []};
    chosenService: any = {duration: '00:30:00'};
    chosenDay: string = '';

    datestamp(date) {
        return moment(date, 'DD.MM.YYYY').unix();
    }

    get periods() {
        if (!this.chosenCompany || !this.chosenService.name || !this.chosenDay.length) return [];
        
        const start: string = this.chosenCompany.times.split(' - ')[0];
        const globEnd: string = this.chosenCompany.times.split(' - ')[1];
        const sect: string = this.chosenService.duration;
        const orders: any[] = this.sortedByDayOrders[this.chosenDay];
        const lunch: any = this.chosenCompany.periods.find(i => i.p_type === 'lunch');
        const live: any = this.chosenCompany.periods.find(i => i.p_type === 'live');
        const rest_time: any[] = this.chosenCompany.periods.find(i => i.p_type === 'rest_time');

        let redtime = [];
        this.chosenCompany.periods.map((i) => {
            if (i.p_type === 'rest_time') {
                redtime.push(i);
            }
        });

        const chosenDay: string = this.chosenDay;

        //const lunch_and_rest_time = {...lunch, ...rest_time};
        return this.reorderSchedule(chosenDay, start, globEnd, sect, orders, lunch, redtime, live);

        //return this.workOnPeriods(start, globEnd, sect, orders, lunch_and_rest_time);
    }

    reorderSchedule(chosenDay, start, globEnd, sect, orders, lunch, rest_time, live) {
        let arr = [];
        let periods = [];

        if (lunch || (rest_time && rest_time.length > 0) || live) {
            if (live) {
                arr.push(live.start_time + '-' + live.end_time);
            }
            if (lunch) {
                arr.push(lunch.start_time + '-' + lunch.end_time);
            }
            if (rest_time.length > 0) {
                for (var k in rest_time) {
                    arr.push(rest_time[k].start_time + '-' + rest_time[k].end_time);
                }
            }
            arr.push(start + '-' + null);
            arr.push(null + '-' + globEnd);
        } else {
            arr.push(start + '-' + globEnd);
        }

        arr.sort();

        let arr2 = [];
        if (arr.length > 1) {
            for (var k in arr) {
                var next = k * 1 + 1;
                if (next >= arr.length) {
                    next = k;
                }
                var back = k * 1 - 1;
                if (back <= arr.length) {
                    back = k;
                }
                if ((arr[k]).split('-')[0] == 'null') {
                    // do nothing
                } else if ((arr[k]).split('-')[1] == 'null') {
                    arr2.push((arr[k]).split('-')[0] + '-' + (arr[next]).split('-')[0]);
                } else {
                    if ((arr[next]).split('-')[0] == 'null') {
                        arr2.push((arr[k]).split('-')[1] + '-' + (arr[next]).split('-')[1]);
                    } else {
                        arr2.push((arr[k]).split('-')[1] + '-' + (arr[next]).split('-')[0]);
                    }
                }
            }
        } else {
            arr2 = arr;
        }

        for(var k in arr2) {
            let orderArr: any[];
            if (orders && orders.length > 0) {
                let tempOrderArr = [];
                for(var z in orders) {
                    var st = ((arr2[k]).split('-')[0]).replace(':', '')*1;
                    var et = ((arr2[k]).split('-')[1]).replace(':', '')*1;
                    var idx = (orders[z].date_time_reservation.split(' ')[1]).replace(':', '')*1;
                    if (idx >= st && idx <= et) {
                        tempOrderArr.push(orders[z]);
                    }
                }
                if (tempOrderArr.length > 0) {
                    orderArr = tempOrderArr;
                }
            }
            periods = periods.concat(this.workOnPeriods((arr2[k]).split('-')[0], (arr2[k]).split('-')[1], sect, orderArr, {}, chosenDay));
        }
        return periods;
    }

    cancelTheReservation(id) {
        http(`reservation/${id}/cancel`, 'delete', this.$store.state.token, {}).then(r => {
                this.$store.commit('notificate', { type: 'action', text: 'Запись успешно удалена' });
                this.getSpecOrders();
            })
    }

    confirmTheReservation(id) {
        http(`reservation/${id}/edit`, 'put', this.$store.state.token, {
            status: {
                type: 'confirm'
            }
        }).then(r => {
            this.$store.commit('notificate', { type: 'action', text: 'Запись успешно принята' });
            this.getSpecOrders();
        })
    }

    selectNewPeriod(duration)
    {
        for (let key in this.schedule) {
            if (this.schedule[key].day === this.newday) {
                let start = this.schedule[key].periods[0].start_time;
                let globEnd = this.schedule[key].periods[this.schedule[key].periods.length - 1].end_time;
                let sect = duration;
                let orders = this.sortedByDayOrders[this.newday];
                let lunch = this.schedule[key].periods.find(i => i.p_type === 'lunch');
                let rest_time = this.schedule[key].periods.find(i => i.p_type === 'rest_time');

                const lunch_and_rest_time = {...lunch, ...rest_time};
                this.newperiods = this.workOnPeriods(start, globEnd, sect, orders, {});
            }
        }
    }

    copyPopup(data) {
        this.ordersFillData = [];
        this.bufferData = data;
        this.changeCopyBuffer(true);
        // this.copyBuffer = true;
        this.$parent.$parent.copyBuffer = true;
    }

    pasteBuffer(date_time_reservation, start, owner) {
        this.bufferData.date_time_reservation = date_time_reservation+' '+start;
        this.bufferData.master_name = owner;
        //this.bufferForm = true;
        this.saveBuffer();
    }

    saveBuffer() {
        this.bufferForm = false;
        if (this.copyBuffer === true) {
            this.changeCopyBuffer(false);
            //  this.copyBuffer = false;
            this.$parent.$parent.copyBuffer = false;
            let token = 'guest';
            http(`masters/${this.slug}/reservation/create`, 'post', token, {
                'user_id': this.bufferData.user_id,
                'service': this.bufferData.service,
                'price': this.bufferData.price,
                'master_name': this.bufferData.master_name,
                'client_name': this.bufferData.client_name,
                'reservation_time': this.bufferData.date_time_reservation,
                'phone': this.bufferData.phone,
                'comment': '',
                'duration': this.bufferData.duration,
                'street_address': this.bufferData.street_address,
                'status': 'confirmed'
            }).then(r => {
                this.bufferData = {};
                this.$store.commit('notificate', {type: 'action', text: 'Спасибо, данное время забронировано'});
                this.getSpecOrders();
            }).catch(error => {
                this.$store.commit('notificate', {text: error.response.data.message, type: 'error'});
            });
        }
        if (this.cutBuffer === true) {
            this.changeCutBuffer(false);
            //  this.cutBuffer = false;
            this.$parent.$parent.cutBuffer = false;
            http('reservation/update', 'post', this.$store.state.token, {
                id: this.bufferData.id,
                reservation_time: this.bufferData.date_time_reservation
            }).then(r => {
                if (r.data.success === true) {
                    this.bufferData = {};
                    this.$store.commit('notificate', { type: 'action', text: 'Запись обновлена' });
                    this.getSpecOrders();
                }
            }, error => {
                this.$store.commit('notificate', { type: 'alert', text: error.response.data.message });
            })
        }
    }

    printPopup(id, service, price, client_name, date_time_reservation, master_name)
    {
        moment.lang('ru');
        let time_reservation = moment(date_time_reservation, 'DD.MM.YYYY HH:mm').format('HH:mm');
        date_time_reservation = moment(date_time_reservation, 'DD.MM.YYYY HH:mm').format('DD MMMM YYYY');
        this.printData.service = service;
        this.printData.price = price;
        this.printData.client_name = client_name;
        this.printData.date_time_reservation = date_time_reservation;
        this.printData.time_reservation = time_reservation;
        this.printData.master_name = master_name;
        this.printForm = true;
    }

    PrintMe(elm) {
        var disp_setting="toolbar=yes,location=no,";
        disp_setting+="directories=yes,menubar=yes,";
        disp_setting+="scrollbars=yes,width=650, height=600, left=100, top=25";
        var content_vlue = document.getElementById(elm).innerHTML;
        var docprint=window.open("","",disp_setting);
        docprint.document.open();
        docprint.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"');
        docprint.document.write('"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">');
        docprint.document.write('<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">');
        docprint.document.write('<head><title>My Title</title>');
        docprint.document.write('<style type="text/css">body{ margin:0px;');
        docprint.document.write('font-family:verdana,Arial;color:#000;');
        docprint.document.write('font-family:Verdana, Geneva, sans-serif; font-size:12px;}');
        docprint.document.write('a{color:#000;text-decoration:none;} </style>');
        docprint.document.write('</head><body onLoad="self.print()"><center>');
        docprint.document.write(content_vlue);
        docprint.document.write('</center></body></html>');
        docprint.document.close();
        docprint.focus();
    }

    editTimePopup(data)
    {
        this.ordersFillData = [];
        this.bufferData = data;
        this.changeCutBuffer(true);
        // this.cutBuffer = true;
        this.$parent.$parent.cutBuffer = true;
    }

    editOrderPopup(id, client_name, phone, comment, price)
    {
        this.orderData.id = id;
        this.orderData.client_name = client_name;
        this.orderData.phone = phone;
        this.orderData.comment = comment;
        this.orderData.price = price;
        this.orderForm = true;
    }

    updateOrderTime(id) {
        if (this.newday === '') {
            this.$store.commit('notificate', { type: 'alert', text: 'new day is empty' });
            return false;
        }
        if (this.newperiod === '') {
            this.$store.commit('notificate', { type: 'alert', text: 'new period is empty' });
            return false;
        }
        http('reservation/update', 'post', this.$store.state.token, {
            id: id,
            reservation_time: this.newday+' '+this.newperiod
        }).then(r => {
            if (r.data.success === true) {
                this.timeForm = false;
                this.$store.commit('notificate', { type: 'action', text: 'Запись обновлена' });
                this.getSpecOrders();
            }
        }, error => {
            this.$store.commit('notificate', { type: 'alert', text: error.response.data.message });
        })
    }

    updateOrder() {
        http('reservation/update', 'post', this.$store.state.token, {
            id: this.orderData.id,
            client_name: this.orderData.client_name,
            phone: this.orderData.phone,
            comment: this.orderData.comment,
            price: this.orderData.price,
        }).then(r => {
            if (r.data.success === true) {
                this.orderForm = false;
                this.$store.commit('notificate', { type: 'action', text: 'Запись обновлена' });
                this.getSpecOrders();
            }
        }, error => {
            this.$store.commit('notificate', { type: 'alert', text: error.response.data.message });
        })
    }

    confirmCanseledPopup(id, service, client_name)
    {
        this.confirmCanseledData.id = id;
        this.confirmCanseledData.service = service;
        this.confirmCanseledData.client_name = client_name;
        this.confirmCanseledData.comment = '';
        this.confirmCanseled = true;
    }

    canceledOrder(id) {
        if (this.confirmCanseledData.comment === '') {
            this.$store.commit('notificate', { type: 'alert', text: 'Укажите причину отмены заявки' });
            return false;
        }
        this.updateStatus(id, 'refused');
    }

    updateStatus(id, status) {
        http('reservation/update', 'post', this.$store.state.token, {
            id: id,
            status: status,
            comment: this.confirmCanseledData.comment
        }).then(r => {
            if (r.data.success === true) {
                this.confirmCanseled = false;
                this.$store.commit('notificate', { type: 'action', text: 'Запись обновлена' });
                this.getSpecOrders();
            }
        }, error => {
            this.$store.commit('notificate', { type: 'alert', text: error.response.data.message });
        })
    }

    checkIfHasFreePeriods(times, orders, company) {

        const sect = this.services.length ? this.services[0].duration : '00:15:00';
        const start: string = times.split(' - ')[0];
        const globEnd: string = times.split(' - ')[1];
        const lunch = company.periods.find(i => i.p_type === 'lunch');
        const rest_time = company.periods.find(i => i.p_type === 'rest_time');

        const lunch_and_rest_time = {...lunch, ...rest_time};

        return this.workOnPeriods(start, globEnd, sect, orders, lunch_and_rest_time).length > 0;
    }

    checkIfInThisDuration(time, dur, start, end) {
        return moment(start, 'HH:mm').diff(moment(time.split(' ')[1], 'HH:mm')) <= 0 && moment(end, 'HH:mm').diff(moment(time.split(' ')[1], 'HH:mm')) >= 0;
    }

    reservationCreatedHandler() {
        this.getSpecOrders();
        this.specModal = false;
    }

    workOnPeriods(start, globEnd, sect, orders, lunch, chosenDay = '', filtered = false, scheduleDay) {
        console.log({ start, globEnd, sect, orders, lunch, chosenDay, filtered })
        if (filtered === true) {
            let tempOrderArr = [];
            for(var z in orders) {
                var st = start.replace(':', '')*1;
                var et = globEnd.replace(':', '')*1;
                var idx = (orders[z].date_time_reservation.split(' ')[1]).replace(':', '')*1;
                if (idx >= st && idx <= et) {
                    tempOrderArr.push(orders[z]);
                }
            }
            if (tempOrderArr.length > 0) {
                orders = tempOrderArr;
            }
        }

        let currentOrder = orders ? orders[0] : { date_time_reservation: '01.01.1970 23:59' };
        let current = start;
        let periods = [];

        let todayDay = moment().format('DD.MM.YYYY');
        let nowTime = moment().unix();
        let startTime = moment(start, 'HH:mm').unix();
        if (todayDay == chosenDay && startTime < nowTime) {
            let finish = moment();
            let remainder = 15 - (finish.minute() % 15);
            current = moment(finish).add(remainder, "minutes").format('HH:mm');
        }

        const self = this

        function generatePeriods() {
            startTime = moment(current, 'HH:mm').unix();
            if (todayDay == chosenDay && startTime < nowTime) {
                let finish = moment();
                let remainder = 15 - (finish.minute() % 15);
                current = moment(finish).add(remainder, "minutes").format('HH:mm');
            }

            let now = moment(current, 'HH:mm');
            let dur = moment.duration(sect);
            let end = now.add(dur);

            if (end.diff(moment(globEnd, 'HH:mm')) > 0) {
                return;
            }
            //if (lunch && (end.diff(moment(lunch.start_time, 'HH:mm:ss')) >= 0 && end.diff(moment(lunch.end_time, 'HH:mm:ss')) <= 0)) {
            if (lunch && (end.diff(moment(lunch.start_time, 'HH:mm')) > 0 && end.diff(moment(lunch.end_time, 'HH:mm')) <= 0)) {
                current = moment(lunch.end_time, 'HH:mm').format('HH:mm');
            } else if (end.diff(moment(currentOrder.date_time_reservation.split(' ')[1], 'HH:mm')) <= 0) {
                console.log({ schedule: self.schedule, scheduleDay, current, dateTime: moment(scheduleDay+' '+current, 'DD-MM-YYYY HH:mm').unix(), nowTime })
                if (!scheduleDay) {
                    periods.push({start: current, end: end.format('HH:mm')});
                } else {
                    if (moment(scheduleDay+' '+current, 'DD-MM-YYYY HH:mm').unix() >= nowTime) periods.push({start: current, end: end.format('HH:mm')});
                }
                
                // periods.push({start: current, end: end.format('HH:mm')})
                current = end.format('HH:mm');
            } else {
                current = moment(currentOrder.date_time_reservation.split(' ')[1], 'HH:mm').add(moment.duration(currentOrder.duration)).format('HH:mm');
                currentOrder = orders[orders.indexOf(currentOrder) + 1] ? orders[orders.indexOf(currentOrder) + 1] : { date_time_reservation: '01.01.1970 23:59' };
            }
            generatePeriods();
        }
        generatePeriods();
        return periods;
    }

    get sortedByDayOrders() {
        let orderedByDays = {};
        this.orders.map((i) => {
            let date = moment(i.date_time_reservation, 'DD.MM.YYYY hh:mm').format('DD.MM.YYYY');
            i.timestamp = moment(date, 'DD.MM.YYYY').unix();
            orderedByDays[date] ? orderedByDays[date].push(i) : orderedByDays[date] = [i];
        });
        return orderedByDays;
    }

    dateToUnix(date) {
        return moment(date, 'DD.MM.YYYY').unix();
    }

    fillOrders(date_time, start) {
        let idx = date_time+'-'+start;
        if (this.ordersFillData[idx]) {
            return false;
        } else {
            this.ordersFillData[idx] = true;
            return true;
        }
    }

    filteredOrders(date_time, owner) {
        let date = '';
        let filteredArr = [];
        this.orders.map((i) => {
            date = moment(i.date_time_reservation, 'DD.MM.YYYY hh:mm').format('DD.MM.YYYY');
            if (date === date_time && i.master_name === owner) {
                return {fff:'ggg'};
                filteredArr[date] ? filteredArr[date].push(i) : filteredArr[date] = [i];
            }
        });
        if (filteredArr[date]) {
            return filteredArr[date];
        } else {
            let filteredArr: any[];
            return filteredArr;
        }
    }

    getSchedule() {
        http(`masters/${this.slug}/schedule/beta`, 'get', false, {
            day: this.startDate,
            day_count: 7,
            orgs: this.current_org
        }).then(r => {
            this.schedule = r.data
        });
    }

    getSpecInfo() {
        http(`masters/${this.slug}`, "get", false, {}).then(r => {
            //this.specInfo = r.data;
            let owner_colors = [];
            let color_palette = this.colors;
            let i = 0;
            if (r.data.company) {
                r.data.company.forEach(function (element) {
                    owner_colors[element.owner] = color_palette[i];
                    i++;
                });
                this.zcolors = owner_colors;
            }
        });
    }

    getSpecOrders() {
        http(`masters/${this.slug}/reservations`, "get", false, {
            date_time_start: this.startDate,
            date_time_end: moment(this.startDate, 'DD.MM.YYYY').add(7, "d").format('DD.MM.YYYY'),
            sort: 'reservation_time_asc'
        }).then(r => {
            this.orders = r.data;
        })
    }

    formatTime(time) {
        return moment(time, 'HH:mm:ss').format('HH:mm');
    }

    formatDate(day) {
        return moment(day, 'DD.MM.YYYY').format('DD.MM.YYYY')
    }

    convertDayDate(d) {
        moment.locale('ru');
        let date = moment(d, 'DD.MM.YYYY');
        return [date.format('DD'), date.format('MMMM'), date.format('dd')];
    }

    divideToCompanies(periods) {
        let orgs = this.specialist.company;
        let companies = {};
        periods.map(i => companies[i.owner] ? companies[i.owner].push(i) : companies[i.owner] = [i]);

        let companiesArr = [];
        for (let key in companies) {
            let street_address = '';
            let workPers = [];
            orgs.map(i => {
                if (i.name === key) street_address = i.street_address;
            });
            companies[key].map(i => {
                if (i.p_type === 'work') workPers.push(i);
            });
            companiesArr.push({
                owner: key,
                street_address: street_address,
                periods: companies[key],
                times: `${this.formatTime(workPers[0].start_time)} - ${this.formatTime(workPers[workPers.length - 1].end_time)}`,
            })
        }
        companiesArr.map((i, index) => {
            i.color = this.colors[index] 
        });
        return companiesArr;
    }

    specModal = false;

    mounted() {
        this.getSchedule();
        this.getSpecOrders();

        window['moment'] = this.moment;

        this.getSpecInfo();
        /*
        let owner_colors = [];
        let color_palette = this.colors;
        let i = 0;
        if (this.specialist.company) {
            this.specialist.company.forEach(function (element) {
                owner_colors[element.owner] = color_palette[i];
                i++;
            });
            this.zcolors = owner_colors;
        }
        */
    }
}

</script>