<template>
    <div class="single-share animated-shadow pointer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="share-desc">
                        <div class="title">
                            <font-awesome-icon class="icon" :icon="['fal', 'building']" />
                            <h4>{{ title }}</h4>
                        </div>
                        <div class="desc">
                            <p>УЗИ всех органов</p>
                        </div>
                        <div class="date">
                            <font-awesome-icon class="icon" :icon="['fal', 'calendar-alt']" />
                            <span>{{ date }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="shares-img" :style="{'background-image': 'url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)'}">
                        <span class="discount">
                            -40%
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="stylus" scoped>
    @import '../styles/main.core.vars.styl'

    .single-share
        background: #fff
        border-radius: 4px
        overflow: hidden
        margin: 0 0 20px

    .share-desc
        margin-right: -15px
        height: 141px

    .title
        display: flex
        align-items: flex-start
        margin-top: 13px
        .icon
            color: $black_text
            font-size: 16px

    .desc
        margin-top: 10px
        p
            color: $dark_gray_text

    .shares-img
        background: #000
        height: 156px
        margin-right: -15px
        background-size: cover
        background-position: center

    h3
        margin: 20px 5px 30px
        height: 68px
        overflow: hidden

    .icon
        margin: 0 5px 0 0
        color: $gray_text
        font-size: 16px

    span
        color: $gray_text
        font-size: 13px

    .date
        position: absolute
        bottom: 5px
        left: 15px

    .discount
        position: absolute
        right: 10px
        top: 10px
        padding: 5px 10px
        color: #fff
        background: $yellow_color
        font-weight: 700
        font-size: 18px
</style>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class Shares extends Vue {
    @Prop(String) title!: string
    @Prop(String) date!: string
    @Prop(Number) views!: number
}

</script>
