<template>
  <div class="slider">
    <div class="container-fluid">
      <div class="button-left nav-button">
        <div class="icon" @click="before">
          <font-awesome-icon :icon="['fal', 'chevron-circle-left']" />
        </div>
      </div>
      <div class="button-right nav-button">
        <div class="icon" @click="next" id="next">
          <font-awesome-icon :icon="['fal', 'chevron-circle-right']" />
        </div>
      </div>
      <div class="row flex slide-wrap">
        <div class="col-lg-6">
          <transition name="slide-fade" mode="out-in">
            <div class="slider-text" :key="currentSlide.id">
              <h1 class="title">{{ currentSlide.title }}</h1>
              <p class="subtitle" v-html="currentSlide.subtitle"></p>
              <router-link :to="currentSlide.url">
                <Button
                  class="slide-btn"
                  icon="user-circle"
                  :text="currentSlide.url_title"
                ></Button>
              </router-link>
            </div>
          </transition>
        </div>
        <div class="col-lg-6 slider-image">
          <transition name="slide-fade" mode="out-in">
            <img :src="currentSlide.image" :key="currentSlide.id" />
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="stylus" scoped>
@import '../styles/main.core.vars.styl';

.slider {
  height: 350px;
  position: relative;
}

.slider-text {
  padding-left: 80px;

  h1 {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 70px;
  }

  p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
  }
}

// .slide-btn {
// background: linear-gradient(135deg, #35E3E2 0%, #26D4D8 100%);
// box-shadow: -18px 18px 36px rgba(13, 156, 156, 0.2), 18px -18px 36px rgba(13, 156, 156, 0.2), -18px -18px 36px rgba(21, 248, 248, 0.9), 18px 18px 45px rgba(13, 156, 156, 0.9), inset 1px 1px 2px rgba(21, 248, 248, 0.3), inset -1px -1px 2px rgba(13, 156, 156, 0.5);
// border-radius: 34.5px;
// }
.slide-wrap {
  overflow-x: hidden;
}

.nav-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  width: 40px;
  z-index: 1;

  .icon {
    font-size: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    display: inline-block;
    height: 40px;
  }
}

.nav-button.button-right {
  right: 0;
}

.nav-button.button-left {
  left: 0;
}

img {
  max-height: 350px;
}

.flex {
  display: flex;
}

@media (max-width: 1200px) {
  .slider {
    height: 350px;
  }

  .slider-text {
    padding-left: 80px;
  }

  .slider-text h1 {
    margin-top: 70px;
  }

  .slider-image {
    display: block;
  }
}

@media (max-width: 576px) {
  .slider {
    height: 300px;
  }

  .slider-text {
    padding-left: 40px;
    padding-right: 40px;
  }

  .slider-text h1 {
    font-size: 24px;
    margin-top: 0;
  }

  .slider-text p {
    font-size: 13px;
  }

  .slider-image {
    // display: none;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 20%;
  }

  img {
    max-height: 250px;
  }

  .slider-text {
    position: relative;
    z-index: 1;
  }

  .subtitle {
    display: none;
  }
}

.slide-fade-enter-active {
  transition: all 0.6s;
}

.slide-fade-leave-active {
  transition: all 0.6s;
}

.slide-fade-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateX(-200%);
}
</style>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import Button from "@/components/Button.vue";
import http from "@/methods/http.ts";

@Component({
  components: {
    Button,
  },
})
export default class Slider extends Vue {
  currentSlideIndex = 0;

  get currentSlide() {
    return this.slides[this.currentSlideIndex] || {};
  }

  getSlides() {
    http("slider", "get", false, {}).then((r) => {
      this.slides = r.data.results;
    });
  }

  slides = [
    {
      header: "Не можете попасть на прием к врачу?",
      id: 0,
      text:
        "У нас вы сможете <strong>найти</strong> нужного специалиста, <strong>забронировать</strong> услугу и спланировать своё расписание.",
      "button-text": "Спецы все",
      img: "/images/slide.png",
    },
    {
      id: 1,
      header: "Не можете прием к врачу попасть?",
      text:
        "У нас вы сможете <strong>найти</strong> нужного специалиста, своё расписание.",
      "button-text": "Все специалисты",
      img: "/images/slide.png",
    },
  ];

  next() {
    if (this.currentSlideIndex + 1 > this.slides.length - 1) {
      this.currentSlideIndex = 0;
    } else {
      this.currentSlideIndex += 1;
    }
  }

  before() {
    if (this.currentSlideIndex - 1 < 0) {
      this.currentSlideIndex = this.slides.length - 1;
    } else {
      this.currentSlideIndex -= 1;
    }
  }
  autoSlide() {
    setInterval(() => {
      this.before();
    }, 4500);
  }
  created() {
    this.getSlides();
  }
  mounted() {
    this.autoSlide();
    //  document.querySelector("#next").addEventListener("click", function () {
    //     alert("HOVER2");
    //   });
  }
}
</script>
