<template>
  <router-link
    :to="admin ? `/companies/${adminCompany}/admin/specialists/${slug}` : `/masters/${slug}`"
  >
    <div class="single-spec animated-shadow">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-xs-3">
            <div v-if="img" class="spec-img" :style="{'background-image': `url(${img})`}"></div>
            <div v-else class="spec-img">
              <h3 style="text-transform:uppercase">{{ name | image }}</h3>
            </div>
          </div>
          <div class="col-lg-9 col-xs-9">
            <div class="spec-little-info">
              <h3>{{ name }}</h3>
              <div class="rating-wrapper">
                <div class="rating mr-25">
                  <span class="rating-text">Рейтинг</span>
                  <star-rating
                    class="ml-10"
                    :rating="this.rating"
                    :increment="0.01"
                    :star-size="15"
                    :read-only="true"
                    :show-rating="false"
                  ></star-rating>
                </div>
                <div>
                  <span class="rating-text">Отзывы</span>
                  <span class="ml-10">{{ reviewCount }}</span>
                </div>
              </div>
              <div class="spec-info">
                <p
                  class="dark-body-text"
                  style="line-height: 1.5em;
                  height: 1.5em;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  width: 100%"
                >{{ cats.join(', ') }}</p>
                <p
                  v-html="desc"
                  v-if="desc"
                  class="desc gray-body-text"
                  style="line-height: 1em;
                  height: 4em;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  width: 100%"
                ></p>
              </div>
              <div class="spec-state2">
                <div v-if="isVisible" class="mr-15 w100" style="float: left">
                  <!--<span class="state-circle" :class="{'state-circle-red': !status}"></span>-->
                  <font-awesome-icon
                    v-if="status"
                    class="geo-icon mr-5"
                    :icon="['fal', 'circle']"
                    style="color:green"
                  />
                  <font-awesome-icon
                    v-else
                    class="geo-icon mr-5"
                    :icon="['fal', 'circle']"
                    style="color:red"
                  />
                  <span>{{ status ? 'Свободен' : 'Не свободен'}}</span>
                </div>
                <div>
                  <font-awesome-icon class="geo-icon mr-5" :icon="['fal', 'map-marker-alt']" />
                  <span>г. Бишкек</span>
                </div>
                <div class="mr-15 mt-15">
                  <font-awesome-icon
                    class="edit mr-5"
                    :icon="['fal', 'pencil-alt']"
                    :class="{ 'online': isVisible }"
                  />
                  <span>{{isVisible ? 'Онлайн запись' : 'Нет онлайн записи'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </router-link>
</template>
<style lang="stylus" scoped>
@import '../styles/main.core.vars.styl';

$spec_height = 250px;

.single-spec {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 0 20px;
  padding: 20px 0 30px;
  max-height: $spec_height;
  min-height: $spec_height;
}

.spec-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: cyan_dark_color;
  margin-left: 5px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    color: #fff;
    margin: 0;
    font-size: 36px;
  }
}

.spec-little-info {
  height: 'calc(%s - 20px)' % $spec_height;
}

.spec-state {
  position: absolute;
  bottom: 10px;
  flex-wrap: wrap;
}

h3 {
  margin-bottom: 10px;
  color: $dark_black_text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spec-info {
  padding: 30px 0 0 0;

  .desc {
    overflow: hidden;
    height: 60px;
  }
}

.online {
  color: #24CEDA;
}

.rating {
  display: flex;
}

@media (max-width: 1200px) {
  .spec-little-info {
    padding-left: 0;
  }

  .location {
    display: flex;
  }
}

@media (max-width: 576px) {
  .spec-little-info {
    padding-left: 20px;
  }

  .location {
    display: none;
  }

  .spec-state2 {
    margin-top: 20px;
  }

  .spec-info {
    padding: 16px 0 0 0;
  }

  .single-spec {
    max-height: none;
  }

  .spec-img[data-v-5a2cea3e] {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 370px) {
  .w100 {
    width: 100%;
    margin-bottom: 10px;
  }
}
</style>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import moment from "moment";
import StarRating from "vue-star-rating";
import http from "@/methods/http.ts";

@Component({
  components: {
    StarRating,
  },
  filters: {
    image(value) {
      return value.trim().substring(0, 1);
    },
  },
})
export default class Specialist extends Vue {
  @Prop(String) name!: string;
  @Prop(Number) rating!: number;
  @Prop(Array) cats: Array;
  @Prop(String) desc: string;
  @Prop(Boolean) state: boolean;
  @Prop(String) address: string;
  @Prop(String) img: string;
  @Prop(String) slug: string;
  @Prop(Boolean) admin: boolean;
  @Prop(String) adminCompany: string;
  @Prop(Boolean) status!: boolean;
  @Prop(Array) company;
  @Prop(Number) reviewCount;

  startDate = moment().format("DD.MM.YYYY");
  isVisible = false;

  getSchedule() {
    let orgs = this.company;
    let orgs_list = [];
    orgs_list.push("-1");
    for (let key in orgs) {
      if (orgs[key].checked === true) {
        orgs_list.push(orgs[key].id);
      }
    }
    http(`masters/${this.slug}/schedule/beta`, "get", false, {
      day: this.startDate,
      day_count: 7,
      orgs: orgs_list,
    }).then((r) => {
      if (r.data.length) {
        this.isVisible = true;
      }
    });
  }

  mounted() {
    this.getSchedule();
  }
}
</script>
