<template>
    <div>
        <div class="page" :style="{ background: background || '' }">
            <slot></slot>
            <div class="modals">
                <AuthModal :opened="$store.state.authModal.state" v-on:close-it="$store.commit('hideAuthModal')"/>
            </div>
        </div>
        <Footer />
        <Notification />
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import AuthModal from '@/components/modals/AuthModal.vue';
import Footer from '@/components/Footer.vue';
import Notification from '@/components/Notification.vue';

@Component({
  components: {
      AuthModal,
      Footer,
      Notification
  },
})
export default class Home extends Vue {
    @Prop(String) background: string
}
</script>
<style lang="stylus">
    @import '../styles/main.core.vars.styl'

    .page
        padding: 30px 0 80px
        background: $gray
        min-height: calc(100vh - 75px - 194px)

    @media (max-width: 1200px) {
        .page {
            padding-bottom: 80px;
        }
    }
    @media (max-width: 576px) {
        .page {
            padding-bottom: 0;
        }
    }
</style>
