<template>
    <transition name="fade">
    <div class="modal-window-wrapper" v-if="opened">
        <div class="modal-window-overlay" @click="$emit('close-it')">

        </div>
        <div class="modal-window-window-wrapper">
            <div class="above-stuff">
                <slot name="above" />
            </div>
            <div class="close-button" @click="$emit('close-it')">
                <font-awesome-icon class="icon close-icon" :icon="['fal', 'times']" />
            </div>
            <div class="modal-window shadow">
                <slot name="main" />
            </div>
        </div>
    </div>
    </transition>
</template>
<style lang="stylus" scoped>
    @import '../styles/main.core.vars.styl'

    .modal-window-wrapper
        display: flex
        align-items: center
        justify-content: center
        position: fixed
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto
        z-index: 1

    .modal-window-overlay
        position: fixed
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.7)
    
    .modal-window
        padding: 20px 20px 30px
        border-radius: 4px
        background: #fff
        position: relative

    .modal-window-window-wrapper
        display: inline-block
        position: relative
        width: 320px

    .close-button
        background: $red_color
        width: 32px
        height: 37px
        justify-content: center
        align-items: center
        display: flex
        margin-bottom: -2px
        border-top-right-radius: 4px
        border-top-left-radius: 4px
        position: absolute
        right: 10px
        top: -32px
        padding-bottom: 5px
        cursor: pointer
        transition: 0.3s
        .icon
            color: #fff
            font-size: 12px
        &:hover
            transform: translateY(-5px)

    .above-stuff
        position: absolute
        top: 0
        left: 0

    .close-icon
        font-size: 12px
</style>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class ModalWrapper extends Vue {
    @Prop(Boolean) opened: boolean;
}

</script>
