<template>
  <MainWrapper>
    <div class="single-master-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="mb-30">Мои записи</h3>
            <!--
                    <div class="gray-line mb-15" v-if="$store.state.profile.is_specialist"></div>
                    <div class="filters mb-15" v-if="$store.state.profile.is_specialist">
                        <span v-if="view === 'user'" @click="getReservations" class="single-filter pointer mr-30"><span><strong>Мои записи</strong></span></span>
                        <span v-else="" @click="getReservations" class="single-filter pointer mr-30"><span>Мои записи</span></span>
                        <span v-if="view === 'spec'" @click="getSpecReservations" class="single-filter pointer mr-30"><span><strong>Клиенты на прием</strong></span></span>
                        <span v-else="" @click="getSpecReservations" class="single-filter pointer mr-30"><span>Клиенты на прием</span></span>
                    </div>
            -->
            <div class="gray-line mb-15"></div>
            <div class="filters mb-15">
              <div
                @click="setStatus(filter.param)"
                class="single-filter pointer mr-30"
                v-for="(filter, i) in filters"
                :key="i"
              >
                <div
                  class="filter-icon mr-10"
                  :style="{ border: `1px solid ${filter.color}` }"
                >
                  <font-awesome-icon
                    class="icon"
                    :icon="['fal', filter.icon]"
                    :style="{ color: filter.color }"
                  ></font-awesome-icon>
                </div>
                <span>{{ filter.name }}</span>
              </div>
            </div>
            <div class="gray-line mb-20"></div>
          </div>
        </div>

        <div
          v-if="itemlist_count > 0"
          class="row"
          v-for="(itm, k) in itemlist"
          :key="k"
        >
          <div class="col-lg-12">
            <p class="dark-body-text uppercase mb-30 mt-10">{{ k }}</p>
          </div>
          <div class="col-lg-3" v-for="(i, k) in itm" :key="k">
            <div class="order white-panel pt-20 pb-20 pl-20 pr-20 mb-20">
              <div
                v-if="i.status === 'armored'"
                class="state-line"
                :style="{ 'background-color': '#F2C94C' }"
              ></div>
              <div
                v-if="i.status === 'confirmed'"
                class="state-line"
                :style="{ 'background-color': '#27AE60' }"
              ></div>
              <div
                v-if="i.status === 'success'"
                class="state-line"
                :style="{ 'background-color': '#2F80ED' }"
              ></div>
              <div
                v-if="i.status === 'refused'"
                class="state-line"
                :style="{ 'background-color': '#EB5757' }"
              ></div>
              <div class="mb-15 state">
                <p class="dark-body-text">{{ i.date }}</p>
                <font-awesome-icon
                  v-if="i.status === 'armored'"
                  class="icon"
                  :style="{ color: '#F2C94C' }"
                  :icon="['fal', 'calendar-plus']"
                ></font-awesome-icon>
                <font-awesome-icon
                  v-else-if="i.status === 'confirmed'"
                  class="icon"
                  :style="{ color: '#27AE60' }"
                  :icon="['fal', 'calendar-check']"
                ></font-awesome-icon>
                <font-awesome-icon
                  v-else-if="i.status === 'success'"
                  class="icon"
                  :style="{ color: '#2F80ED' }"
                  :icon="['fal', 'calendar-alt']"
                ></font-awesome-icon>
                <font-awesome-icon
                  v-else-if="i.status === 'refused'"
                  class="icon"
                  :style="{ color: '#EB5757' }"
                  :icon="['fal', 'calendar-times']"
                ></font-awesome-icon>
              </div>
              <div class="gray-line mb-15"></div>
              <div class="mb-15 spec-desc">
                <!--div class="spec-avatar mr-10"></div-->
                <div>
                  <div v-if="view === 'user'" class="dark-body-text-small">
                    Специалист
                  </div>
                  <div v-else class="dark-body-text-small">Клиент</div>
                  <span>{{ i.name }}</span>
                </div>
              </div>
              <div v-if="i.org !== ''" class="mb-15 spec-desc">
                <div>
                  <div class="dark-body-text-small">Организация</div>
                  <span>{{ i.org }}</span>
                </div>
              </div>
              <div class="mb-15 spec-desc">
                <font-awesome-icon
                  class="icon blue-icon mr-10"
                  :icon="['fal', 'address-card']"
                  fixed-width
                ></font-awesome-icon>
                <div>
                  <div class="dark-body-text-small">Наименование</div>
                  <span>{{ i.service }}</span>
                </div>
              </div>
              <div class="mb-15 spec-desc">
                <font-awesome-icon
                  class="icon green-icon mr-10"
                  :icon="['fal', 'clock']"
                  fixed-width
                ></font-awesome-icon>
                <div>
                  <div class="dark-body-text-small">Время записи</div>
                  <span>{{ i.time }}</span>
                </div>
              </div>
              <div class="mb-15 spec-desc">
                <font-awesome-icon
                  class="icon blue-icon mr-10"
                  :icon="['fal', 'map-marker-alt']"
                  fixed-width
                ></font-awesome-icon>
                <div>
                  <div class="dark-body-text-small">Адрес</div>
                  <span>{{ i.address.replace(/:::::/g, ", ") }}</span>
                </div>
              </div>
              <div class="gray-line mb-15"></div>
              <div class="state">
                <div style="width: 250px">
                  <p class="dark-body-text-small mb-5">Статус</p>
                  <p v-if="i.status === 'armored'">Забронировано</p>
                  <p v-else-if="i.status === 'confirmed'">Подтвержден</p>
                  <p v-else-if="i.status === 'success'">Выполнено</p>
                  <p v-else-if="i.status === 'refused'">Отказано</p>
                  <p v-if="i.comment" class="dark-body-text-small mt-15 mb-5">
                    Примечание
                  </p>
                  <p v-if="i.comment">{{ i.comment }}</p>
                </div>
                <Button
                  v-if="
                    view !== 'spec' &&
                    (i.status === 'armored' || i.status === 'confirmed')
                  "
                  @click="cancelReserve(i.id)"
                  text="Отменить"
                  type="gray"
                />
                <!--
                            <div v-if="view === 'spec' && i.status === 'armored'" @click="updateStatus(i.id, 'confirmed')" class="single-filter pointer">
                                <div class="filter-icon mr-10" style="border: 1px solid #27AE60">
                                    <font-awesome-icon class="icon" :icon="['fal', 'calendar-check']" style="margin:auto;color: #27AE60" />
                                </div>
                            </div>
                            <div v-if="view === 'spec' && i.status === 'armored'" @click="updateStatus(i.id, 'refused')" class="single-filter pointer">
                                <div class="filter-icon" style="border: 1px solid #EB5757">
                                    <font-awesome-icon class="icon" :icon="['fal', 'calendar-times']" style="margin:auto;color: #EB5757" />
                                </div>
                            </div>
                -->
              </div>
            </div>
          </div>
        </div>
        <!--div v-else="" class="row">
                <div class="col-lg-12">
                    <p class="dark-body-text uppercase mb-30 mt-10">Записей нет</p>
                </div>
        </div-->

        <!--div class="row" v-for="(i, k) in Array(3)" :key="k">
                <div class="col-lg-12">
                    <p class="dark-body-text uppercase mb-30 mt-10">07 августа 2018</p>
                </div>
                <div class="col-lg-3" v-for="(i, k) in Array(5)" :key="k">
                    <div class="order white-panel pt-20 pb-20 pl-20 pr-20 mb-20">
                        <div class="state-line" :style="{ 'background-color': '#F2C94C' }"></div>
                        <div class="mb-15 state">
                            <p class="dark-body-text">07 августа 2018</p>
                            <font-awesome-icon class="icon" :style="{ color: '#F2C94C' }" :icon="['fal', 'calendar-plus']" />
                        </div>
                        <div class="gray-line mb-15"></div>
                        <div class="mb-15 spec-desc">
                            <div class="spec-avatar mr-10">

                            </div>
                            <div>
                                <div class="dark-body-text-small">
                                    Специалист
                                </div>
                                <span>Туркенич Елена Владимировна</span>
                            </div>
                        </div>
                        <div class="mb-15 spec-desc">
                            <font-awesome-icon class="icon green-icon mr-10" :icon="['fal', 'clock']" fixed-width />
                            <div>
                                <div class="dark-body-text-small">
                                    Время записи
                                </div>
                                <span>17:34 - 18:00</span>
                            </div>
                        </div>
                        <div class="mb-15 spec-desc">
                            <font-awesome-icon class="icon blue-icon mr-10" :icon="['fal', 'map-marker-alt']" fixed-width />
                            <div>
                                <div class="dark-body-text-small">
                                    Адрес
                                </div>
                                <span>г. Бишкек ул. Исанова 60 (пер. Токтогула)</span>
                            </div>
                        </div>
                        <div class="gray-line mb-15">
                        </div>
                        <div class="state">
                            <div class="mr-15">
                                <p class="dark-body-text-small mb-5">
                                    Статус
                                </p>
                                <p>Забронировано</p>
                            </div>
                            <Button text="Отменить" type="gray" />
                        </div>
                    </div>
                </div>
        </div-->
      </div>
    </div>
    <div
      v-if="cancelForm == true"
      style="
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99;
      "
    >
      <div
        style="
          position: absolute;
          width: 400px;
          height: 200px;
          top: 50%;
          left: 50%;
          background: #ffffff;
          margin: -100px 0 0 -200px;
          padding: 20px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
          border-radius: 4px;
        "
      >
        <h3 class="mb-10">Отмена записи</h3>
        <p class="mb-30">Вы действительно хотите отменить запись?</p>
        <div>
          <div class="mr-10 inline-block">
            <Button
              type="blue"
              text="Подтвердить"
              @click="deleteReserve(cancelRecId)"
            />
          </div>
          <div class="inline-block">
            <Button type="gray" text="Отмена" @click="cancelForm = false" />
          </div>
        </div>
      </div>
    </div>
  </MainWrapper>
</template>
<style lang="stylus" scoped>
@import '../../styles/main.core.vars.styl';

.single-filter {
  display: inline-flex;
  align-items: center;

  .filter-icon {
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
}

.spec-avatar {
  width: 30px;
  height: 30px;
  background: #ccc;
  border-radius: 100%;
}

.spec-desc {
  display: flex;
  align-items: flex-start;
}

.icon {
  font-size: 18px;
}

.green-icon {
  color: #27AE60;
}

.blue-icon {
  color: #24CEDA;
}

.state {
  display: flex;
  align-items: center;

  .icon {
    margin-left: auto;
  }
}

.order {
  position: relative;
  overflow: hidden;
}

.state-line {
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  top: 0;
}

@media screen and (max-width: 624px) {
  .filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .single-filter {
      width: 40%;
      margin: 0 0 10px 0;

      .filter-icon {
        width: 32px;
        height: 32px;

        .icon {
          font-size: 16px;
        }
      }
    }
  }
}
</style>
<script>
import { Component, Vue, Watch } from "vue-property-decorator";
import MainWrapper from "@/wrappers/MainWrapper.vue";
import Button from "@/components/Button.vue";
import News from "@/components/News.vue";
import Paginator from "@/components/Paginator.vue";
import moment from "moment";
import http from "@/methods/http.ts";

@Component({
  components: {
    MainWrapper,
    Button,
    News,
    Paginator,
  },
})
export default class SingleNews extends Vue {
  filters = [
    {
      icon: "calendar-plus",
      color: "#F2C94C",
      name: "Забронирован",
      param: "armored",
    },
    {
      icon: "calendar-check",
      color: "#27AE60",
      name: "Подтвержден",
      param: "confirmed",
    },
    {
      icon: "calendar-times",
      color: "#EB5757",
      name: "Отказано",
      param: "refused",
    },
    {
      icon: "calendar-alt",
      color: "#2F80ED",
      name: "Выполнено",
      param: "success",
    },
  ];

  cancelForm = false;
  cancelRecId = 0;

  view = "user";
  status = "";
  itemlist = [];
  itemlist_count = 0;
  specInfo = [];

  setStatus(param) {
    this.status = param;
    if (this.view === "user") {
      this.getReservations();
    } else {
      this.getSpecReservations();
    }
  }

  updateStatus(id, status) {
    http("reservation/update", "post", this.$store.state.token, {
      id: id,
      status: status,
    }).then(
      (r) => {
        if (r.data.success === true) {
          this.getSpecReservations();
          this.$store.commit("notificate", {
            type: "action",
            text: "Заявка обновлена",
          });
        }
      },
      (error) => {
        this.$store.commit("notificate", {
          type: "alert",
          text: error.response.data.message,
        });
      }
    );
  }

  getSpecReservations() {
    let info = {};
    let item_list = {};
    this.view = "spec";
    let url =
      "masters/" + this.$store.state.profile.specialist_slug + "/reservations";
    http(url, "get", this.$store.state.token, {
      status: this.status,
      sort: "reservation_time_desc",
    }).then((r) => {
      if (r.data.length > 0) {
        let index, s_time, e_time, subindex;
        moment.locale("ru");
        r.data.forEach(function (element) {
          index = moment(
            element.date_time_reservation,
            "DD.MM.YYYY HH:mm"
          ).format("DD MMMM YYYY");
          s_time = moment(
            element.date_time_reservation,
            "DD.MM.YYYY HH:mm"
          ).format("HH:mm");
          e_time = moment(element.duration, "HH:mm:ss").format("HH:mm");
          e_time = moment(e_time, "HH:mm").diff(
            moment().startOf("day"),
            "seconds"
          );
          e_time = moment(element.date_time_reservation, "DD.MM.YYYY HH:mm")
            .add(e_time, "seconds")
            .format("HH:mm");
          subindex = element.id;
          info = {
            id: element.id,
            date: index,
            time: s_time + " - " + e_time,
            name: element.client_name,
            service: element.service,
            address: element.street_address,
            comment: element.comment,
            status: element.status,
          };
          if (item_list[index]) {
            item_list[index][subindex] = info;
          } else {
            item_list[index] = { [subindex]: info };
          }
        });
      }
      this.itemlist = item_list;
      this.itemlist_count = r.data.length;
    });
  }

  getReservations() {
    let info = {};
    let item_list = {};
    this.view = "user";
    http("user/reservations", "get", this.$store.state.token, {
      status: this.status,
    }).then((r) => {
      if (r.data.count > 0) {
        let index, s_time, e_time, subindex;
        moment.locale("ru");
        r.data.results.forEach(function (element) {
          index = moment(
            element.date_time_reservation,
            "DD.MM.YYYY HH:mm"
          ).format("DD MMMM YYYY");
          s_time = moment(
            element.date_time_reservation,
            "DD.MM.YYYY HH:mm"
          ).format("HH:mm");
          e_time = moment(element.duration, "HH:mm:ss").format("HH:mm");
          e_time = moment(e_time, "HH:mm").diff(
            moment().startOf("day"),
            "seconds"
          );
          e_time = moment(element.date_time_reservation, "DD.MM.YYYY HH:mm")
            .add(e_time, "seconds")
            .format("HH:mm");
          subindex = element.id;
          info = {
            id: element.id,
            date: index,
            time: s_time + " - " + e_time,
            name: element.master_name,
            org: element.org_name,
            service: element.service,
            address: element.street_address,
            comment: element.comment,
            status: element.status,
          };
          if (item_list[index]) {
            item_list[index][subindex] = info;
          } else {
            item_list[index] = { [subindex]: info };
          }
        });
      }
      this.itemlist = item_list;
      this.itemlist_count = r.data.count;
    });
  }

  cancelReserve(id) {
    this.cancelRecId = id;
    this.cancelForm = true;
  }

  deleteReserve(id) {
    http(
      `user/reservation/${id}/delete`,
      "delete",
      this.$store.state.token,
      {}
    ).then((r) => {
      this.cancelRecId = 0;
      this.cancelForm = false;
      this.getReservations();
    });
  }

  created() {
    this.getReservations();
  }
}
</script>