<template>
  <div id="app">
    <HeaderApp></HeaderApp>
    <router-view />
    <FixedSocial />
    <WelcomeSpecialist
      :opened="isModalOpened"
      @close-it="() => (isModalOpened = !isModalOpened)"
    ></WelcomeSpecialist>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import { mapActions, mapState, mapGetters, mapMutations } from "vuex";
import * as firebase from "firebase/app";
import "firebase/messaging";

import HeaderApp from "@/components/HeaderApp.vue";
import FixedSocial from "@/components/FixedSocial.vue";

import WelcomeSpecialist from "@/components/modals/WelcomeSpecialist.vue";
import axios from "axios";

import http from "@/methods/http.ts";

const config = {
  apiKey: "AIzaSyAE0C5omlWMgf4aBJB3qKqygp6UhNTkzQs",
  authDomain: "checkin-notification-260ed.firebaseapp.com",
  databaseURL: "https://checkin-notification-260ed.firebaseio.com",
  projectId: "checkin-notification-260ed",
  storageBucket: "checkin-notification-260ed.appspot.com",
  messagingSenderId: "114594238374",
  appId: "1:114594238374:web:8b180f06f96a1a2fac0967",
  measurementId: "G-QEZB3C5Z27",
};
firebase.initializeApp(config);

@Component({
  components: {
    HeaderApp,
    WelcomeSpecialist,
    FixedSocial,
  },
  methods: {
    ...mapActions([
      "initNotifications",
      "addNotification",
      "initToken",
      "initToken",
    ]),
    ...mapMutations(["setProfile"]),
    ...mapGetters(["getFirebaseIsInit"]),
  },
  computed: mapState(["profile"]),
})
export default class App extends Vue {
  get authState() {
    return this.$store.state.authenticated;
  }

  isModalOpened = false;

  @Watch("authState", { immediate: true, deep: true })
  onAuthChange() {
    if (this.authState) {
      this.getProfile();
      this["$cookie"].set("token", this.$store.state.token, 7);
    }
  }

  initCloudMessaging() {
    if (firebase.messaging.isSupported) {
      const messaging = firebase.messaging();

      messaging.usePublicVapidKey(
        "BO2aUk_t4oODx02LJpT5NIkl2m4-FAktsihiokX15twRRFAAwe1WWFrdL2kig2vYhlllm0cV0CkKnXSDlfytBbw"
      ); // 1. Generate a new key pair

      // Request Permission of Notifications
      messaging
        .requestPermission()
        .then(() => {
          console.log("Notification permission granted.");

          // Get Token
          messaging.getToken().then((token) => {
            console.log(token);
            /**  FIREBASe*/
            if (this["$cookie"].get("FIREBASE_client_token")) {
              localStorage.setItem("FIREBASE_is_init", null);
            }
            this["$cookie"].set("FIREBASE_client_token", token);
          });
        })
        .catch((err) => {
          console.log("Unable to get permission to notify.", err);
          Notification.requestPermission().then((permission) => {
            if (permission === "granted") {
              location.reload();
            }
          });
        });

      messaging.onMessage((payload) => {
        console.log({ background: false, payload });
        this["addNotification"]({
          notification: payload.data,
          token: this["$cookie"].get("token"),
        });
      });
    }
  }

  getProfile() {
    http("user/info", "get", this.$store.state.token, {}).then((r) => {
      this["setProfile"](r.data);
      this["$cookie"].set("user_id", r.data.user_ptr_id);
    });
  }

  mounted() {
    this.initCloudMessaging();

    if (this["$cookie"].get("token")) {
      if (this["$cookie"].get("FIREBASE_client_token")) {
        console.log({ profile: this["profile"] });
        this["initNotifications"](this["$cookie"].get("token"));
        const userId = this["$cookie"].get("user_id");
        const token = this["$cookie"].get("FIREBASE_client_token");
        if (!this["getFirebaseIsInit"]()) {
          this["initToken"]({ userId: parseInt(userId), token });
        }
      }

      this.$store.commit("setToken", this["$cookie"].get("token"));
      this.$store.commit("authenticate");
    }
  }
}
</script>

<style lang="stylus">
@import '/styles/main.core.vars.styl';
@import '/styles/mixins.styl';

#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #250900;
  font-size: 13px;
}

.checkbox {
  margin: 0;
  padding: 0;
}

* {
  outline: 0;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  margin: 0;
  color: $dark_black_text;
}

p {
  margin: 0;
}

h1 {
  font-size: 30px;
  color: cyan_dark_color;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

.dark-body-text {
  font-weight: 700;
  color: $dark_black_text;
}

.dark-body-text-small {
  font-weight: 700;
  color: $dark_black_text;
  font-size: 10px;
}

.gray-body-text {
  color: $dark_gray_text;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave {
  opacity: 1;
}

.no-p {
  padding: 0;
}

.no-m {
  margin: 0;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

.spec-state {
  >div {
    display: flex;
    align-items: center;
  }
}

.white-panel {
  background: #fff;
  box-shadow: $box_shadow;
  border-radius: 4px;
}

.gray-line {
  width: 100%;
  height: 1px;
  background: $light_gray;
}

.light-gray-line {
  width: 100%;
  height: 1px;
  background: $very_light_gray;
}

.very-light-gray-line {
  width: 100%;
  height: 1px;
  background: #e8e8e8;
}

.double-line {
  width: 100%;

  >div:first-child {
    height: 1px;
    background: #2BD6E2;
  }

  >div:last-child {
    height: 1px;
    background: #1EC7D2;
  }
}

.spec-state {
  display: flex;
  align-items: center;
}

.state-circle {
  background: $green_color;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.state-circle-red {
  background: $red_color;
}

.geo-icon {
  color: $cyan_dark_color;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.rating-wrapper {
  /* display: flex;
  align-items: center; */
}

.rating-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: $dark_gray_text;
}

.star {
  color: $light_gray;
  margin-right: 4px;
}

.yellow-star.star {
  color: $yellow_color;
}

.shadow {
  box-shadow: $box_shadow;
}

.animated-shadow {
  box-shadow: $box_shadow;
  transition: 0.3s;
}

.animated-shadow:hover {
  box-shadow: $box_shadow_more;
}

.animated-shadow:active {
  box-shadow: $box_shadow_less;
}

.rounded-input {
  border-radius: 29px;
  width: 255px;
  max-width: 100%;
  border: 1px solid $light_gray;
  padding: 10px 20px;
  background: #fff;

  :placeholder {
    color: rgba(51, 51, 51, 0.5);
  }
}

.checkbox {
  background: $light_gray;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  padding: 0px 4px 0px 3px;
  justify-content: center;
  display: flex;
  align-items: center;

  .checkbox-check {
    display: none;
    color: #fff;
    font-size: 12px;
  }
}

.checkbox.pressed {
  background: cyan_dark_color;

  .checkbox-check {
    color: #fff;
    display: block;
  }
}

.underlined {
  text-decoration: underline;
}

.modal-tabs-wrapper {
  position: absolute;
  top: -36px;
  display: flex;
}

.round-button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  >.icon {
    color: $gray_text;
    font-size: 20px;
  }

  &:hover {
    >.icon {
      color: $dark_gray_text;
    }
  }
}

.modal-tab {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: $light_gray;
  padding: 10px 10px 15px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: translateY(-5px);
  }

  &.active {
    background: cyan_dark_color;
    color: #fff;
  }
}

.uppercase {
  text-transform: uppercase;
}

.tab {
  margin-bottom: -1px;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}

.tab.active, .tab.router-link-exact-active {
  text-decoration: none;
  border-bottom: 1px solid cyan_dark_color;
}

.red-body-text {
  color: $red_color;
}

.tag {
  background: $very_light_gray;
  padding: 10px 15px;
  border-radius: 8px;
}

.som {
  text-decoration: underline;
}

.companies-control-panel {
  margin-top: -30px;
  height: 56px;
  background: $black_text;

  .panel-body-text, .panel-icon {
    color: #fff;
  }

  &-inner {
    height: 56px;
    display: flex;
    align-items: center;
  }

  input {
    width: 430px;
  }
}

.rounded-input.time-picker input.display-time {
  border: 0;
  width: 100%;
  padding: 0;
}

.time-picker.rounded-input {
  padding: 3px 20px;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='bottom'] {
  margin-top: 5px;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='right'] {
  margin-left: 5px;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^='left'] {
  margin-right: 5px;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

.loader {
  display: flex;
  justify-content: center;
}

.pull-right {
  margin-left: auto;
}

.header-link.router-link-active {
  .panel-body-text {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .scroller {
    overflow-x: auto;

    .day {
      min-width: 130px;
    }
  }
}

@media screen and (max-width: 600px) {
  // a.mr-20 {
  // margin-right: 0 !important;
  // }
  div.pull-right {
    margin-left: 0 !important;
  }

  .companies-control-panel-inner {
    flex-wrap: wrap;
    justify-content: space-between;

    .pull-right {
      margin-left: none !important;
    }

    svg {
      margin-right: 3px !important;
    }
  }
}
</style>

